force-app/main/default/flows/Account_Owner_Assignment_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_English_Email</name>
        <label>Send English Email</label>
        <locationX>336</locationX>
        <locationY>1358</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Screen_New_Owner_assigned</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Notification_Email_Body_English</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>User_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Notification_Email_Subject_English</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_German_Email</name>
        <label>Send German Email</label>
        <locationX>72</locationX>
        <locationY>1358</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Screen_New_Owner_assigned</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Notification_Emal_Body_German</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>User_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Notification_Email_Subject_German</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Email_Recipient_and_Starting_User_identical</name>
        <label>Email Recipient and Starting User identical?</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Email_Template_English_or_German</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Identical</defaultConnectorLabel>
        <rules>
            <name>Identical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.AD_Login_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>User_AD_Login_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_New_Owner_assigned</targetReference>
            </connector>
            <label>Identical</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Template_English_or_German</name>
        <label>Email Template English or German?</label>
        <locationX>204</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>Send_English_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>English</defaultConnectorLabel>
        <rules>
            <name>German</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_German_Email</targetReference>
            </connector>
            <label>German</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Integration_User_the_Account_Owner</name>
        <label>Is the Integration User the Account Owner?</label>
        <locationX>594</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Screen_Owner_Change_not_allowed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not integration User</defaultConnectorLabel>
        <rules>
            <name>Integration_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Owner.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Owner.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Profile</targetReference>
            </connector>
            <label>Integration User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_running_User_an_Admin_or_GBL</name>
        <label>Is the running User an Admin or GBL?</label>
        <locationX>325</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Screen_Owner_Change_only_GBL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Admin or GBL</defaultConnectorLabel>
        <rules>
            <name>Admin_or_GBL</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Gebietsbereichsleiter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Assign_Record_Questions</targetReference>
            </connector>
            <label>Admin or GBL</label>
        </rules>
    </decisions>
    <description>:: Allows Gebietsbereichsleitern to assign a new Owner for an Account</description>
    <environments>Default</environments>
    <formulas>
        <name>Account_Link</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Api.Enterprise_Server_URL_550} , FIND(&apos;/services&apos;, {!$Api.Enterprise_Server_URL_550})) + {!recordId}</expression>
    </formulas>
    <interviewLabel>Account Owner Assignment Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Owner Assignment Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>594</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Account_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Owner_Id</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Owner</name>
        <label>Get Account Owner</label>
        <locationX>594</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_Integration_User_the_Account_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Owner_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LU_User.recordId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>User_AD_Login_Name</assignToReference>
            <field>AD_Login_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>User_Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>User_First_Name</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>User_Language</assignToReference>
            <field>LanguageLocaleKey</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>User_Last_Name</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Profile</name>
        <label>Get User Profile</label>
        <locationX>325</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_running_User_an_Admin_or_GBL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ProfileId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Email_Recipient_and_Starting_User_identical</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LU_User.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Screen_Assign_Record_Questions</name>
        <label>Screen_Assign Record Questions</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <fields>
            <name>DT_User_Assignment</name>
            <fieldText>&lt;p&gt;Which User should become the new Owner of this Account?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LU_User</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>New Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_New_Owner_assigned</name>
        <label>Screen_New Owner assigned</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_Owner_assigned</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!User_First_Name} {!User_Last_Name}&lt;/strong&gt; has been assigned as the new Owner of the Account &lt;strong&gt;{!Account_Name} &lt;/strong&gt;and will be notified via Email.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Owner_Change_not_allowed</name>
        <label>Screen_Owner Change not allowed</label>
        <locationX>864</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_Owner_Change_not_allowed</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The Owner of this Account can only be changed by the Owner.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Owner_Change_only_GBL</name>
        <label>Screen_Owner Change only GBL</label>
        <locationX>600</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_Owner_Change_only_GBL</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;The Owner of this Account can only be changed by a Gebietsbereichsleiter or Administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>468</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Notification_Email_Body_English</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!User_First_Name} {!User_Last_Name},

You have been assigned as the new Owner of the Account {!Account_Name} by {!$User.FirstName} {!$User.LastName}.

Follow this link for details about the Account: {!Account_Link} 

Best regards,
Your Zeppelin Salesforce Team</text>
    </textTemplates>
    <textTemplates>
        <name>Notification_Email_Subject_English</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new Account has been assigned to you</text>
    </textTemplates>
    <textTemplates>
        <name>Notification_Email_Subject_German</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dir wurde ein neuer Account zugewiesen.</text>
    </textTemplates>
    <textTemplates>
        <name>Notification_Emal_Body_German</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hallo {!User_First_Name} {!User_Last_Name}, 

dir wurde der Account {!Account_Name} von {!$User.FirstName} {!$User.LastName} zugewiesen.

Logge dich ein, um mehr über den Account zu erfahren: {!Account_Link}

Viele Grüße,
dein Zeppelin Salesforce Team</text>
    </textTemplates>
    <variables>
        <name>Account_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Owner_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User_AD_Login_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User_First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User_Language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User_Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
