force-app/main/default/flows/Convert_Account_Lead_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Account_Role_to_existing_Account_Roles</name>
        <label>Add Account Role to existing Account Roles</label>
        <locationX>3581</locationX>
        <locationY>5330</locationY>
        <assignmentItems>
            <assignToReference>Cleaned_Account_RoleText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cleaned_Account_RoleText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Project_Account_Lead_Relations_Merge_Account.Account_Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Values_for_Project_Account_Relation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Lead_City_to_Variable</name>
        <label>Assign Account Lead City to Variable</label>
        <locationX>2030</locationX>
        <locationY>2990</locationY>
        <assignmentItems>
            <assignToReference>City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Merge_Account_City</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Country_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Lead_Country_to_Variable</name>
        <label>Assign Account Lead Country to Variable</label>
        <locationX>1766</locationX>
        <locationY>3290</locationY>
        <assignmentItems>
            <assignToReference>Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Merge_Account_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ibau_or_Infobau_Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Lead_Email_to_Variable</name>
        <label>Assign Account Lead Email to Variable</label>
        <locationX>2030</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Merge_Account_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_variable_filled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Lead_Fax_to_Variable</name>
        <label>Assign Account Lead Fax to Variable</label>
        <locationX>2030</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>Fax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Merge_Account_Fax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Phone_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Lead_Phone_to_Variable</name>
        <label>Assign Account Lead Phone to Variable</label>
        <locationX>2030</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Merge_Account_Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Website_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Lead_Postal_Code_to_Variable</name>
        <label>Assign Account Lead Postal Code to Variable</label>
        <locationX>2030</locationX>
        <locationY>2690</locationY>
        <assignmentItems>
            <assignToReference>Postal_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Merge_Account_Postal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_City_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Lead_Street_to_Variable</name>
        <label>Assign Account Lead Street to Variable</label>
        <locationX>2030</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Merge_Account_Street</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Postal_Code_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Lead_Website_to_Variable</name>
        <label>Assign Account Lead Website to Variable</label>
        <locationX>2030</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Merge_Account_Website</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Street_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ibau_to_Variable</name>
        <label>Assign Ibau to Variable</label>
        <locationX>710</locationX>
        <locationY>3782</locationY>
        <assignmentItems>
            <assignToReference>Ibau_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Ibau_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prospect_or_Customer_Merge_Ibau</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Infobau_to_Variable</name>
        <label>Assign Infobau to Variable</label>
        <locationX>2558</locationX>
        <locationY>3782</locationY>
        <assignmentItems>
            <assignToReference>Infobau_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Infobau_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prospect_or_Customer_Merge_Infobau</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_City_to_Variable</name>
        <label>Assign Lead City to Variable</label>
        <locationX>1766</locationX>
        <locationY>2990</locationY>
        <assignmentItems>
            <assignToReference>City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_City</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Country_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Country_to_Variable</name>
        <label>Assign Lead Country to Variable</label>
        <locationX>2030</locationX>
        <locationY>3290</locationY>
        <assignmentItems>
            <assignToReference>Country_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Country_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ibau_or_Infobau_Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Email_to_Variable</name>
        <label>Assign Lead Email to Variable</label>
        <locationX>1766</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_variable_filled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Fax_to_Variable</name>
        <label>Assign Lead Fax to Variable</label>
        <locationX>1766</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>Fax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Fax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Phone_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Phone_to_Variable</name>
        <label>Assign Lead Phone to Variable</label>
        <locationX>1766</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Website_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Postal_Code_to_Variable</name>
        <label>Assign Lead Postal Code to Variable</label>
        <locationX>1766</locationX>
        <locationY>2690</locationY>
        <assignmentItems>
            <assignToReference>Postal_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Postal_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_City_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Street_to_Variable</name>
        <label>Assign Lead Street to Variable</label>
        <locationX>1766</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Street</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Postal_Code_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Website_to_Variable</name>
        <label>Assign Lead Website to Variable</label>
        <locationX>1766</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Website</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Street_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Placeholder_to_Email_Variable</name>
        <label>Assign Placeholder to Email Variable</label>
        <locationX>4406</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>E_Email.placeholder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ARGE_Prospect_or_Prospect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Account_Relation_to_Collection</name>
        <label>Assign Project Account Relation to Collection</label>
        <locationX>3845</locationX>
        <locationY>5330</locationY>
        <assignmentItems>
            <assignToReference>Project_Account_Relation_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Project_Account_Relation_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Project_Account_Lead_Relations_Merge_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_to_Email_Variable</name>
        <label>Assign Value to Email Variable</label>
        <locationX>4670</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>E_Email.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ARGE_Prospect_or_Prospect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_for_Project_Account_Relation</name>
        <label>Assign Values for Project Account Relation</label>
        <locationX>3845</locationX>
        <locationY>5222</locationY>
        <assignmentItems>
            <assignToReference>Project_Account_Relation_Single.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project_Account_Relation_Single.Account_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Project_Account_Lead_Relations_Merge_Account.Account_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project_Account_Relation_Single.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Project_Account_Lead_Relations_Merge_Account.Project__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Project_Account_Relation_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clean_Account_Roles</name>
        <label>Clean Account Roles</label>
        <locationX>3669</locationX>
        <locationY>5006</locationY>
        <assignmentItems>
            <assignToReference>Cleaned_Account_RoleText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Cleaned_Account_Role_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_Account_Relation_already_existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>False_Save_without_Email_Value_Assignment</name>
        <label>False Save without Email Value Assignment</label>
        <locationX>1766</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Save_without_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Fax_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>True_Save_without_Email_Value_Assignment</name>
        <label>True Save without Email Value Assignment</label>
        <locationX>2030</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Save_without_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Fax_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Project_Account_Relation_to_Collection</name>
        <label>Update Project Account Relation to Collection</label>
        <locationX>3581</locationX>
        <locationY>5546</locationY>
        <assignmentItems>
            <assignToReference>Update_Project_Account_Relation_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Project_Account_Relation_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Project_Account_Lead_Relations_Merge_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Values_for_Project_Account_Relation</name>
        <label>Update Values for Project Account Relation</label>
        <locationX>3581</locationX>
        <locationY>5438</locationY>
        <assignmentItems>
            <assignToReference>Project_Account_Relation_Single.Account_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cleaned_Account_RoleText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project_Account_Relation_Single.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Project_Account_Relation_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_Account_Relation_to_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_Convert</name>
        <choiceText>Convert into a Prosepct</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Choice_Merge</name>
        <choiceText>Merge Account into an existing Account</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Account_City_Empty</name>
        <label>Account City Empty</label>
        <locationX>1898</locationX>
        <locationY>2882</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Lead_City_to_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>City filled</defaultConnectorLabel>
        <rules>
            <name>City_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Merge_Account_City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_City_to_Variable</targetReference>
            </connector>
            <label>City empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Country_Empty</name>
        <label>Account Country Empty</label>
        <locationX>1898</locationX>
        <locationY>3182</locationY>
        <defaultConnector>
            <targetReference>Assign_Lead_Country_to_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Country filled</defaultConnectorLabel>
        <rules>
            <name>Country_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Merge_Account_Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Lead_Country_to_Variable</targetReference>
            </connector>
            <label>Country empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Email_Empty</name>
        <label>Account Email Empty</label>
        <locationX>1898</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Lead_Email_to_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email filled</defaultConnectorLabel>
        <rules>
            <name>Email_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Merge_Account_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Email_to_Variable</targetReference>
            </connector>
            <label>Email empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Fax_Empty</name>
        <label>Account Fax Empty</label>
        <locationX>1898</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Lead_Fax_to_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fax filled</defaultConnectorLabel>
        <rules>
            <name>Fax_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Merge_Account_Fax</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Fax_to_Variable</targetReference>
            </connector>
            <label>Fax empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Phone_Empty</name>
        <label>Account Phone Empty</label>
        <locationX>1898</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Lead_Phone_to_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Phone filled</defaultConnectorLabel>
        <rules>
            <name>Phone_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Merge_Account_Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Phone_to_Variable</targetReference>
            </connector>
            <label>Phone empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Postal_Code_Empty</name>
        <label>Account Postal Code Empty</label>
        <locationX>1898</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Lead_Postal_Code_to_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Postal Code filled</defaultConnectorLabel>
        <rules>
            <name>Postal_Code_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Merge_Account_Postal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Postal_Code_to_Variable</targetReference>
            </connector>
            <label>Postal Code empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Street_Empty</name>
        <label>Account Street Empty</label>
        <locationX>1898</locationX>
        <locationY>2282</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Lead_Street_to_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Street filled</defaultConnectorLabel>
        <rules>
            <name>Street_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Merge_Account_Street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Street_to_Variable</targetReference>
            </connector>
            <label>Street empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Website_Empty</name>
        <label>Account Website Empty</label>
        <locationX>1898</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Lead_Website_to_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Website filled</defaultConnectorLabel>
        <rules>
            <name>Website_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Merge_Account_Website</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Website_to_Variable</targetReference>
            </connector>
            <label>Website empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>ARGE_Prospect_or_Prospect</name>
        <label>ARGE Prospect or Prospect</label>
        <locationX>4538</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Prospect_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prospect</defaultConnectorLabel>
        <rules>
            <name>ARGE_Prospect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PL_Legal_Status_ID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ARGE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ARGE_Prospect_Record_Type</targetReference>
            </connector>
            <label>ARGE Prospect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Country_from_Account_Lead_or_Merge_Account_Ibau</name>
        <label>Country from Account Lead or Merge Account? Ibau</label>
        <locationX>314</locationX>
        <locationY>3998</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Merge_Account_Country_Ibau</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Merge Account Country Ibau</defaultConnectorLabel>
        <rules>
            <name>Account_Lead_Country_Ibau</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Merge_Account_Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Account_Lead_Country_Ibau</targetReference>
            </connector>
            <label>Account Lead Country Ibau</label>
        </rules>
    </decisions>
    <decisions>
        <name>Country_from_Account_Lead_or_Merge_Account_Infobau</name>
        <label>Country from Account Lead or Merge Account? Infobau</label>
        <locationX>2162</locationX>
        <locationY>3998</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Merge_Account_Country_Infobau</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Merge Account Country Infobau</defaultConnectorLabel>
        <rules>
            <name>Account_Lead_Country_Infobau</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Merge_Account_Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Account_Lead_Country_Infobau</targetReference>
            </connector>
            <label>Account Lead Country Infobau</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_existing_Account_Roles_already_contain_the_new_Account_Role</name>
        <label>Do existing Account Roles already contain the new Account Role?</label>
        <locationX>3493</locationX>
        <locationY>5222</locationY>
        <defaultConnector>
            <targetReference>Add_Account_Role_to_existing_Account_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add new Role</defaultConnectorLabel>
        <rules>
            <name>No_new_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_over_Project_Account_Lead_Relations_Merge_Account.Account_Role__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Project_Account_Lead_Relations_Merge_Account</targetReference>
            </connector>
            <label>No new Role</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Value_or_Placeholder</name>
        <label>Email Value or Placeholder</label>
        <locationX>4538</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_Value_to_Email_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Value</defaultConnectorLabel>
        <rules>
            <name>Placeholder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>E_Email.placeholder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Lead_Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Placeholder_to_Email_Variable</targetReference>
            </connector>
            <label>Placeholder</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_variable_filled</name>
        <label>Email variable filled?</label>
        <locationX>1898</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>True_Save_without_Email_Value_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email empty</defaultConnectorLabel>
        <rules>
            <name>Email_filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>False_Save_without_Email_Value_Assignment</targetReference>
            </connector>
            <label>Email filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ibau_Id_empty_or_identical_to_Account_Ibau_Id</name>
        <label>Ibau Id empty or identical to Account Ibau Id</label>
        <locationX>1172</locationX>
        <locationY>3674</locationY>
        <defaultConnector>
            <targetReference>Screen_Ibau_Id_already_filled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ibau Id filled Merge Account</defaultConnectorLabel>
        <rules>
            <name>Ibau_Id_empty_or_identical_to_Merge_Account</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Merge_Account_Ibau</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Merge_Account_Ibau</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Lead_Ibau_Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Ibau_to_Variable</targetReference>
            </connector>
            <label>Ibau Id empty or identical to Merge Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ibau_or_Infobau_Source</name>
        <label>Ibau or Infobau Source</label>
        <locationX>2096</locationX>
        <locationY>3566</locationY>
        <defaultConnector>
            <targetReference>Infobau_Id_empty_or_identical_to_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Infobau Merge</defaultConnectorLabel>
        <rules>
            <name>Ibau_Merge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Source_System_Exact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ibau</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ibau_Id_empty_or_identical_to_Account_Ibau_Id</targetReference>
            </connector>
            <label>Ibau Merge</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ibau_or_Infobau_Source_New</name>
        <label>Ibau or Infobau Source New</label>
        <locationX>4538</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Prospect_Infobau_Email_filled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Infobau New</defaultConnectorLabel>
        <rules>
            <name>Ibau_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Source_System_Exact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ibau</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prospect_Ibau_Email_filled</targetReference>
            </connector>
            <label>Ibau New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Infobau_Id_empty_or_identical_to_Account</name>
        <label>Infobau Id empty or identical to Account</label>
        <locationX>3020</locationX>
        <locationY>3674</locationY>
        <defaultConnector>
            <targetReference>Screen_Infobau_Id_already_filled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Infobau Id filled Merge Account</defaultConnectorLabel>
        <rules>
            <name>Infobau_Id_empty_or_identical_to_Merge_Account</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Merge_Account_Infobau</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Merge_Account_Infobau</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Lead_Infobau_Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Infobau_to_Variable</targetReference>
            </connector>
            <label>Infobau Id empty or identical to Merge Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Merge_Account_or_Prospect_Creation</name>
        <label>Merge Account or Prospect Creation</label>
        <locationX>3317</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Screen_New_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prospect Creation</defaultConnectorLabel>
        <rules>
            <name>Merge_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_Merge</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Merge_Account</targetReference>
            </connector>
            <label>Merge Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Merge_Account_Prospect_or_Customer</name>
        <label>Merge Account Prospect or Customer?</label>
        <locationX>2096</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Ibau_or_Infobau_Source</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Merge Account is Customer</defaultConnectorLabel>
        <rules>
            <name>Merge_Account_is_Prospect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Merge_Account_Customer_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Email_Empty</targetReference>
            </connector>
            <label>Merge Account is Prospect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Account_Relation_already_existing</name>
        <label>Project Account Relation already existing?</label>
        <locationX>3669</locationX>
        <locationY>5114</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_for_Project_Account_Relation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PAR not existing</defaultConnectorLabel>
        <rules>
            <name>PAR_already_existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Project_Account_Relation_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_existing_Account_Roles_already_contain_the_new_Account_Role</targetReference>
            </connector>
            <label>PAR already existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prospect_Ibau_Email_filled</name>
        <label>Prospect Ibau Email filled</label>
        <locationX>4010</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Create_Prospect_Ibau_without_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email empty Prospect Ibau</defaultConnectorLabel>
        <rules>
            <name>Email_filled_Prospect_Ibau</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&quot; &quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Prospect_Ibau_with_Email</targetReference>
            </connector>
            <label>Email filled Prospect Ibau</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prospect_Infobau_Email_filled</name>
        <label>Prospect Infobau Email filled</label>
        <locationX>5066</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Create_Prospect_Infobau_without_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email empty Prospect Infobau</defaultConnectorLabel>
        <rules>
            <name>Email_filled_Prospect_Infobau</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&quot; &quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Prospect_Infobau_with_Email</targetReference>
            </connector>
            <label>Email filled Prospect Infobau</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prospect_or_Customer_Merge_Ibau</name>
        <label>Prospect or Customer? Merge Ibau</label>
        <locationX>710</locationX>
        <locationY>3890</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Merge_Ibau</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Customer Merge Ibau</defaultConnectorLabel>
        <rules>
            <name>Prospect_Ibau</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Merge_Account_Customer_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Country_from_Account_Lead_or_Merge_Account_Ibau</targetReference>
            </connector>
            <label>Prospect Ibau</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prospect_or_Customer_Merge_Infobau</name>
        <label>Prospect or Customer? Merge Infobau</label>
        <locationX>2558</locationX>
        <locationY>3890</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Merge_Infobau</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Customer Merge Infobau</defaultConnectorLabel>
        <rules>
            <name>Prospect_Infobau</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Merge_Account_Customer_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Country_from_Account_Lead_or_Merge_Account_Infobau</targetReference>
            </connector>
            <label>Prospect Infobau</label>
        </rules>
    </decisions>
    <description>:: Converts Accounts Lead to new Accounts
:: Merges Account Leads into Accounts
:: Creates Project Account Relations</description>
    <dynamicChoiceSets>
        <name>Choice_Set_Country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BillingCountryCode</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Set_Legal_Status_ID</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Core_Legal_Status_ID__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Customer_Relation_Choice_Set</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Customer_Relation__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Cleaned_Account_Role_Formula</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE(SUBSTITUTE({!Account_Roles},&apos;[&apos;,&apos;&apos;),&apos;]&apos;,&apos;&apos;))</expression>
    </formulas>
    <interviewLabel>Convert Account Lead Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Account Lead Screen Flow</label>
    <loops>
        <name>Loop_over_Project_Account_Lead_Relations_Merge_Account</name>
        <label>Loop over Project Account Lead Relations Merge Account</label>
        <locationX>3317</locationX>
        <locationY>4790</locationY>
        <collectionReference>Project_Account_Lead_Relations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Project_Account_Relation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Project_Account_Relations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Project_Account_Relations</name>
        <label>Create Project Account Relations</label>
        <locationX>3317</locationX>
        <locationY>5906</locationY>
        <connector>
            <targetReference>Update_existing_Project_Account_Relations</targetReference>
        </connector>
        <inputReference>Project_Account_Relation_Collection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Prospect_Ibau_with_Email</name>
        <label>Create Prospect Ibau with Email</label>
        <locationX>3746</locationX>
        <locationY>1382</locationY>
        <assignRecordIdToReference>Account_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Project_Account_Lead_Relations</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Account_Creation_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>T_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountryCode</field>
            <value>
                <elementReference>PL_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>T_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>T_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Customer_Type__c</field>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Email__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Legal_Status_ID__c</field>
            <value>
                <elementReference>PL_Legal_Status_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Source_System__c</field>
            <value>
                <stringValue>BIS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_WZ_Code_1__c</field>
            <value>
                <elementReference>LU_WZ_Code_1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_WZ_Code_2__c</field>
            <value>
                <elementReference>LU_WZ_Code_2.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_WZ_Code_3__c</field>
            <value>
                <elementReference>LU_WZ_Code_3.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_WZ_Code_4__c</field>
            <value>
                <elementReference>LU_WZ_Code_4.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Relation__c</field>
            <value>
                <elementReference>Customer_Relation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>T_Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ibau_Id__c</field>
            <value>
                <elementReference>Lead_Ibau_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>T_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>T_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>T_Website</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Prospect_Ibau_without_Email</name>
        <label>Create Prospect Ibau without Email</label>
        <locationX>4274</locationX>
        <locationY>1382</locationY>
        <assignRecordIdToReference>Account_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Project_Account_Lead_Relations</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Account_Creation_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>T_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountryCode</field>
            <value>
                <elementReference>PL_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>T_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>T_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Customer_Type__c</field>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Legal_Status_ID__c</field>
            <value>
                <elementReference>PL_Legal_Status_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Source_System__c</field>
            <value>
                <stringValue>BIS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_WZ_Code_1__c</field>
            <value>
                <elementReference>LU_WZ_Code_1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_WZ_Code_2__c</field>
            <value>
                <elementReference>LU_WZ_Code_2.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_WZ_Code_3__c</field>
            <value>
                <elementReference>LU_WZ_Code_3.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_WZ_Code_4__c</field>
            <value>
                <elementReference>LU_WZ_Code_4.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Relation__c</field>
            <value>
                <elementReference>Customer_Relation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>T_Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ibau_Id__c</field>
            <value>
                <elementReference>Lead_Ibau_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>T_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>T_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Save_without_Email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>T_Website</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Prospect_Infobau_with_Email</name>
        <label>Create Prospect Infobau with Email</label>
        <locationX>4802</locationX>
        <locationY>1382</locationY>
        <assignRecordIdToReference>Account_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Project_Account_Lead_Relations</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Account_Creation_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>T_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountryCode</field>
            <value>
                <elementReference>PL_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>T_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>T_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Customer_Type__c</field>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Email__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Legal_Status_ID__c</field>
            <value>
                <elementReference>PL_Legal_Status_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Source_System__c</field>
            <value>
                <stringValue>BIS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_WZ_Code_1__c</field>
            <value>
                <elementReference>LU_WZ_Code_1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_WZ_Code_2__c</field>
            <value>
                <elementReference>LU_WZ_Code_2.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_WZ_Code_3__c</field>
            <value>
                <elementReference>LU_WZ_Code_3.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_WZ_Code_4__c</field>
            <value>
                <elementReference>LU_WZ_Code_4.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Relation__c</field>
            <value>
                <elementReference>Customer_Relation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>T_Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Infobau_Id__c</field>
            <value>
                <elementReference>Lead_Infobau_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>T_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>T_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>T_Website</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Prospect_Infobau_without_Email</name>
        <label>Create Prospect Infobau without Email</label>
        <locationX>5330</locationX>
        <locationY>1382</locationY>
        <assignRecordIdToReference>Account_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Project_Account_Lead_Relations</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Account_Creation_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>T_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountryCode</field>
            <value>
                <elementReference>PL_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>T_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>T_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Customer_Type__c</field>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Legal_Status_ID__c</field>
            <value>
                <elementReference>PL_Legal_Status_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Source_System__c</field>
            <value>
                <stringValue>BIS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_WZ_Code_1__c</field>
            <value>
                <elementReference>LU_WZ_Code_1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_WZ_Code_2__c</field>
            <value>
                <elementReference>LU_WZ_Code_2.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_WZ_Code_3__c</field>
            <value>
                <elementReference>LU_WZ_Code_3.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_WZ_Code_4__c</field>
            <value>
                <elementReference>LU_WZ_Code_4.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Relation__c</field>
            <value>
                <elementReference>Customer_Relation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>T_Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Infobau_Id__c</field>
            <value>
                <elementReference>Lead_Infobau_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>T_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>T_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Save_without_Email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>T_Website</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Account_Lead</name>
        <label>Delete Account Lead</label>
        <locationX>3317</locationX>
        <locationY>6122</locationY>
        <connector>
            <targetReference>Screen_Account_Lead_Convert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account_Lead__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Account_Lead</name>
        <label>Get Account Lead</label>
        <locationX>3317</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Merge_Account_or_Prospect_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account_Lead__c</object>
        <outputAssignments>
            <assignToReference>Lead_City</assignToReference>
            <field>Address__City__s</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead_Country_Code</assignToReference>
            <field>Address__CountryCode__s</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead_Postal_Code</assignToReference>
            <field>Address__PostalCode__s</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead_Street</assignToReference>
            <field>Address__Street__s</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead_Email</assignToReference>
            <field>Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead_Fax</assignToReference>
            <field>Fax__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead_Ibau_Id</assignToReference>
            <field>Ibau_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead_Infobau_Id</assignToReference>
            <field>Infobau_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead_Phone</assignToReference>
            <field>Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead_Source_System_Exact</assignToReference>
            <field>Source_System_Exact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead_Website</assignToReference>
            <field>Website__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Prospect_Record_Type</name>
        <label>Get Account Prospect Record Type</label>
        <locationX>4670</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ibau_or_Infobau_Source_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZR_Standard_Account_Prospect</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_ARGE_Prospect_Record_Type</name>
        <label>Get ARGE Prospect Record Type</label>
        <locationX>4406</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ibau_or_Infobau_Source_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZR_ARGE_Prospect</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Merge_Account</name>
        <label>Get Merge Account</label>
        <locationX>2096</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Merge_Account_Prospect_or_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LU_Merge_Account_3.recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Merge_Account_City</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Merge_Account_Country</assignToReference>
            <field>BillingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Merge_Account_Postal</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Merge_Account_Street</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Merge_Account_Customer_Type</assignToReference>
            <field>Core_Customer_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Merge_Account_Email</assignToReference>
            <field>Core_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Merge_Account_Fax</assignToReference>
            <field>Fax</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Merge_Account_Ibau</assignToReference>
            <field>Ibau_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Account_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Merge_Account_Infobau</assignToReference>
            <field>Infobau_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Merge_Account_Phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Merge_Account_Website</assignToReference>
            <field>Website</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Account_Lead_Relations</name>
        <label>Get Project Account Lead Relations</label>
        <locationX>3317</locationX>
        <locationY>4682</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Project_Account_Lead_Relations_Merge_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Project_Account_Lead_Relation__c</object>
        <outputReference>Project_Account_Lead_Relations</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Role__c</queriedFields>
        <queriedFields>Account_Lead__c</queriedFields>
        <queriedFields>Project__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Account_Relation</name>
        <label>Get Project Account Relation</label>
        <locationX>3669</locationX>
        <locationY>4898</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clean_Account_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_Project_Account_Lead_Relations_Merge_Account.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </filters>
        <object>Project_Account_Relation__c</object>
        <outputAssignments>
            <assignToReference>Account_Roles</assignToReference>
            <field>Account_Role__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Existing_Project_Account_Relation_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Account_Lead_Country_Ibau</name>
        <label>Update Account (Account Lead Country Ibau)</label>
        <locationX>50</locationX>
        <locationY>4106</locationY>
        <connector>
            <targetReference>Get_Project_Account_Lead_Relations</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Account_Update_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountryCode</field>
            <value>
                <elementReference>Country_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Email__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ibau_Id__c</field>
            <value>
                <elementReference>Ibau_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Save_without_Email__c</field>
            <value>
                <elementReference>Save_without_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>Website</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Account_Lead_Country_Infobau</name>
        <label>Update Account (Account Lead Country Infobau)</label>
        <locationX>1898</locationX>
        <locationY>4106</locationY>
        <connector>
            <targetReference>Get_Project_Account_Lead_Relations</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Account_Update_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountryCode</field>
            <value>
                <elementReference>Country_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Email__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Infobau_Id__c</field>
            <value>
                <elementReference>Infobau_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Save_without_Email__c</field>
            <value>
                <elementReference>Save_without_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>Website</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Merge_Account_Country_Ibau</name>
        <label>Update Account (Merge Account Country Ibau)</label>
        <locationX>578</locationX>
        <locationY>4106</locationY>
        <connector>
            <targetReference>Get_Project_Account_Lead_Relations</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Account_Update_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountryCode</field>
            <value>
                <elementReference>Country_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Email__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ibau_Id__c</field>
            <value>
                <elementReference>Ibau_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Save_without_Email__c</field>
            <value>
                <elementReference>Save_without_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>Website</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Merge_Account_Country_Infobau</name>
        <label>Update Account (Merge Account Country Infobau)</label>
        <locationX>2426</locationX>
        <locationY>4106</locationY>
        <connector>
            <targetReference>Get_Project_Account_Lead_Relations</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Account_Update_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountryCode</field>
            <value>
                <elementReference>Country_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Email__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Infobau_Id__c</field>
            <value>
                <elementReference>Infobau_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Save_without_Email__c</field>
            <value>
                <elementReference>Save_without_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>Website</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Merge_Ibau</name>
        <label>Update Account (Merge Ibau)</label>
        <locationX>1106</locationX>
        <locationY>3998</locationY>
        <connector>
            <targetReference>Get_Project_Account_Lead_Relations</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Account_Update_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ibau_Id__c</field>
            <value>
                <elementReference>Ibau_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Merge_Infobau</name>
        <label>Update Account (Merge Infobau)</label>
        <locationX>2954</locationX>
        <locationY>3998</locationY>
        <connector>
            <targetReference>Get_Project_Account_Lead_Relations</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Account_Update_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Infobau_Id__c</field>
            <value>
                <elementReference>Infobau_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_existing_Project_Account_Relations</name>
        <label>Update existing Project Account Relations</label>
        <locationX>3317</locationX>
        <locationY>6014</locationY>
        <connector>
            <targetReference>Delete_Account_Lead</targetReference>
        </connector>
        <inputReference>Update_Project_Account_Relation_Collection</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Screen_Account_Creation_Fault</name>
        <label>Screen Account Creation Fault</label>
        <locationX>4010</locationX>
        <locationY>1490</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_Account_Creation_Fault</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Something went wrong during the creation of the new Account. Please contact the Zeppelin Salesforce Support directly or create a Bug Feedback.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Account_Lead_Convert</name>
        <label>Screen Account Lead Convert</label>
        <locationX>3317</locationX>
        <locationY>6230</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_Account_Lead_Converted</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;The Account Lead has been successfully converted. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!Account_Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(10, 105, 238); background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;Click here&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(10, 105, 238); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;to navigate to the Account&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Account_Update_Fault</name>
        <label>Screen Account Update Fault</label>
        <locationX>1370</locationX>
        <locationY>4106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_Account_Update_Fault</name>
            <fieldText>&lt;p&gt;Something went wrong during the update of the existing Account. Please contact the Zeppelin Salesforce Support directly or create a Bug Feedback.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Confirm_Conversion</name>
        <label>Screen Confirm Conversion</label>
        <locationX>3317</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Account_Lead</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_to_convert_this_Account_Lead_to_a_new_Prospect_or_merge_it_into_a</name>
            <choiceReferences>Choice_Convert</choiceReferences>
            <choiceReferences>Choice_Merge</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to convert this Account Lead to a new Prospect or merge it into an existing Account?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DT_Confirm_Conversion</name>
            <fieldText>&lt;p&gt;If you do not want to convert or merge this Account Lead, simply close this window.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Ibau_Id_already_filled</name>
        <label>Screen Ibau Id already filled</label>
        <locationX>1634</locationX>
        <locationY>3782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_Ibau_Id_filled</name>
            <fieldText>&lt;p&gt;This Account already has an Ibau Account connected (ID: {!Merge_Account_Ibau}).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you would like to connect it to a different Account, please reach out to the Sales Excellence Team. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Infobau_Id_already_filled</name>
        <label>Screen Infobau Id already filled</label>
        <locationX>3482</locationX>
        <locationY>3782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_Infobau_Id_filled</name>
            <fieldText>&lt;p&gt;This Account already has an Infobau Account connected (ID: {!Merge_Account_Infobau}).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you would like to connect it to a different Account, please reach out to the Sales Excellence Team.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Merge_Account</name>
        <label>Screen Merge Account</label>
        <locationX>2096</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Merge_Account</targetReference>
        </connector>
        <fields>
            <name>LU_Merge_Account_3</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account to merge into</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Screen_Flow_Lookup__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_New_Account</name>
        <label>Screen New Account</label>
        <locationX>4538</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Email_Value_or_Placeholder</targetReference>
        </connector>
        <fields>
            <name>DT_Enter_new_Account_Information</name>
            <fieldText>&lt;p&gt;Please enter all the necessary information for the new Account you are creating.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_New_Account_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_New_Account_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>T_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lead_Name</elementReference>
                    </defaultValue>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Please enter only 40 characters into the Account Name field.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!T_Name}) &lt; 40</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>PL_Legal_Status_ID</name>
                    <choiceReferences>Choice_Set_Legal_Status_ID</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Legal Status ID</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Customer_Relation</name>
                    <choiceReferences>Customer_Relation_Choice_Set</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Customer Relation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_New_Account_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>T_Phone</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lead_Phone</elementReference>
                    </defaultValue>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter a valid phone number, starting with a plus sign, followed by a country code. Do not include letters or special characters, use at least 10 and max. 20 characters. Valid example: +49123456789&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!T_Phone}) &gt; 10
&amp;&amp;
LEN({!T_Phone}) &lt; 20
&amp;&amp;
REGEX({!T_Phone},&quot;\\+([0-9 -]+)*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>T_Fax</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lead_Fax</elementReference>
                    </defaultValue>
                    <fieldText>Fax</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please enter a valid fax number, starting with a plus sign, followed by a country code. Do not include letters or special characters, use at least 10 and max. 20 characters. Valid example: +49123456789&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!T_Fax}) &gt; 10
&amp;&amp;
LEN({!T_Fax}) &lt; 20
&amp;&amp;
REGEX({!T_Fax},&quot;\\+([0-9 -]+)*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>E_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <elementReference>Lead_Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>T_Website</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lead_Website</elementReference>
                    </defaultValue>
                    <fieldText>Website</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_New_Account_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_New_Account_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>T_Street</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lead_Street</elementReference>
                    </defaultValue>
                    <fieldText>Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Please enter less than 35 characters for Street.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!T_Street}) &lt; 35</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>T_Postal_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lead_Postal_Code</elementReference>
                    </defaultValue>
                    <fieldText>Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>T_City</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lead_City</elementReference>
                    </defaultValue>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Please enter less than 30 characters for City.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!T_City}) &lt; 30</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>PL_Country</name>
                    <choiceReferences>Choice_Set_Country</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lead_Country_Code</elementReference>
                    </defaultValue>
                    <fieldText>Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_New_Account_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LU_WZ_Code_1</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Core_WZ_Code_1__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>WZ Code 1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>LU_WZ_Code_2</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Core_WZ_Code_2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>WZ Code 2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>LU_WZ_Code_3</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Core_WZ_Code_3__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>WZ Code 3</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>LU_WZ_Code_4</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Core_WZ_Code_4__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>WZ Code 4</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>3191</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Confirm_Conversion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Account_Roles</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Account_Share_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Cleaned_Account_RoleText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Country_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Existing_Project_Account_Relation_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Existing_Project_Account_Relations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Account_Relation__c</objectType>
    </variables>
    <variables>
        <name>Fax</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Ibau_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Infobau_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead_Country_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead_Fax</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead_Ibau_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead_Infobau_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead_Postal_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead_Source_System_Exact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead_Website</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Merge_Account_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Merge_Account_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Merge_Account_Customer_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Merge_Account_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Merge_Account_Fax</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Merge_Account_Ibau</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Merge_Account_Infobau</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Merge_Account_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Merge_Account_Postal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Merge_Account_Share_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Merge_Account_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Merge_Account_Website</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Postal_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Project_Account_Lead_Relations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Account_Lead_Relation__c</objectType>
    </variables>
    <variables>
        <name>Project_Account_Relation_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Account_Relation__c</objectType>
    </variables>
    <variables>
        <name>Project_Account_Relation_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Account_Relation__c</objectType>
    </variables>
    <variables>
        <name>Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Save_without_Email</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Update_Project_Account_Relation_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Account_Relation__c</objectType>
    </variables>
    <variables>
        <name>Website</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
