force-app/main/default/flows/Core_Grant_Before_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Approval_Date</name>
        <label>Set Approval Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Core_Date_of_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Grant_Approval</name>
        <label>Grant Approval</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Grant not approved</defaultConnectorLabel>
        <rules>
            <name>Grant_Approved</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Core_Approvalstatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Core_Approvalstatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Core_Approvalstatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Core_Approvalstatus__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approval_Date</targetReference>
            </connector>
            <label>Grant Approved</label>
        </rules>
    </decisions>
    <formulas>
        <name>GrantinthisYear</name>
        <dataType>Boolean</dataType>
        <expression>IF(
(({!$Flow.CurrentDate})   -  ({!$Record.Core_Date_of_Grant__c})) &lt; 365,
TRUE, FALSE
)</expression>
    </formulas>
    <interviewLabel>Grant Before Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Grant Before Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Grant_Approval</targetReference>
        </connector>
        <object>Core_Grant__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
