force-app/main/default/flows/Core_Grant_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Worth_of_Grant_from_Screen</name>
        <label>Add Worth of Grant from Screen</label>
        <locationX>1216</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>WorthofGrant</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Worth_of_Grant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_total_Grant_Worth</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Worth_of_Grant</name>
        <label>Assign Worth of Grant to Variable</label>
        <locationX>1304</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>WorthofGrant</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Grants_for_Addition.Core_Worth_of_the_Grant__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Grants_for_Addition</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_total_Grant_Worth</name>
        <label>Check for total Grant Worth</label>
        <locationX>1216</locationX>
        <locationY>1166</locationY>
        <defaultConnectorLabel>Invalid Grant Worth</defaultConnectorLabel>
        <rules>
            <name>Below_150</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorthofGrant</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>149.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Grant_Information_below_150</targetReference>
            </connector>
            <label>Below 150</label>
        </rules>
        <rules>
            <name>Above_150</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorthofGrant</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>149.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorthofGrant</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>349.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Grant_Information_above_150</targetReference>
            </connector>
            <label>Above 150</label>
        </rules>
        <rules>
            <name>Above_350</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorthofGrant</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>349.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Grant_Information_above_350</targetReference>
            </connector>
            <label>Above 350</label>
        </rules>
    </decisions>
    <decisions>
        <name>Grant_in_last_12_Months_Decision</name>
        <label>Grant in last 12 Months Decision</label>
        <locationX>1436</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_over_Grants_for_Addition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not in the last 12 months</defaultConnectorLabel>
        <rules>
            <name>In_last_12_Months</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Grantinlast12Months</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Worth_of_Grant</targetReference>
            </connector>
            <label>In last 12 Months</label>
        </rules>
    </decisions>
    <decisions>
        <name>Politically_exposed_Person</name>
        <label>Politically exposed Person</label>
        <locationX>699</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_related_Grants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not PEP or PEP but Grant below 25</defaultConnectorLabel>
        <rules>
            <name>PEP_above_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Core_Politically_exposed_Person__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Worth_of_Grant</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>25.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Grant_Information_for_PEP_above_25</targetReference>
            </connector>
            <label>PEP above 25</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reason_selected_above_150</name>
        <label>Reason selected above 150</label>
        <locationX>1062</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>Create_Grant_above_150</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not other Reason selected above 150</defaultConnectorLabel>
        <rules>
            <name>Other_Reason_selected_above_150</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Reason_for_Grant_Picklist_above_150</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Reason_for_Grant_above_150_Screen</targetReference>
            </connector>
            <label>Other Reason selected above 150</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reason_selected_above_350</name>
        <label>Reason selected above 350</label>
        <locationX>1502</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>Create_Grant_above_350</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not other Reason selected above 350</defaultConnectorLabel>
        <rules>
            <name>Other_Reason_selected_above_350</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reason_for_Grant_Picklist_above_350</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Reason_for_Grant_above_350_Screen</targetReference>
            </connector>
            <label>Other Reason selected above 350</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reason_selected_below_150</name>
        <label>Reason selected below 150</label>
        <locationX>622</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>Create_Grant_below_150</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not other Reason selected below 150</defaultConnectorLabel>
        <rules>
            <name>Other_Reason_selected_below_150</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reason_for_Grant_Picklist_below_150</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Reason_for_Grant_below_150_Screen</targetReference>
            </connector>
            <label>Other Reason selected below 150</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reason_selected_for_PEP_above_25</name>
        <label>Reason selected for PEP above 25</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Create_Grant_for_PEP_above_25</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not other Reason selected for PEP above 25</defaultConnectorLabel>
        <rules>
            <name>Other_Reason_selected_for_PEP_above_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reason_for_Grant_Picklist_for_PEP_above_25</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Reason_for_Grant_for_PEP_above_25_Screen_0</targetReference>
            </connector>
            <label>Other Reason selected for PEP above 25</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_selected_above_150</name>
        <label>Type selected for above 150</label>
        <locationX>1062</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Reason_selected_above_150</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not other type selected above 150</defaultConnectorLabel>
        <rules>
            <name>Other_selected_above_150</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Grant_for_above_150</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Type_of_Grant_above_150</targetReference>
            </connector>
            <label>Other selected above 150</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_selected_below_150</name>
        <label>Type selected for below 150</label>
        <locationX>622</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Reason_selected_below_150</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not other type selected below 150</defaultConnectorLabel>
        <rules>
            <name>Other_selected_below_150</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Grant_for_below_150</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Type_of_Grant_below_150</targetReference>
            </connector>
            <label>Other selected below 150</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_selected_for_above_350</name>
        <label>Type selected for above 350</label>
        <locationX>1502</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Reason_selected_above_350</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not other type selected above 350</defaultConnectorLabel>
        <rules>
            <name>Other_selected_above_350</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Grant_for_above_350</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Type_of_Grant_above_350</targetReference>
            </connector>
            <label>Other selected above 350</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_selected_for_PEP_above_25</name>
        <label>Type selected for PEP above 25</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Reason_selected_for_PEP_above_25</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not other type selected for PEP above 25</defaultConnectorLabel>
        <rules>
            <name>Other_selected_for_PEP_above_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Grant_for_PEP_above_25</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Type_of_Grant_for_PEP_above_25_Screen</targetReference>
            </connector>
            <label>Other selected for PEP above 25</label>
        </rules>
    </decisions>
    <description>- Collects information on the contact for which a Grant is created and the worth and date of the Grant
- Checks, how many Grants have already been given to the contact
- Guide the user via Screens to the correct Approval process for the Grant</description>
    <dynamicChoiceSets>
        <name>Enterprise</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Core_Enterprise__c</picklistField>
        <picklistObject>Core_Grant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonforGrantforPEPabove25</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Core_Reason_for_Grant__c</picklistField>
        <picklistObject>Core_Grant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StrategicBusinessUnitInfo1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Core_Strategic_Business_Unit__c</picklistField>
        <picklistObject>Core_Grant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeofGrant</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Core_Type_of_Grant__c</picklistField>
        <picklistObject>Core_Grant__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Grantinlast12Months</name>
        <dataType>Boolean</dataType>
        <expression>IF(({!Date_of_Grant} - {!Loop_over_Grants_for_Addition.Core_Date_of_Grant__c}) &lt; 365, TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>Grant Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Grant Screen Flow</label>
    <loops>
        <name>Loop_over_Grants_for_Addition</name>
        <label>Loop over Grants for Addition</label>
        <locationX>1216</locationX>
        <locationY>566</locationY>
        <collectionReference>Collected_Grants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Grant_in_last_12_Months_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Worth_of_Grant_from_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Grant_above_150</name>
        <label>Create Grant above 150</label>
        <locationX>1062</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Grant_Success_Above_150</targetReference>
        </connector>
        <inputAssignments>
            <field>Core_Account__c</field>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Approval_Above_350_Euro__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Approval_for_PEP__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Approvalstatus__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Automatically_approved__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Bearer_Name_Zeppelin__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Date_of_Grant__c</field>
            <value>
                <elementReference>Date_of_Grant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Enterprise__c</field>
            <value>
                <elementReference>Enterprise_dp_Variable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Grant_Description__c</field>
            <value>
                <elementReference>Grant_Description_above_150</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Other_Reason_for_Grant__c</field>
            <value>
                <elementReference>Other_Reason_selected_above_150_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Other_Type_of_Grant__c</field>
            <value>
                <elementReference>Other_Type_selected_above_150_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Reason_for_Grant__c</field>
            <value>
                <elementReference>Reason_for_Grant_Picklist_above_150</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Receiver__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Strategic_Business_Unit__c</field>
            <value>
                <elementReference>Strategic_Business_Unit_dp_Variable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Supervisor__c</field>
            <value>
                <elementReference>Supervisor_above_150</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Type_of_Grant__c</field>
            <value>
                <elementReference>Type_of_Grant_for_above_150</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Worth_of_the_Grant__c</field>
            <value>
                <elementReference>Worth_of_Grant</elementReference>
            </value>
        </inputAssignments>
        <object>Core_Grant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Grant_above_350</name>
        <label>Create Grant above 350</label>
        <locationX>1502</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Grant_Success_Above_350</targetReference>
        </connector>
        <inputAssignments>
            <field>Core_Account__c</field>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Approval_Above_350_Euro__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Approval_for_PEP__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Approvalstatus__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Automatically_approved__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Bearer_Name_Zeppelin__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Compliance_or_Board__c</field>
            <value>
                <elementReference>Approver_outside_SF_for_above_350</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Date_of_Grant__c</field>
            <value>
                <elementReference>Date_of_Grant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Enterprise__c</field>
            <value>
                <elementReference>Enterprise_dp_Variable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Grant_Description__c</field>
            <value>
                <elementReference>Grant_Description_above_350</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Other_Reason_for_Grant__c</field>
            <value>
                <elementReference>Other_Reason_selected_above_350_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Other_Type_of_Grant__c</field>
            <value>
                <elementReference>Other_Type_selected_above_350_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Reason_for_Grant__c</field>
            <value>
                <elementReference>Reason_for_Grant_Picklist_above_350</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Receiver__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Strategic_Business_Unit__c</field>
            <value>
                <elementReference>Strategic_Business_Unit_dp_Variable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Supervisor__c</field>
            <value>
                <elementReference>Supervisor_above_350</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Type_of_Grant__c</field>
            <value>
                <elementReference>Type_of_Grant_for_above_350</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Worth_of_the_Grant__c</field>
            <value>
                <elementReference>Worth_of_Grant</elementReference>
            </value>
        </inputAssignments>
        <object>Core_Grant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Grant_below_150</name>
        <label>Create Grant below 150</label>
        <locationX>622</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Grant_Success_Below_150</targetReference>
        </connector>
        <inputAssignments>
            <field>Core_Account__c</field>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Approval_Above_350_Euro__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Approval_for_PEP__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Approvalstatus__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Automatically_approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Bearer_Name_Zeppelin__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Date_of_Grant__c</field>
            <value>
                <elementReference>Date_of_Grant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Enterprise__c</field>
            <value>
                <elementReference>Enterprise_dp_Variable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Grant_Description__c</field>
            <value>
                <elementReference>Grant_Description_below_150</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Other_Reason_for_Grant__c</field>
            <value>
                <elementReference>Other_Reason_selected_below_150_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Other_Type_of_Grant__c</field>
            <value>
                <elementReference>Other_Type_selected_below_150_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Reason_for_Grant__c</field>
            <value>
                <elementReference>Reason_for_Grant_Picklist_below_150</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Receiver__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Strategic_Business_Unit__c</field>
            <value>
                <elementReference>Strategic_Business_Unit_dp_Variable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Type_of_Grant__c</field>
            <value>
                <elementReference>Type_of_Grant_for_below_150</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Worth_of_the_Grant__c</field>
            <value>
                <elementReference>Worth_of_Grant</elementReference>
            </value>
        </inputAssignments>
        <object>Core_Grant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Grant_for_PEP_above_25</name>
        <label>Create Grant for PEP above 25</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Grant_Success_PEP_Screen_above_25</targetReference>
        </connector>
        <inputAssignments>
            <field>Core_Account__c</field>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Approval_Above_350_Euro__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Approval_for_PEP__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Approvalstatus__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Automatically_approved__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Bearer_Name_Zeppelin__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Compliance_or_Board__c</field>
            <value>
                <elementReference>Approver_for_PEP_above_25</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Date_of_Grant__c</field>
            <value>
                <elementReference>Date_of_Grant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Enterprise__c</field>
            <value>
                <elementReference>Enterprise_dp_Variable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Grant_Description__c</field>
            <value>
                <elementReference>Grant_Description_for_PEP_above_25</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Other_Reason_for_Grant__c</field>
            <value>
                <elementReference>Other_Reason_selected_for_PEP_over_25_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Other_Type_of_Grant__c</field>
            <value>
                <elementReference>Other_Type_selected_for_PEP_over_25_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Reason_for_Grant__c</field>
            <value>
                <elementReference>Reason_for_Grant_Picklist_for_PEP_above_25</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Receiver__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Strategic_Business_Unit__c</field>
            <value>
                <elementReference>Strategic_Business_Unit_dp_Variable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Type_of_Grant__c</field>
            <value>
                <elementReference>Type_of_Grant_for_PEP_above_25</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Worth_of_the_Grant__c</field>
            <value>
                <elementReference>Worth_of_Grant</elementReference>
            </value>
        </inputAssignments>
        <object>Core_Grant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>699</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Worth_and_Date_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Grants</name>
        <label>Get related Grants</label>
        <locationX>1216</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Grants_for_Addition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Core_Receiver__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Core_Enterprise__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enterprise_dp_Variable</elementReference>
            </value>
        </filters>
        <filters>
            <field>Core_Approvalstatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </filters>
        <object>Core_Grant__c</object>
        <outputReference>Collected_Grants</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Core_Worth_of_the_Grant__c</queriedFields>
        <queriedFields>Core_Date_of_Grant__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>Collect_Grant_Information_above_150</name>
        <label>Collect Grant Information above 150</label>
        <locationX>1062</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Type_selected_above_150</targetReference>
        </connector>
        <fields>
            <name>Enter_Grant_Information_Text_above_150</name>
            <fieldText>&lt;p&gt;The combined amount of grants in the last 12 months is above 150€. Therefore, you need to get an approval from your supervisor for it.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please enter the necessary information for the grant!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Supervisor_above_150</name>
            <dataType>String</dataType>
            <fieldText>Supervisor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type_of_Grant_for_above_150</name>
            <choiceReferences>TypeofGrant</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Grant</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_for_Grant_Picklist_above_150</name>
            <choiceReferences>ReasonforGrantforPEPabove25</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Grant</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Grant_Description_above_150</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Bitte trage nicht mehr als 255 Zeichen ein!&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Grant_Description_for_PEP_above_25}) &lt; 255</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Collect_Grant_Information_above_350</name>
        <label>Collect Grant Information above 350</label>
        <locationX>1502</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Type_selected_for_above_350</targetReference>
        </connector>
        <fields>
            <name>Enter_Grant_Information_Text_above_350</name>
            <fieldText>&lt;p&gt;Since the amount of the combined grants within the last 12 months is above 350€, you need to get approval from your supervisor and the responsible Compliance &lt;span style=&quot;font-size: 9pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black; background-color: white;&quot;&gt;Manager&lt;/span&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please enter all the necessary information for the grant!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Supervisor_above_350</name>
            <dataType>String</dataType>
            <fieldText>Supervisor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Approver_outside_SF_for_above_350</name>
            <dataType>String</dataType>
            <fieldText>Compliance Manager</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type_of_Grant_for_above_350</name>
            <choiceReferences>TypeofGrant</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Grant</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_for_Grant_Picklist_above_350</name>
            <choiceReferences>ReasonforGrantforPEPabove25</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Grant</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Grant_Description_above_350</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Bitte trage nicht mehr als 255 Zeichen ein!&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Grant_Description_for_PEP_above_25}) &lt; 255</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Collect_Grant_Information_below_150</name>
        <label>Collect Grant Information below 150</label>
        <locationX>622</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Type_selected_below_150</targetReference>
        </connector>
        <fields>
            <name>Enter_Grant_Information_Text_below_150</name>
            <fieldText>&lt;p&gt;The combined amount of grants in the last 12 months is below 150€, therefore the grant will be automatically approved.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please enter the necessary information for the grant!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type_of_Grant_for_below_150</name>
            <choiceReferences>TypeofGrant</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Grant</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_for_Grant_Picklist_below_150</name>
            <choiceReferences>ReasonforGrantforPEPabove25</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for the Grant</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Grant_Description_below_150</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Bitte trage nicht mehr als 255 Zeichen ein!&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Grant_Description_for_PEP_above_25}) &lt; 255</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Collect_Grant_Information_for_PEP_above_25</name>
        <label>Collect Grant Information for PEP above 25</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Type_selected_for_PEP_above_25</targetReference>
        </connector>
        <fields>
            <name>Enter_Grant_Information_Text_PEP_above_25</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black; font-size: 9pt;&quot;&gt;The receiver of the grant is a politically exposed person. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black; font-size: 9pt;&quot;&gt;Since the grant is above 25€&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black; font-size: 9pt; background-color: white;&quot;&gt; you need to get permission for it from the responsible Compliance Manager.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Additionally the office-bearer needs to be made aware of the necessary consent that needs to be given by their government entity.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; background-color: white; color: black; font-size: 9pt;&quot;&gt;Please enter all the necessary information for the grant.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Approver_for_PEP_above_25</name>
            <dataType>String</dataType>
            <fieldText>Compliance Manager</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Bitte trage nicht mehr als 50 Zeichen ein!&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Approver_for_PEP_above_25}) &lt; 50</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Type_of_Grant_for_PEP_above_25</name>
            <choiceReferences>TypeofGrant</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Grant</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_for_Grant_Picklist_for_PEP_above_25</name>
            <choiceReferences>ReasonforGrantforPEPabove25</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Grant</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Grant_Description_for_PEP_above_25</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Bitte trage nicht mehr als 255 Zeichen ein!&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Grant_Description_for_PEP_above_25}) &lt; 255</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Collect_Worth_and_Date_Information</name>
        <label>Collect Worth and Date Information</label>
        <locationX>699</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Politically_exposed_Person</targetReference>
        </connector>
        <fields>
            <name>Date_of_Grant</name>
            <dataType>Date</dataType>
            <fieldText>Date of the Grant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Worth_of_Grant</name>
            <dataType>Currency</dataType>
            <fieldText>Worth of the Grant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Please do not enter negative values!&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Worth_of_Grant} &gt; 0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>dp_Enterprise</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Core_Grant__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Core_Enterprise__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Strategic Business Unit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Core_Strategic_Business_Unit__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Enterprise</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Strategic_Business_Unit_dp_Variable</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Enterprise_dp_Variable</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Grant_Success_Above_150</name>
        <label>Grant Success Above 150</label>
        <locationX>1062</locationX>
        <locationY>2090</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Grant_Success_Above_150_Message</name>
            <fieldText>&lt;p&gt;A grant has been generated.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please get an approval from your supervisor for it.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Afterwards, please change the approval status corresponding to the received answer and upload the permission to the grant record.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Grant_Success_Above_350</name>
        <label>Grant Success Above 350</label>
        <locationX>1502</locationX>
        <locationY>2090</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Grant_Success_Above_350_Message</name>
            <fieldText>&lt;p&gt;A grant has been generated.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Since the combined amount of grant in the last 12 months is above 350&lt;span style=&quot;font-size: 9pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black; background-color: white;&quot;&gt;€, you need to get permission for it from your supervisor and the responsible Compliance Manager.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 9pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: black; background-color: white;&quot;&gt;Please change the approval status corresponding to the received answer and upload the permission to the grant record.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Grant_Success_Below_150</name>
        <label>Grant Success Below 150</label>
        <locationX>622</locationX>
        <locationY>2090</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Grant_Success_Below_150_Message</name>
            <fieldText>&lt;p&gt;A grant has been generated!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Grant_Success_PEP_Screen_above_25</name>
        <label>Grant Success PEP Screen above 25</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Grant_Success_for_PEP_Message</name>
            <fieldText>&lt;p&gt;A grant has been generated.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Since the grant is above 25€, you need to get permission for it from the responsible Compliance Manager.&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Additionally the office-bearer needs to be made aware of the necessary consent that needs to be given by their government entity.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please change the approval status corresponding to the received answer and upload the permission to the grant record.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_Reason_for_Grant_above_150_Screen</name>
        <label>Other Reason for Grant above 150 Screen</label>
        <locationX>930</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Grant_above_150</targetReference>
        </connector>
        <fields>
            <name>Other_Reason_selected_above_150_Field</name>
            <dataType>String</dataType>
            <fieldText>Other Reason for Grant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Bitte trage maximal 50 Zeichen ein.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Other_Reason_selected_for_PEP_over_25_Field}) &lt;50</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_Reason_for_Grant_above_350_Screen</name>
        <label>Other Reason for Grant above 350 Screen</label>
        <locationX>1370</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Grant_above_350</targetReference>
        </connector>
        <fields>
            <name>Other_Reason_selected_above_350_Field</name>
            <dataType>String</dataType>
            <fieldText>Other Reason for Grant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Bitte trage maximal 50 Zeichen ein.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Other_Reason_selected_for_PEP_over_25_Field}) &lt;50</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_Reason_for_Grant_below_150_Screen</name>
        <label>Other Reason for Grant below 150 Screen</label>
        <locationX>490</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Grant_below_150</targetReference>
        </connector>
        <fields>
            <name>Other_Reason_selected_below_150_Field</name>
            <dataType>String</dataType>
            <fieldText>Other Reason for Grant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Bitte trage maximal 50 Zeichen ein.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Other_Reason_selected_for_PEP_over_25_Field}) &lt;50</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_Reason_for_Grant_for_PEP_above_25_Screen_0</name>
        <label>Other Reason for Grant for PEP above 25 Screen</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Grant_for_PEP_above_25</targetReference>
        </connector>
        <fields>
            <name>Other_Reason_selected_for_PEP_over_25_Field</name>
            <dataType>String</dataType>
            <fieldText>Other Reason for Grant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Bitte trage maximal 50 Zeichen ein.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Other_Reason_selected_for_PEP_over_25_Field}) &lt;50</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_Type_of_Grant_above_150</name>
        <label>Other Type of Grant above 150</label>
        <locationX>930</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reason_selected_above_150</targetReference>
        </connector>
        <fields>
            <name>Other_Type_selected_above_150_Field</name>
            <dataType>String</dataType>
            <fieldText>Other Type of Grant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Bitte trage maximal 50 Zeichen ein.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Other_Type_selected_for_PEP_over_25_Field}) &lt;50</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_Type_of_Grant_above_350</name>
        <label>Other Type of Grant above 350</label>
        <locationX>1370</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reason_selected_above_350</targetReference>
        </connector>
        <fields>
            <name>Other_Type_selected_above_350_Field</name>
            <dataType>String</dataType>
            <fieldText>Other Type of Grant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Bitte trage maximal 50 Zeichen ein.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Other_Type_selected_for_PEP_over_25_Field}) &lt;50</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_Type_of_Grant_below_150</name>
        <label>Other Type of Grant below 150</label>
        <locationX>490</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reason_selected_below_150</targetReference>
        </connector>
        <fields>
            <name>Other_Type_selected_below_150_Field</name>
            <dataType>String</dataType>
            <fieldText>Other Type of Grant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Bitte trage maximal 50 Zeichen ein.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Other_Type_selected_for_PEP_over_25_Field}) &lt;50</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_Type_of_Grant_for_PEP_above_25_Screen</name>
        <label>Other Type of Grant for PEP above 25 Screen</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reason_selected_for_PEP_above_25</targetReference>
        </connector>
        <fields>
            <name>Other_Type_selected_for_PEP_over_25_Field</name>
            <dataType>String</dataType>
            <fieldText>Other Type of Grant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Bitte trage maximal 50 Zeichen ein.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Other_Type_selected_for_PEP_over_25_Field}) &lt;50</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>573</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Collected_Grants</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Core_Grant__c</objectType>
    </variables>
    <variables>
        <name>Enterprise_dp_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Strategic_Business_Unit_dp_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorthofGrant</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>WorthofGrantsfromCollection</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
