force-app/main/default/flows/Create_Project_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Cleanse helper fields and perform duplicate check to return list of potential project duplicate records</description>
        <name>Execute_Duplicate_Check</name>
        <label>Execute Duplicate Check</label>
        <locationX>1546</locationX>
        <locationY>782</locationY>
        <actionName>FlowActionDuplicateCheck</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Potential_Duplicates_Available</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cleanseProjectFields</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>executeDuplicateCheck</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>Project</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectAccountRelations</name>
            <value>
                <elementReference>Project_Account_Relations_Collection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowActionDuplicateCheck</nameSegment>
        <outputParameters>
            <assignToReference>cleansedProject</assignToReference>
            <name>flowProject</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>potentialDuplicatesAvailable</assignToReference>
            <name>potentialDuplicateProjectAvailable</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>potentialDuplicatesFromApexAction</assignToReference>
            <name>potentialDuplicateProjectList</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Account_Name_to_Variable</name>
        <label>Add Account Name to Variable</label>
        <locationX>908</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>AccountName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Project_Account_Relation_to_Single_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Project_Account_Relation_to_Single_Variable</name>
        <label>Add Project Account Relation to Single Variable</label>
        <locationX>908</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>Project_Account_Relation_Single.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LU_Account.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project_Account_Relation_Single.Account_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MPL_Account_Role</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project_Account_Relation_Single.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>D_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project_Account_Relation_Single.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>D_End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Single_Project_Account_Relation_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Single_Project_Account_Relation_to_Collection</name>
        <label>Add Single Project Account Relation to Collection</label>
        <locationX>908</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>Project_Account_Relations_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Project_Account_Relation_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Account_created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Role_to_Variable</name>
        <label>Assign Account Role to Variable</label>
        <locationX>908</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>MLP_Account_Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MPL_Account_Role</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clean_MPL_Account_Role_for_Building_Owner_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Building_Owner_Name</name>
        <label>Assign Building Owner Name</label>
        <locationX>842</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Building_Owner_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Account_Name_to_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Id_to_Project_Account_Relation</name>
        <label>Assign Project Id to Project Account Relation</label>
        <locationX>1634</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_Project_Account_Relations.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Updated_Project_Account_Relation_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Screen_Information_to_Variables</name>
        <label>Assign Screen Information to Variables</label>
        <locationX>1546</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Project.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CB_Overall_Project_Active</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Announcement_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RV_Project.Announcement_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Announcer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RV_Project.Announcer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Project_Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RV_Project.Project_Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Core_Source_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LTA_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Exact_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>P_Exact_Source.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Main_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LU_Main_Project.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>T_Project_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Other_Sources__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>T_Other_Sources</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Project_Address__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RV_Project.Project_Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Project_Address__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RV_Project.Project_Address__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Project_Address__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RV_Project.Project_Address__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Project_Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RV_Project.Project_Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Project_Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RV_Project.Project_Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Project_Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RV_Project.Project_Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Project_Construction_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>D_Project_Construction_End</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Internal_Project_Construction_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>P_Project_Construction_Progress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Project_Construction_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>D_Project_Construction_Start</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Project_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>P_Exact_Source.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Project_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>P_Project_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Project_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>URL_Project.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Total_Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N_Total_Volume</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Potential</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Building_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Building_Owner_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_Duplicate_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clean_MPL_Account_Role_for_Building_Owner_Decision</name>
        <label>Clean MPL Account Role for Building Owner Decision</label>
        <locationX>908</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>MLP_Account_Role_cleaned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clean_Account_Role_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Clear helper fields, so trigger don&apos;t insert duplicate values</description>
        <name>Clear_helper_fields</name>
        <label>Clear helper fields</label>
        <locationX>1546</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>cleansedProject.Building_Owner_cleaned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cleansedProject.Involved_Accounts_cleaned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Project_Record_Variable_for_LWC</name>
        <label>Prepare Project Record Variable for LWC</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>manualFlowProjectForLWCInput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>cleansedProject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>showPotentialProjectDuplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Created_Record_Id</name>
        <label>Store Created Record Id</label>
        <locationX>1546</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cleansedProject.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Project_Account_Relations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Updated_Project_Account_Relation_Record</name>
        <label>Store Updated Project Account Relation Record</label>
        <locationX>1634</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>Updated_Project_Account_Relations_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Project_Account_Relations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Project_Account_Relations</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No_Choice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Add_an_Account_to_the_Project</name>
        <label>Add an Account to the Project?</label>
        <locationX>1227</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_Screen_Information_to_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, do not add an Account</defaultConnectorLabel>
        <rules>
            <name>Yes_add_an_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Collect_Account_Info</targetReference>
            </connector>
            <label>Yes, add an Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Building_Owner_already_filled</name>
        <label>Building Owner already filled?</label>
        <locationX>710</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Assign_Building_Owner_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Building Owner is not filled</defaultConnectorLabel>
        <rules>
            <name>Building_Owner_filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Building_Owner_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Building_owner_already_filled</targetReference>
            </connector>
            <label>Building Owner filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Country_Postal_Code_Validation</name>
        <label>Country Postal Code Validation</label>
        <locationX>770</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Screen_Add_Account_Relation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Correct or not validated Postal Code</defaultConnectorLabel>
        <rules>
            <name>Postal_Code_incorrect</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>RV_Project.Project_Address__CountryCode__s</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Postal_55555</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RV_Project.Project_Address__CountryCode__s</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Postal_5555</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Postal_Incorrect</targetReference>
            </connector>
            <label>Postal Code incorrect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Account_of_the_Building_Owner_Role</name>
        <label>Is the Account of the Building Owner Role?</label>
        <locationX>908</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Add_Account_Name_to_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account is not Building Owner</defaultConnectorLabel>
        <rules>
            <name>Account_is_Building_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MLP_Account_Role_cleaned</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Building_Owner_already_filled</targetReference>
            </connector>
            <label>Account is Building Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Postal_Code_City_and_Country_filled</name>
        <label>Postal Code, City and Country filled?</label>
        <locationX>410</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Country_Postal_Code_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Address Fields filled</defaultConnectorLabel>
        <rules>
            <name>Address_Fields_not_filled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RV_Project.Project_Address__PostalCode__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RV_Project.Project_Address__City__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RV_Project.Project_Address__CountryCode__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Address_missing</targetReference>
            </connector>
            <label>Address Fields not filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Potential_Duplicates_Available</name>
        <label>Potential Duplicates Available</label>
        <locationX>1546</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Clear_helper_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Duplicates</defaultConnectorLabel>
        <rules>
            <name>Potential_Duplicates_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>potentialDuplicatesAvailable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_Project_Record_Variable_for_LWC</targetReference>
            </connector>
            <label>Potential Duplicates Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Duplicate_Record_Selected</name>
        <label>Was Duplicate Record Selected</label>
        <locationX>1370</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>Duplicate Selected</defaultConnectorLabel>
        <rules>
            <name>No_Create_New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedButtonId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Button2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_helper_fields</targetReference>
            </connector>
            <label>No, Create New Record</label>
        </rules>
    </decisions>
    <description>:: Create Projects</description>
    <dynamicChoiceSets>
        <name>Account_Role_Picklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Account_Role__c</picklistField>
        <picklistObject>Project_Account_Relation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Exact_Source</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Exact_Source__c</picklistField>
        <picklistObject>Project__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Internal_Project_Progress</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Internal_Project_Construction_Progress__c</picklistField>
        <picklistObject>Project__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Potential</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Potential__c</picklistField>
        <picklistObject>Project__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Project_Source</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Project_Source__c</picklistField>
        <picklistObject>Project__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Project_Type__c</picklistField>
        <picklistObject>Project__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Clean_Account_Role_Formula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!MLP_Account_Role}, &quot;13&quot;, &quot;0&quot;)</expression>
    </formulas>
    <formulas>
        <name>Postal_5555</name>
        <dataType>Boolean</dataType>
        <expression>IF(
AND(
NOT(ISBLANK({!RV_Project.Project_Address__PostalCode__s})),
OR(
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s} , &quot;AR&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s} , &quot;AM&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s} , &quot;AU&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s} , &quot;AT&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s} , &quot;BD&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s} , &quot;BE&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s} , &quot;BG&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s} , &quot;CY&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s} , &quot;DK&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s} , &quot;GE&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s} , &quot;GL&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s} , &quot;HU&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s} , &quot;LV&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s} , &quot;LI&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s} , &quot;LU&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s} , &quot;MK&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s} , &quot;MD&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s} , &quot;NZ&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s} , &quot;NO&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s} , &quot;PH&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s} , &quot;PT&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s} , &quot;SI&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s} , &quot;ZA&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s} , &quot;CH&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s} , &quot;TN&quot;)
)),
NOT(REGEX({!RV_Project.Project_Address__PostalCode__s}, (&quot;\\d{4}&quot;))),
FALSE)</expression>
    </formulas>
    <formulas>
        <name>Postal_55555</name>
        <dataType>Boolean</dataType>
        <expression>IF(
AND(
NOT(ISBLANK({!RV_Project.Project_Address__PostalCode__s} )),
OR(
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;DZ&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;AS&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;BA&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;BR&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;IC&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;MP&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;HR&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;CU&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;EE&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;FI&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;FR&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;GF&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;DE&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;GP&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;GU&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;ID&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;IT&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;LT&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;MY&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;MH&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;MQ&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;YT&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;FM&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;MC&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;ME&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;MA&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;NC&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;PK&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;PW&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;RE&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;SM&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;RS&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;ES&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;TH&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;TR&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;UA&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;US&quot;),
ISPICKVAL({!RV_Project.Project_Address__CountryCode__s}, &quot;VI&quot;)
)),
NOT(REGEX({!RV_Project.Project_Address__PostalCode__s}, (&quot;\\d{5}&quot;))),
FALSE)</expression>
    </formulas>
    <interviewLabel>Create Project Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Project Screen Flow</label>
    <loops>
        <name>Loop_over_Project_Account_Relations</name>
        <label>Loop over Project Account Relations</label>
        <locationX>1546</locationX>
        <locationY>1922</locationY>
        <collectionReference>Project_Account_Relations_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Project_Id_to_Project_Account_Relation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Project_Account_Relation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Project</name>
        <label>Create Project</label>
        <locationX>1546</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Store_Created_Record_Id</targetReference>
        </connector>
        <inputReference>cleansedProject</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Project_Account_Relation</name>
        <label>Create Project Account Relation</label>
        <locationX>1546</locationX>
        <locationY>2330</locationY>
        <inputReference>Updated_Project_Account_Relations_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>908</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_Account_of_the_Building_Owner_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LU_Account.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_Account_created</name>
        <label>Screen Account created</label>
        <locationX>908</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_an_Account_to_the_Project</targetReference>
        </connector>
        <fields>
            <name>DT_Account_Created</name>
            <fieldText>&lt;p&gt;The involved Account {!AccountName} has been created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RB_Add_additional_Account</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to add another involved Account?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Add_Account_Relation</name>
        <label>Screen_Add Account Relation</label>
        <locationX>1227</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_an_Account_to_the_Project</targetReference>
        </connector>
        <fields>
            <name>RB_Add_Account</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to add an involved Account to this Project?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Address_missing</name>
        <label>Screen_Address missing</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_Address_missing</name>
            <fieldText>&lt;p&gt;Project Postal Code, City and Country are mandatory fields.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Building_owner_already_filled</name>
        <label>Screen Building owner already filled</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_Buildin_Owner_already_filled</name>
            <fieldText>&lt;p&gt;The Account {!Building_Owner_Name} has already been created with the Building Owner role. There can only be one Building Owner per Project. Please go back an adjust the Account Roles accordingly. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Collect_Account_Info</name>
        <label>Screen Collect Account Info</label>
        <locationX>908</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Account_Role_to_Variable</targetReference>
        </connector>
        <fields>
            <name>Screen_Collect_Account_Info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Collect_Account_Info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LU_Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Project_Account_Relation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>MPL_Account_Role</name>
                    <choiceReferences>Account_Role_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Account Role</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Collect_Account_Info_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>D_Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>D_End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The Start Date must be earlier than the End Date.&lt;/p&gt;</errorMessage>
                        <formulaExpression>({!D_Start_Date}&lt; {!D_End_Date}) &amp;&amp; NOT(ISBLANK( {!D_End_Date}) )</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Collect_Project_Information</name>
        <label>Screen Collect Project Information</label>
        <locationX>410</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Postal_Code_City_and_Country_filled</targetReference>
        </connector>
        <fields>
            <name>Screen_Collect_Project_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Collect_Project_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>T_Project_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Project Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter a maximum of 80 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>80 &gt; LEN({!T_Project_Name})</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>P_Project_Construction_Progress</name>
                    <choiceReferences>Picklist_Internal_Project_Progress</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Internal Project-/ Construction Progress</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>N_Total_Volume</name>
                    <dataType>Number</dataType>
                    <fieldText>Total Volume</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>D_Project_Construction_Start</name>
                    <dataType>Date</dataType>
                    <fieldText>Project-/ Construction Start</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>D_Project_Construction_End</name>
                    <dataType>Date</dataType>
                    <fieldText>Project-/Construction End</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The Start Date of a Project must be earlier than the End Date of a Project!&lt;/p&gt;</errorMessage>
                        <formulaExpression>({!D_Project_Construction_Start}&lt; {!D_Project_Construction_End}) &amp;&amp; NOT(ISBLANK( {!D_Project_Construction_End}) )</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>MP_Potential</name>
                    <choiceReferences>Picklist_Potential</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Potential</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Collect_Project_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LU_Main_Project</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Main_Project__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Main Project</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Project__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>parentRecordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>RV_Project.Project_ID_BIS__c</objectFieldReference>
                </fields>
                <fields>
                    <name>P_Project_Type</name>
                    <choiceReferences>Picklist_Type</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Project Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CB_Overall_Project_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Overall Project Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;For active Projects a Potential needs to be selected.&lt;/p&gt;</errorMessage>
                        <formulaExpression>(ISBLANK( {!MP_Potential})
&amp;&amp;
{!CB_Overall_Project_Active}= FALSE)
||
(NOT(ISBLANK( {!MP_Potential}))
&amp;&amp;
{!CB_Overall_Project_Active}= TRUE)
||
(NOT(ISBLANK( {!MP_Potential}))
&amp;&amp;
{!CB_Overall_Project_Active}= FALSE)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Announcement_ID</name>
            <fieldText>Announcement ID</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Announcement_ID_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>RV_Project.Announcement_ID__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>RV_Project.Announcer__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Announcement_ID_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>RV_Project.Submission_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Address_Information</name>
            <fieldText>Address Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Address_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>RV_Project.Project_Address__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_Information_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Additional_Information</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>P_Exact_Source</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Project__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Project_Source__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Exact_Source__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Project Source</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Exact Source</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>T_Other_Sources</name>
                    <dataType>String</dataType>
                    <fieldText>Other Sources</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>P_Exact_Source.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>6</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>URL_Project</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Project URL</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>LTA_Description</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Postal_Incorrect</name>
        <label>Screen_Postal Incorrect</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_Postal_55555</name>
            <fieldText>&lt;p&gt;Please enter a valid format for the Zip Code! This should consist of five numbers. Example: 99999&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RV_Project.Project_Address__CountryCode__s</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>DE</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DT_Postal_5555</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Please enter a valid format for the Zip Code! This should consist of four numbers. Example: 9999&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RV_Project.Project_Address__CountryCode__s</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AT</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>showPotentialProjectDuplicates</name>
        <label>Show Potential Project Duplicates</label>
        <locationX>1370</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Was_Duplicate_Record_Selected</targetReference>
        </connector>
        <fields>
            <name>potentialProjectDuplicateDatatable</name>
            <dataTypeMappings>
                <typeName>sObjectType</typeName>
                <typeValue>Project__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:dupProjectDuplicatesComp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>projectList</name>
                <value>
                    <elementReference>potentialDuplicatesFromApexAction</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>manualProjectList</name>
                <value>
                    <elementReference>manualFlowProjectForLWCInput</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedDuplicateRecordId</assignToReference>
                <name>selectedDuplicateRecordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedButtonId</assignToReference>
                <name>selectedButtonId</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>No Duplicate, Create New Project</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>284</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Collect_Project_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Building_Owner_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Button1Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Button1Id</stringValue>
        </value>
    </variables>
    <variables>
        <name>Button2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Button2Id</stringValue>
        </value>
    </variables>
    <variables>
        <name>Button3Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Button3Id</stringValue>
        </value>
    </variables>
    <variables>
        <name>cleansedProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>manualFlowProjectForLWCInput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>MLP_Account_Role</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MLP_Account_Role_cleaned</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>parentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>potentialDuplicatesAvailable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>potentialDuplicatesFromApexAction</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>Project_Account_Relation_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Account_Relation__c</objectType>
    </variables>
    <variables>
        <name>Project_Account_Relations_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Account_Relation__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RV_Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>selectedButtonId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedDuplicateRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Updated_Project_Account_Relations_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Account_Relation__c</objectType>
    </variables>
</Flow>
