force-app/main/default/flows/Create_Feeback_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Copy_1_of_Support_Email</name>
        <label>Copy 1 of Support Email</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyImprovement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Setup.Central_Email_Addresses__c.SF_Support__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubjectImprovement</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Support_Email_Bug</name>
        <label>Support Email</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyBug</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Setup.Central_Email_Addresses__c.SF_Support__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubjectBug</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>Bug</name>
        <choiceText>Bug</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bug</stringValue>
        </value>
    </choices>
    <choices>
        <name>Improvemen</name>
        <choiceText>Improvemen</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Improvemen</stringValue>
        </value>
    </choices>
    <choices>
        <name>Improvement</name>
        <choiceText>Improvement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Improvement</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Checks whether the User decided to create a Bug or Improvement.</description>
        <name>Bug_or_Improvement</name>
        <label>Bug or Improvement?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Improvement_Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Improvement</defaultConnectorLabel>
        <rules>
            <name>Bug_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bug</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Bug_Record_Type</targetReference>
            </connector>
            <label>Bug</label>
        </rules>
    </decisions>
    <description>:: Creates a Feedback record</description>
    <dynamicChoiceSets>
        <name>Objects</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Object__c</picklistField>
        <picklistObject>Feedback__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>BugLink2</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_100}, FIND(&apos;/services&apos;, {!$Api.Enterprise_Server_URL_100})) &amp; {!BugId}</expression>
    </formulas>
    <formulas>
        <name>FileUploadLabel</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$User.LanguageLocaleKey}, &quot;de&quot;), &quot;Bitte lade Screenshots hoch, falls relevant.&quot;, &quot;Please upload Screenshots if relevant.&quot;)</expression>
    </formulas>
    <formulas>
        <name>ImprovementLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_100}, FIND(&apos;/services&apos;, {!$Api.Enterprise_Server_URL_100})) &amp; {!ImprovementId2}</expression>
    </formulas>
    <interviewLabel>Create Feeback Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Feeback Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Bug_Record</name>
        <label>Create Bug Record</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>BugId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Bug_No</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>DescriptionBug</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <elementReference>ObjectBug</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Project_Team_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Bug_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Link__c</field>
            <value>
                <elementReference>RecordLinkBug.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporter__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>SubjectBug</elementReference>
            </value>
        </inputAssignments>
        <object>Feedback__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Improvement_Record</name>
        <label>Create Improvement Record</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>ImprovementId2</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Improvement_No</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>DescriptionImprovement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <elementReference>ObjectImprovement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Project_Team_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Improvement_Record_Types.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporter__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>SubjectImprovement</elementReference>
            </value>
        </inputAssignments>
        <object>Feedback__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Bug_No</name>
        <label>Get Bug No.</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Upload_Bug_File</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BugId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Feedback__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bug_Record_Type</name>
        <label>Get Bug Record Type</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Bug</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bug</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Improvement_No</name>
        <label>Get Improvement No.</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Upload_Improvement_File</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImprovementId2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Feedback__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Improvement_Record_Types</name>
        <label>Get Improvement Record Types</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Improvement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Improvement</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Team_Queue</name>
        <label>Get Project Team Queue</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_of_Feedback</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SF_Project_Team</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_Screen_Bug</name>
        <label>Confirmation Screen Bug</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Support_Email_Bug</targetReference>
        </connector>
        <fields>
            <name>ConfirmationTextBug</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(23, 43, 77); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/strong&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Thank you for your Feedback! We are happy that you are supporting us to improve the system. Your Bug has been created with No. &lt;/span&gt;&lt;strong style=&quot;color: rgb(23, 43, 77); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Bug_No.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen_Improvement</name>
        <label>Confirmation Screen Improvement</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Support_Email</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_ConfirmationTextBug</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Thank you for your Feedback! We are happy that you are supporting us to improve the system. Your Improvement has been created with No. &lt;/span&gt;&lt;strong style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Improvement_No.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Bug</name>
        <label>Create Bug</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Bug_Record</targetReference>
        </connector>
        <fields>
            <name>SubjectBug</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ObjectBug</name>
            <choiceReferences>Objects</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Object</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RecordLinkBug</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Record Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DescriptionBug</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Improvement</name>
        <label>Create Improvement</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Improvement_Record</targetReference>
        </connector>
        <fields>
            <name>SubjectImprovement</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ObjectImprovement</name>
            <choiceReferences>Objects</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Object</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DescriptionImprovement</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Type_of_Feedback</name>
        <label>Type of Feedback</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Bug_or_Improvement</targetReference>
        </connector>
        <fields>
            <name>What_kind_of_Feedback_do_you_want_to_create</name>
            <choiceReferences>Bug</choiceReferences>
            <choiceReferences>Improvement</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What kind of Feedback do you want to create?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Bug_File</name>
        <label>Upload Bug File</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation_Screen_Bug</targetReference>
        </connector>
        <fields>
            <name>FileUploadBug</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>FileUploadLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>BugId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>BugDocumentIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentVersionIds</name>
                <value>
                    <elementReference>BugContentVersionIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>BugFileNames</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Improvement_File</name>
        <label>Upload Improvement File</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation_Screen_Improvement</targetReference>
        </connector>
        <fields>
            <name>FileUploadImprovement</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>FileUploadLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ImprovementId2</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project_Team_Queue</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBodyBug</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hallo Projektteam,

in Salesforce wurde gerade ein neuer Fehler von {!$User.FirstName} {!$User.LastName} angelegt:
{!BugLink2}


Dies ist eine automatisch generierte Email. Bitte nicht antworten.</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyImprovement</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hallo Projektteam,

in Salesforce wurde gerade eine neue Anforderung von {!$User.FirstName} {!$User.LastName} angelegt:
{!ImprovementLink}

Dies ist eine automatisch generierte Email. Bitte nicht antworten.</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubjectBug</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Ein Neuer Fehler wurde in SF erstellt</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubjectImprovement</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Neue Anforderung wurde in SF angelegt</text>
    </textTemplates>
    <variables>
        <name>BugContentVersionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BugDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BugFileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BugId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Feedback</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Feedback__c</objectType>
    </variables>
    <variables>
        <name>ImprovementId2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
