force-app/main/default/flows/Event_Before_Insert_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Account_Address_to_Variables</name>
        <label>Assign Account Address to Variables</label>
        <locationX>402</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Postal_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Address_to_Location</name>
        <label>Assign Address to Location</label>
        <locationX>534</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>$Record.Location</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Combined</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_to_Territory_Association</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Company_Group_Name_to_Event</name>
        <label>Assign Company Group Name to Event</label>
        <locationX>380</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Company_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Company_Group__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_KAM_and_LAM_Names_to_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_KAM_and_LAM_Names_to_Variable</name>
        <label>Assign KAM and LAM Names to Variable</label>
        <locationX>380</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>KAMFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Key_Account_Manager__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KAMLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Key_Account_Manager__r.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LAMFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Large_Account_Manager__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LAMLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Large_Account_Manager__r.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_KAM_and_LAM_to_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_KAM_and_LAM_to_Event</name>
        <label>Assign KAM and LAM to Event</label>
        <locationX>380</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Key_Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KAMFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Large_Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LAMFullName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_the_Event_Location_filled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_1_Names_to_Field</name>
        <label>Assign Level 1 Names to Field</label>
        <locationX>182</locationX>
        <locationY>5351</locationY>
        <assignmentItems>
            <assignToReference>$Record.Owner_Territories_Level_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaLevel1Names</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Level_1_Names_to_Variable</name>
        <label>Assign Level 1 Names to Variable</label>
        <locationX>534</locationX>
        <locationY>2675</locationY>
        <assignmentItems>
            <assignToReference>Level1TerritoryNamesTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_User_2_territory_Association.Territory2.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_User_2_territory_Association</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_1_Territories</name>
        <label>Assign Level 1 Territories</label>
        <locationX>446</locationX>
        <locationY>5075</locationY>
        <assignmentItems>
            <assignToReference>Level1TerritoryNamesTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Level_1_Territories.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Level_1_Territories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_2_Names_to_Field</name>
        <label>Assign Level 2 Names to Field</label>
        <locationX>182</locationX>
        <locationY>4451</locationY>
        <assignmentItems>
            <assignToReference>$Record.Owner_Territories_Level_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaLevel2Names</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Level_2_Territories_available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_2_Names_to_Variable</name>
        <label>Assign Level 2 Names to Variable</label>
        <locationX>270</locationX>
        <locationY>2675</locationY>
        <assignmentItems>
            <assignToReference>Level2TerritoryNamesTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_User_2_territory_Association.Territory2.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_User_2_territory_Association</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_2_Parent_Id_to_Text_Collection</name>
        <label>Assign Level 2 Parent Id to Text Collection</label>
        <locationX>358</locationX>
        <locationY>3959</locationY>
        <assignmentItems>
            <assignToReference>Level2ParentIDTextColllection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Level_2_Territories.ParentTerritory2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Level_2_Duplicate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_2_Territories</name>
        <label>Assign Level 2 Territories</label>
        <locationX>446</locationX>
        <locationY>4175</locationY>
        <assignmentItems>
            <assignToReference>Level2TerritoryNamesTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Level_2_Territories.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Level_2_Territories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_3_Names_to_Field</name>
        <label>Assign Level 3 Names to Field</label>
        <locationX>182</locationX>
        <locationY>3035</locationY>
        <assignmentItems>
            <assignToReference>$Record.Owner_Territories_Level_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaLevel3Names</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Level_3_Territories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_3_Names_to_Variable</name>
        <label>Assign Level 3 Names to Variable</label>
        <locationX>798</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>Level3TerritoryNamesTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_User_2_territory_Association.Territory2.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_User_2_territory_Association</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_3_Parent_Id_to_Text_Collection</name>
        <label>Assign Level 3 Parent Id to Text Collection</label>
        <locationX>270</locationX>
        <locationY>3359</locationY>
        <assignmentItems>
            <assignToReference>Level3ParentIDTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Level_3_Territories.ParentTerritory2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Level_3_Territories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Address_to_Variables</name>
        <label>Assign Opportunity Address to Variables</label>
        <locationX>402</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Construction_Site_Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Postal_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Construction_Site_Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Construction_Site_Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Address_to_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Address_to_Variables</name>
        <label>Assign Project Address to Variables</label>
        <locationX>402</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Project_Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Postal_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Project_Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Project_Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assigned_Territories_available</name>
        <label>Assigned Territories available</label>
        <locationX>380</locationX>
        <locationY>2243</locationY>
        <defaultConnectorLabel>No Territories available</defaultConnectorLabel>
        <rules>
            <name>Territories_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UsertoTerritoryAssociation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_User_2_territory_Association</targetReference>
            </connector>
            <label>Territories available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Level_2_Territory</name>
        <label>Is Level 2 Territory</label>
        <locationX>402</locationX>
        <locationY>2567</locationY>
        <defaultConnector>
            <targetReference>Assign_Level_1_Names_to_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Level 2 Territory</defaultConnectorLabel>
        <rules>
            <name>Level_2_Territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_User_2_territory_Association.Territory2.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ZR_DE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Level_2_Names_to_Variable</targetReference>
            </connector>
            <label>Level 2 Territory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Level_3_Territory</name>
        <label>Is Level 3 Territory</label>
        <locationX>600</locationX>
        <locationY>2459</locationY>
        <defaultConnector>
            <targetReference>Assign_Level_3_Names_to_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Level 3 Territory</defaultConnectorLabel>
        <rules>
            <name>Not_Level_3_Territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_User_2_territory_Association.Territory2.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ZR_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Level_2_Territory</targetReference>
            </connector>
            <label>Not Level 3 Territory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Event_Location_filled</name>
        <label>Is the Event Location filled?</label>
        <locationX>380</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Should_Location_be_filled_with_Account_address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Location_filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Location</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_to_Territory_Association</targetReference>
            </connector>
            <label>Location filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Level_1_Duplicate</name>
        <label>Level 1 Duplicate</label>
        <locationX>358</locationX>
        <locationY>4967</locationY>
        <defaultConnector>
            <targetReference>Assign_Level_1_Territories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Duplicate Level 1</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Level_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Level1TerritoryNamesTextCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_over_Level_1_Territories.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Level_1_Territories</targetReference>
            </connector>
            <label>Duplicate Level 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Level_2_Duplicate</name>
        <label>Level 2 Duplicate</label>
        <locationX>358</locationX>
        <locationY>4067</locationY>
        <defaultConnector>
            <targetReference>Assign_Level_2_Territories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Duplicate Level 2</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Level_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Level2TerritoryNamesTextCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_over_Level_2_Territories.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Level_2_Territories</targetReference>
            </connector>
            <label>Duplicate Level 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Level_2_Territories_available</name>
        <label>Level 2 Territories available</label>
        <locationX>182</locationX>
        <locationY>4559</locationY>
        <defaultConnector>
            <targetReference>Get_Level_1_Territories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Level 2 Territories available</defaultConnectorLabel>
        <rules>
            <name>No_Level_2_Territories_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Level2Territories</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Level_1_Territories_no_Level_2_available</targetReference>
            </connector>
            <label>No Level 2 Territories available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Level_3_Territories_available</name>
        <label>Level 3 Territories available?</label>
        <locationX>182</locationX>
        <locationY>3551</locationY>
        <defaultConnector>
            <targetReference>Get_Level_2_Territories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Level 3 Territories available</defaultConnectorLabel>
        <rules>
            <name>No_Level_3_Territories_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Level_3_Territories</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Level_2_Territories_no_Level_3_Territories_available</targetReference>
            </connector>
            <label>No Level 3 Territories available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Location_be_filled_with_Account_address</name>
        <label>Should Location be filled with Account address?</label>
        <locationX>534</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Get_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Account_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Location</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Address_to_Variables</targetReference>
            </connector>
            <label>Add Account Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Location_be_filled_with_Opportunity_address</name>
        <label>Should Location be filled with Opportunity address?</label>
        <locationX>534</locationX>
        <locationY>1643</locationY>
        <defaultConnector>
            <targetReference>Assign_Address_to_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Opportunity_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Location</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_Address_to_Variables</targetReference>
            </connector>
            <label>Add Opportunity Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Location_be_filled_with_Project_address</name>
        <label>Should Location be filled with Project address?</label>
        <locationX>534</locationX>
        <locationY>1235</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Project_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Location</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Project.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_Address_to_Variables</targetReference>
            </connector>
            <label>Add Project Address</label>
        </rules>
    </decisions>
    <description>- Writes all levels of territories that the Owner of the Event is associated to on the Event to be used in reports
- Writes the Company Group of the related Account to the Event to be used in reports
- Writes the KAM and LAM of the related Account to the Event to be used in reports
- Writes the Address of the connected Account, Project or Opportunity to the Event, if the Location is left empty</description>
    <environments>Default</environments>
    <formulas>
        <name>Address_Combined</name>
        <dataType>String</dataType>
        <expression>{!Street}+&quot;, &quot;+{!Postal_Code}+&quot;, &quot;+{!City}</expression>
    </formulas>
    <formulas>
        <name>FormulaLevel1Names</name>
        <dataType>String</dataType>
        <expression>{!Level1TerritoryNamesTextCollection}</expression>
    </formulas>
    <formulas>
        <name>FormulaLevel2Names</name>
        <dataType>String</dataType>
        <expression>{!Level2TerritoryNamesTextCollection}</expression>
    </formulas>
    <formulas>
        <name>FormulaLevel3Names</name>
        <dataType>String</dataType>
        <expression>{!Level3TerritoryNamesTextCollection}</expression>
    </formulas>
    <formulas>
        <name>KAMFullName</name>
        <dataType>String</dataType>
        <expression>{!KAMFirstName}&amp;&quot; &quot;&amp;{!KAMLastName}</expression>
    </formulas>
    <formulas>
        <name>LAMFullName</name>
        <dataType>String</dataType>
        <expression>{!LAMFirstName}&amp;&quot; &quot;&amp;{!LAMLastName}</expression>
    </formulas>
    <interviewLabel>Event Before Insert Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Before Insert Flow</label>
    <loops>
        <name>Loop_over_Level_1_Territories</name>
        <label>Loop over Level 1 Territories</label>
        <locationX>182</locationX>
        <locationY>4859</locationY>
        <collectionReference>Level1Territories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Level_1_Duplicate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Level_1_Names_to_Field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Level_2_Territories</name>
        <label>Loop over Level 2 Territories</label>
        <locationX>182</locationX>
        <locationY>3851</locationY>
        <collectionReference>Level2Territories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Level_2_Parent_Id_to_Text_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Level_2_Names_to_Field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Level_3_Territories</name>
        <label>Loop over Level 3 Territories</label>
        <locationX>182</locationX>
        <locationY>3251</locationY>
        <collectionReference>Level3Territories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Level_3_Parent_Id_to_Text_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Level_3_Territories_available</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_User_2_territory_Association</name>
        <label>Loop over User 2 territory Association</label>
        <locationX>182</locationX>
        <locationY>2351</locationY>
        <collectionReference>UsertoTerritoryAssociation</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Level_3_Territory</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Level_3_Names_to_Field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Company_Group_Name_to_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Level_1_Territories</name>
        <label>Get Level 1 Territories</label>
        <locationX>314</locationX>
        <locationY>4667</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Level_1_Territories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Level2ParentIDTextColllection</elementReference>
            </value>
        </filters>
        <object>Territory2</object>
        <outputReference>Level1Territories</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Level_1_Territories_no_Level_2_available</name>
        <label>Get Level 1 Territories (no Level 2 available)</label>
        <locationX>50</locationX>
        <locationY>4667</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Level_1_Territories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>Level1TerritoryNamesTextCollection</elementReference>
            </value>
        </filters>
        <object>Territory2</object>
        <outputReference>Level1Territories</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Level_2_Territories</name>
        <label>Get Level 2 Territories</label>
        <locationX>314</locationX>
        <locationY>3659</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Level_2_Territories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Level3ParentIDTextCollection</elementReference>
            </value>
        </filters>
        <object>Territory2</object>
        <outputReference>Level2Territories</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ParentTerritory2Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Level_2_Territories_no_Level_3_Territories_available</name>
        <label>Get Level 2 Territories (no Level 3 Territories available)</label>
        <locationX>50</locationX>
        <locationY>3659</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Level_2_Territories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>Level2TerritoryNamesTextCollection</elementReference>
            </value>
        </filters>
        <object>Territory2</object>
        <outputReference>Level2Territories</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ParentTerritory2Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Level_3_Territories</name>
        <label>Get Level 3 Territories</label>
        <locationX>182</locationX>
        <locationY>3143</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Level_3_Territories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>Level3TerritoryNamesTextCollection</elementReference>
            </value>
        </filters>
        <object>Territory2</object>
        <outputReference>Level3Territories</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ParentTerritory2Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>534</locationX>
        <locationY>1535</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_Location_be_filled_with_Opportunity_address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Construction_Site_Address__Street__s</queriedFields>
        <queriedFields>Construction_Site_Address__PostalCode__s</queriedFields>
        <queriedFields>Construction_Site_Address__City__s</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>534</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_Location_be_filled_with_Project_address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Project_Address__Street__s</queriedFields>
        <queriedFields>Project_Address__PostalCode__s</queriedFields>
        <queriedFields>Project_Address__City__s</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_to_Territory_Association</name>
        <label>Get User to Territory Association</label>
        <locationX>380</locationX>
        <locationY>2135</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigned_Territories_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>UserTerritory2Association</object>
        <outputReference>UsertoTerritoryAssociation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Territory2Id</queriedFields>
        <sortField>Territory2Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>KAMFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>KAMLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LAMFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LAMLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Level1Territories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Territory2</objectType>
    </variables>
    <variables>
        <name>Level1TerritoryNamesTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Level2ParentIDTextColllection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Level2Territories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Territory2</objectType>
    </variables>
    <variables>
        <name>Level2TerritoryNamesTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Level3ParentIDTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Level3Territories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Territory2</objectType>
    </variables>
    <variables>
        <name>Level3TerritoryNamesTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Postal_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UsertoTerritoryAssociation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>UserTerritory2Association</objectType>
    </variables>
</Flow>
