force-app/main/default/flows/Project_After_Update_Scheduled_Path.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_of_Project_Territories</name>
        <label>Assign # of Project Territories</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>CountProjectTerritories</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Project_Territories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_Territories_existing</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks whether Project Territories are existing for the related Project.</description>
        <name>Project_Territories_existing</name>
        <label>Project Territories existing?</label>
        <locationX>374</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Create_Platform_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PT = 0</defaultConnectorLabel>
        <rules>
            <name>PT_greater_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountProjectTerritories</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Project_Territories</targetReference>
            </connector>
            <label>PT &gt; 0</label>
        </rules>
    </decisions>
    <description>:: Deletes Project Territories in case Postal Code changed
:: Sends Platform Event for changed Postal Code</description>
    <environments>Default</environments>
    <interviewLabel>Project After Update - Scheduled Path {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project After Update - Scheduled Path</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Platform_Event</name>
        <label>Create Platform Event</label>
        <locationX>374</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Reset_Helper_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>Salesforce_Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesforce_Record_PLZ__c</field>
            <value>
                <elementReference>$Record.Project_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <object>Project_PE__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Project_Territories</name>
        <label>Delete Project Territories</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Create_Platform_Event</targetReference>
        </connector>
        <inputReference>Get_Project_Territories</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Project_Territories</name>
        <label>Get Project Territories</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_of_Project_Territories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Territory__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Reset_Helper_Field</name>
        <label>Reset Helper Field</label>
        <locationX>374</locationX>
        <locationY>900</locationY>
        <inputAssignments>
            <field>Automation_Time__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code_Changed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Postal_Code_Changed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Delete_Project_Territories_and_PE</name>
            <connector>
                <targetReference>Get_Project_Territories</targetReference>
            </connector>
            <label>Delete Project Territories and PE</label>
            <maxBatchSize>2</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CountProjectTerritories</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
