force-app/main/default/flows/Project_Internal_Progress_Scheduled_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Project_Construction_Progress_Value</name>
        <label>Project / Construction Progress Value?</label>
        <locationX>842</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Manual_Change_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Discussion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_Progress_Discussion</targetReference>
            </connector>
            <label>Discussion</label>
        </rules>
        <rules>
            <name>Pre_Planning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_Progress_Pre_Planning</targetReference>
            </connector>
            <label>Pre Planning</label>
        </rules>
        <rules>
            <name>Planning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_Progress_Planning</targetReference>
            </connector>
            <label>Planning</label>
        </rules>
        <rules>
            <name>Shortly_before_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_Progress_Shortly_before_Start</targetReference>
            </connector>
            <label>Shortly before Start</label>
        </rules>
        <rules>
            <name>Implementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_Progress_Demolition</targetReference>
            </connector>
            <label>Implementation</label>
        </rules>
        <rules>
            <name>Completion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_Progress_Completion</targetReference>
            </connector>
            <label>Completion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Source</name>
        <label>Source?</label>
        <locationX>842</locationX>
        <locationY>660</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>BIS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Core_Source_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BIS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BIS_Record_Type</targetReference>
            </connector>
            <label>BIS</label>
        </rules>
        <rules>
            <name>Salesforce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Core_Source_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Salesforce_Record_Type</targetReference>
            </connector>
            <label>Salesforce</label>
        </rules>
    </decisions>
    <description>:: Used to initially update all Projects with Internal Project / Construction Progress Values + with new Record Types</description>
    <environments>Default</environments>
    <interviewLabel>Project Internal Progress Scheduled Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Internal Progress Scheduled Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_BIS_Record_Type</name>
        <label>Get BIS Record Type</label>
        <locationX>578</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_BIS_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BIS_Project</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Salesforce_Record_Type</name>
        <label>Get Salesforce Record Type</label>
        <locationX>842</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Salesforce_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salesforce_Project</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Internal_Progress_Completion</name>
        <label>Internal Progress Completion</label>
        <locationX>1370</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Manual_Change_False</targetReference>
        </connector>
        <inputAssignments>
            <field>Internal_Project_Construction_Progress__c</field>
            <value>
                <stringValue>Completion</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Internal_Progress_Demolition</name>
        <label>Internal Progress Demolition</label>
        <locationX>1106</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Manual_Change_False</targetReference>
        </connector>
        <inputAssignments>
            <field>Internal_Project_Construction_Progress__c</field>
            <value>
                <stringValue>Demolition</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Internal_Progress_Discussion</name>
        <label>Internal Progress Discussion</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Manual_Change_False</targetReference>
        </connector>
        <inputAssignments>
            <field>Internal_Project_Construction_Progress__c</field>
            <value>
                <stringValue>Discussion</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Internal_Progress_Planning</name>
        <label>Internal Progress Planning</label>
        <locationX>578</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Manual_Change_False</targetReference>
        </connector>
        <inputAssignments>
            <field>Internal_Project_Construction_Progress__c</field>
            <value>
                <stringValue>Planning</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Internal_Progress_Pre_Planning</name>
        <label>Internal Progress Pre Planning</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Manual_Change_False</targetReference>
        </connector>
        <inputAssignments>
            <field>Internal_Project_Construction_Progress__c</field>
            <value>
                <stringValue>Pre Planning</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Internal_Progress_Shortly_before_Start</name>
        <label>Internal Progress Shortly before Start</label>
        <locationX>842</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Manual_Change_False</targetReference>
        </connector>
        <inputAssignments>
            <field>Internal_Project_Construction_Progress__c</field>
            <value>
                <stringValue>Shortly before Start</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Manual_Change_False</name>
        <label>Manual Change False</label>
        <locationX>842</locationX>
        <locationY>552</locationY>
        <connector>
            <targetReference>Source</targetReference>
        </connector>
        <inputAssignments>
            <field>Manual_Internal_Progress_Change__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_BIS_Record_Type</name>
        <label>Set BIS Record Type</label>
        <locationX>578</locationX>
        <locationY>876</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_BIS_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Salesforce_Record_Type</name>
        <label>Set Salesforce Record Type</label>
        <locationX>842</locationX>
        <locationY>876</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Salesforce_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Project_Construction_Progress_Value</targetReference>
        </connector>
        <object>Project__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-10-20</startDate>
            <startTime>11:37:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
