force-app/main/default/flows/Project_Owner_Assignment_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_English_Email</name>
        <label>Send English Email</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Screen_New_Owner_assigned</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Notification_Email_Body_English</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>User_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Notification_Email_Subject_English</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_German_Email</name>
        <label>Send German Email</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Screen_New_Owner_assigned</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Notification_Email_Body_German</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>User_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Notification_Email_Subject_German</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Email_Template_English_or_German</name>
        <label>Email Template English or German?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Send_English_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>English</defaultConnectorLabel>
        <rules>
            <name>German</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_German_Email</targetReference>
            </connector>
            <label>German</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the new Owner of the Project is the same as the current User.</description>
        <name>New_Owner_equals_Current_User</name>
        <label>New Owner equals Current User?</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Screen_New_Owner_assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Owner equals current User</defaultConnectorLabel>
        <rules>
            <name>New_Owner_not_current_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.AD_Login_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>User_Ad_Login_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Template_English_or_German</targetReference>
            </connector>
            <label>New Owner not current User</label>
        </rules>
    </decisions>
    <description>:: Allows Gebietsbereichsleitern to assign a new Owner to a Project</description>
    <environments>Default</environments>
    <formulas>
        <name>Project_Link</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Api.Enterprise_Server_URL_550} , FIND(&apos;/services&apos;, {!$Api.Enterprise_Server_URL_550})) + {!recordId}</expression>
    </formulas>
    <interviewLabel>Project Owner Assignment Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Owner Assignment Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Project__c</object>
        <outputAssignments>
            <assignToReference>Project_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LU_User.recordId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>User_Ad_Login_Name</assignToReference>
            <field>AD_Login_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>User_Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>User_First_Name</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>User_Language</assignToReference>
            <field>LanguageLocaleKey</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>User_Last_Name</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>New_Owner_equals_Current_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LU_User.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Screen_Assign_Record_Questions</name>
        <label>Screen_Assign Record Questions</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <fields>
            <name>DT_User_Assignment</name>
            <fieldText>&lt;p&gt;Which User should become the new Owner of this Project?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LU_User</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>New Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Project__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_New_Owner_assigned</name>
        <label>Screen_New Owner assigned</label>
        <locationX>380</locationX>
        <locationY>1058</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_Owner_assigned</name>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;strong&gt;﻿{!User_First_Name} {!User_Last_Name}&lt;/strong&gt; has been assigned as the new Owner of the Project&lt;strong&gt; {!Project_Name} &lt;/strong&gt;and will be notified via Email.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Assign_Record_Questions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Notification_Email_Body_English</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!User_First_Name} {!User_Last_Name},

You have been assigned as the new Owner of the Project {!Project_Name} by {!$User.FirstName} {!$User.LastName}.

Follow this link for details about the Project: {!Project_Link} 

Best regards,
Your Zeppelin Salesforce Team</text>
    </textTemplates>
    <textTemplates>
        <name>Notification_Email_Body_German</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hallo {!User_First_Name} {!User_Last_Name},

dir wurde das Projekt {!Project_Name} von {!$User.FirstName} {!$User.LastName} zugewiesen.

Logge dich ein, um mehr über das Projekt zu erfahren: {!Project_Link}

Viele Grüße,
dein Zeppelin Salesforce Team</text>
    </textTemplates>
    <textTemplates>
        <name>Notification_Email_Subject_English</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new Project has been assigned to you</text>
    </textTemplates>
    <textTemplates>
        <name>Notification_Email_Subject_German</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dir wurde ein neues Projekt zugewiesen</text>
    </textTemplates>
    <variables>
        <name>Project_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User_Ad_Login_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User_First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User_Language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User_Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
