force-app/main/default/flows/Quote_After_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Checks whether the Quote Number is empty or not.</description>
        <name>Is_Quote_Number_empty</name>
        <label>Is Quote Number empty?</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Quote Number not empty</defaultConnectorLabel>
        <rules>
            <name>Quote_Number_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quote_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_Territory_added</targetReference>
            </connector>
            <label>Quote Number empty</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether a Territory ID has been added when previously it was empty.</description>
        <name>Was_Territory_added</name>
        <label>Was Territory added?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Territory not added</defaultConnectorLabel>
        <rules>
            <name>Territory_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Territory_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territory_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Platform_Event</targetReference>
            </connector>
            <label>Territory added</label>
        </rules>
    </decisions>
    <description>:: Creates the Platform Event in case Quote Number is empty and Territory has been added.</description>
    <interviewLabel>Quote. After Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote. After Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Created the Platform Event for the Quote in order to send it to GRACE.</description>
        <name>Create_Platform_Event</name>
        <label>Create Platform Event</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Account_Customer_Number__c</field>
            <value>
                <elementReference>$Record.Account__r.Core_Customer_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Person_ID__c</field>
            <value>
                <elementReference>$Record.Contact__r.PersonID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Source_System__c</field>
            <value>
                <elementReference>$Record.Core_Source_System__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exact_Source__c</field>
            <value>
                <elementReference>$Record.Exact_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_City__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Construction_Site_Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Country__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Construction_Site_Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_PostalCode__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Construction_Site_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Street__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Construction_Site_Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Reference__c</field>
            <value>
                <elementReference>$Record.Order_Reference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesforce_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_ID__c</field>
            <value>
                <elementReference>$Record.Territory_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Category__c</field>
            <value>
                <elementReference>$Record.Transaction_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Type__c</field>
            <value>
                <elementReference>$Record.Transaction_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Quote_PE__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Quote_Number_empty</targetReference>
        </connector>
        <object>Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
