force-app/main/default/flows/Update_Project_Helper_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cleanse_Helper_Fields</name>
        <label>Cleanse Helper Fields</label>
        <locationX>182</locationX>
        <locationY>1776</locationY>
        <actionName>FlowActionDuplicateCheck</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cleanseProjectFields</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>executeDuplicateCheck</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectAccountLeadRelations</name>
            <value>
                <elementReference>palrList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectAccountRelations</name>
            <value>
                <elementReference>parList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedAccountLeadsList</name>
            <value>
                <elementReference>accountLeadList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedAccountsList</name>
            <value>
                <elementReference>accountList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowActionDuplicateCheck</nameSegment>
        <outputParameters>
            <assignToReference>cleansedProject</assignToReference>
            <name>flowProject</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Empty_involved_account_helper_fields</name>
        <label>Empty involved account helper fields</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>$Record.Involved_Accounts_cleaned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Building_Owner_cleaned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Building_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Project_Account_Relations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Account_Id</name>
        <label>Store Account Id</label>
        <locationX>138</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>accountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Collect_Account_Records.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Account_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Account_Lead_Id</name>
        <label>Store Account Lead Id</label>
        <locationX>138</locationX>
        <locationY>1392</locationY>
        <assignmentItems>
            <assignToReference>accountLeadIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Collect_Account_Lead_Records.Account_Lead__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Account_Lead_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Project_Account_Lead_Relations_Exist</name>
        <label>Project Account Lead Relations Exist</label>
        <locationX>182</locationX>
        <locationY>1176</locationY>
        <defaultConnector>
            <targetReference>Cleanse_Helper_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PALR_Records_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>palrList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Account_Lead_Records</targetReference>
            </connector>
            <label>Records Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Account_Relations_Exist</name>
        <label>Project Account Relations Exist</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Get_Project_Account_Lead_Relations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Records_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Account_Records</targetReference>
            </connector>
            <label>Records Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Project Helper Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Project Helper Fields</label>
    <loops>
        <name>Collect_Account_Lead_Records</name>
        <label>Collect Account Lead Records</label>
        <locationX>50</locationX>
        <locationY>1284</locationY>
        <collectionReference>palrList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Account_Lead_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Account_Leads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Collect_Account_Records</name>
        <label>Collect Account Records</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <collectionReference>parList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Account_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Leads</name>
        <label>Get Account Leads</label>
        <locationX>50</locationX>
        <locationY>1584</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cleanse_Helper_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>accountLeadIds</elementReference>
            </value>
        </filters>
        <object>Account_Lead__c</object>
        <outputReference>accountLeadList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_Account_Lead_Relations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>accountIds</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accountList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Account_Lead_Relations</name>
        <label>Get Project Account Lead Relations</label>
        <locationX>182</locationX>
        <locationY>1068</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Account_Lead_Relations_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Project_Account_Lead_Relation__c</object>
        <outputReference>palrList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Account_Lead__c</queriedFields>
        <queriedFields>Project__c</queriedFields>
        <queriedFields>Account_Role__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Account_Relations</name>
        <label>Get Project Account Relations</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Account_Relations_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Project_Account_Relation__c</object>
        <outputReference>parList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Project__c</queriedFields>
        <queriedFields>Account_Role__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>182</locationX>
        <locationY>1884</locationY>
        <inputReference>cleansedProject</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Empty_involved_account_helper_fields</targetReference>
        </connector>
        <object>Project__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-11-27</startDate>
            <startTime>14:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>accountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountLeadIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountLeadList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Lead__c</objectType>
    </variables>
    <variables>
        <name>accountList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>cleansedProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>palrList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Account_Lead_Relation__c</objectType>
    </variables>
    <variables>
        <name>parList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Account_Relation__c</objectType>
    </variables>
</Flow>
