force-app/main/default/flows/ZR_Account_Set_Deletion_Code_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Does_Account_already_have_a_Deletion_Code</name>
        <label>Does Account already have a Deletion Code?</label>
        <locationX>2536</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Deletion_Code_Flow_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Deletion Code true</defaultConnectorLabel>
        <rules>
            <name>Deletion_Code_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Deletion_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prospect_or_Customer</targetReference>
            </connector>
            <label>Deletion Code false</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Account_Contact_Relations_connected</name>
        <label>Has Account Contact Relations connected</label>
        <locationX>1194</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Account_has_connected_Records_Flow_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Contact Relation connected</defaultConnectorLabel>
        <rules>
            <name>No_Account_Contact_Relation_connected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConnectedContacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Involved_Accounts</targetReference>
            </connector>
            <label>No Account Contact Relation connected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Account_Team_Member_connected</name>
        <label>Has Account Team Member connected</label>
        <locationX>1370</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Account_has_connected_Records_Flow_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account Team Member connected</defaultConnectorLabel>
        <rules>
            <name>Account_Team_Member_connected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConnectedAccountTeam</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Contact_Relations</targetReference>
            </connector>
            <label>Account Team Member connected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Events_connected</name>
        <label>Has Events connected</label>
        <locationX>1722</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Account_has_connected_Records_Flow_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Events connected</defaultConnectorLabel>
        <rules>
            <name>No_Events_connected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConnectedEvents</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Content_Document_Link</targetReference>
            </connector>
            <label>No Events connected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Grants_connected</name>
        <label>Has Grants connected</label>
        <locationX>182</locationX>
        <locationY>3278</locationY>
        <defaultConnector>
            <targetReference>Account_has_connected_Records_Flow_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Grants connected</defaultConnectorLabel>
        <rules>
            <name>No_Grants_connected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConnectedGrants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Deletion_Code_Flag</targetReference>
            </connector>
            <label>No Grants connected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Involved_Accounts_connected</name>
        <label>Has Involved Accounts connected</label>
        <locationX>1019</locationX>
        <locationY>2078</locationY>
        <defaultConnector>
            <targetReference>Account_has_connected_Records_Flow_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Involved Accounts connected</defaultConnectorLabel>
        <rules>
            <name>No_involved_Accounts_connected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConnectedInvolvedAccounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Projects_Account_Relation</targetReference>
            </connector>
            <label>No involved Accounts connected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Notes_or_Files_connected</name>
        <label>Has Notes or Files connected</label>
        <locationX>1546</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Account_has_connected_Records_Flow_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Notes or Files connected</defaultConnectorLabel>
        <rules>
            <name>No_Notes_or_Files_connected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConnectedNotes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Team</targetReference>
            </connector>
            <label>No Notes or Files connected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Opportunities_connected</name>
        <label>Has Opportunities connected</label>
        <locationX>671</locationX>
        <locationY>2558</locationY>
        <defaultConnector>
            <targetReference>Account_has_connected_Records_Flow_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunities connected</defaultConnectorLabel>
        <rules>
            <name>No_Opportunities_connected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConnectedOpportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quotes</targetReference>
            </connector>
            <label>No Opportunities connected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Orders_connected</name>
        <label>Has Orders connected</label>
        <locationX>336</locationX>
        <locationY>3038</locationY>
        <defaultConnector>
            <targetReference>Account_has_connected_Records_Flow_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Orders connected</defaultConnectorLabel>
        <rules>
            <name>No_Orders_connected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConnectedOrders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Grants</targetReference>
            </connector>
            <label>No Orders connected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Project_Account_Relations_connected</name>
        <label>Has Project Account Relations connected</label>
        <locationX>844</locationX>
        <locationY>2318</locationY>
        <defaultConnector>
            <targetReference>Account_has_connected_Records_Flow_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Project Account Relations connected</defaultConnectorLabel>
        <rules>
            <name>No_Project_Account_Relations_connected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConnectedProjectAccountRelations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunities</targetReference>
            </connector>
            <label>No Project Account Relations connected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Quotes_connected</name>
        <label>Has Quotes connected</label>
        <locationX>501</locationX>
        <locationY>2798</locationY>
        <defaultConnector>
            <targetReference>Account_has_connected_Records_Flow_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quotes connected</defaultConnectorLabel>
        <rules>
            <name>No_Quotes_connected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConnectedQuotes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Orders</targetReference>
            </connector>
            <label>No Quotes connected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Tasks_conntected</name>
        <label>Has Tasks conntected</label>
        <locationX>1898</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Account_has_connected_Records_Flow_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tasks connected</defaultConnectorLabel>
        <rules>
            <name>No_Tasks_connected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConnectedTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Events</targetReference>
            </connector>
            <label>No Tasks connected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_User_Access</name>
        <label>Has User Access</label>
        <locationX>2074</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>User_has_no_Access_Flow_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User has no access</defaultConnectorLabel>
        <rules>
            <name>User_has_access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountEditAccess</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tasks</targetReference>
            </connector>
            <label>User has access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prospect_or_Customer</name>
        <label>Prospect or Customer</label>
        <locationX>2294</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Customer_Flow_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account is Customer</defaultConnectorLabel>
        <rules>
            <name>Account_is_Prospect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Core_Customer_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Access</targetReference>
            </connector>
            <label>Account is Prospect</label>
        </rules>
    </decisions>
    <description>- Started via Button on the Account
- Sets the Deletion Code on the Account</description>
    <environments>Default</environments>
    <interviewLabel>Account Set Deletion Code Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Set Deletion Code Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Account_Access</name>
        <label>Account Access</label>
        <locationX>2074</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_User_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasEditAccess</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>UserRecordAccess</object>
        <outputAssignments>
            <assignToReference>AccountEditAccess</assignToReference>
            <field>RecordId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>2536</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Account_already_have_a_Deletion_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Contact_Relations</name>
        <label>Get Account Contact Relations</label>
        <locationX>1194</locationX>
        <locationY>1718</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Account_Contact_Relations_connected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputAssignments>
            <assignToReference>ConnectedContacts</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Team</name>
        <label>Get Account Team</label>
        <locationX>1370</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Account_Team_Member_connected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputAssignments>
            <assignToReference>ConnectedAccountTeam</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document_Link</name>
        <label>Get Content Document Link</label>
        <locationX>1546</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Notes_or_Files_connected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputAssignments>
            <assignToReference>ConnectedNotes</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Events</name>
        <label>Get Events</label>
        <locationX>1722</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Events_connected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>ConnectedEvents</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Grants</name>
        <label>Get Grants</label>
        <locationX>182</locationX>
        <locationY>3158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Grants_connected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Core_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <object>Core_Grant__c</object>
        <outputAssignments>
            <assignToReference>ConnectedGrants</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Involved_Accounts</name>
        <label>Get Involved Accounts</label>
        <locationX>1019</locationX>
        <locationY>1958</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Involved_Accounts_connected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <object>Involved_Accounts__c</object>
        <outputAssignments>
            <assignToReference>ConnectedInvolvedAccounts</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>671</locationX>
        <locationY>2438</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Opportunities_connected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>ConnectedOpportunities</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Orders</name>
        <label>Get Orders</label>
        <locationX>336</locationX>
        <locationY>2918</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Orders_connected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <object>Order__c</object>
        <outputAssignments>
            <assignToReference>ConnectedOrders</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Projects_Account_Relation</name>
        <label>Get Projects Account Relation</label>
        <locationX>844</locationX>
        <locationY>2198</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Project_Account_Relations_connected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <object>Project_Account_Relation__c</object>
        <outputAssignments>
            <assignToReference>ConnectedProjectAccountRelations</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Quotes</name>
        <label>Get Quotes</label>
        <locationX>501</locationX>
        <locationY>2678</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Quotes_connected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <object>Quote__c</object>
        <outputAssignments>
            <assignToReference>ConnectedQuotes</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks</name>
        <label>Get Tasks</label>
        <locationX>1898</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Tasks_conntected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>ConnectedTasks</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Deletion_Code_Flag</name>
        <label>Set Deletion Code Flag</label>
        <locationX>50</locationX>
        <locationY>3398</locationY>
        <connector>
            <targetReference>Deletion_Code_Set_Flow_End</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deletion_Code__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Account_has_connected_Records_Flow_End</name>
        <label>Account has connected Records Flow End</label>
        <locationX>1898</locationX>
        <locationY>4814</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Account_has_connected_Records_Flow_End_Text</name>
            <fieldText>&lt;p&gt;You can not set a deletion flag on an Account with connected records.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Customer_Flow_End</name>
        <label>Customer Flow End</label>
        <locationX>2514</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Customer_Flow_End_Text</name>
            <fieldText>&lt;p&gt;You can not set a deletion flag on a Customer Account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Deletion_Code_Flow_End</name>
        <label>Deletion Code Flow End</label>
        <locationX>2778</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_Deletion_Code_already_set</name>
            <fieldText>&lt;p&gt;The Account is already marked for deletion.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Deletion_Code_Set_Flow_End</name>
        <label>Deletion Code Set Flow End</label>
        <locationX>50</locationX>
        <locationY>3518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Deletion_Code_Set_Flow_End_Text</name>
            <fieldText>&lt;p&gt;The deletion code has been set.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_has_no_Access_Flow_End</name>
        <label>User has no Access Flow End</label>
        <locationX>2250</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>User_has_no_access_Flow_End_Text</name>
            <fieldText>&lt;p&gt;You do not have access to set a deletion flag on this Account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2410</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountEditAccess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>ConnectedAccountTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>ConnectedAttachments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>ConnectedContacts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>ConnectedEvents</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>ConnectedGrants</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>ConnectedInvolvedAccounts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>ConnectedNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>ConnectedOpportunities</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>ConnectedOrders</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>ConnectedProjectAccountRelations</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>ConnectedQuotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>ConnectedTasks</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
