force-app/main/default/flows/ZR_Account_After_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_English</name>
        <label>Send Notification English</label>
        <locationX>435</locationX>
        <locationY>6167</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_English.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>EnglishNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>EnglishNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>EnglishRecipientIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_German</name>
        <label>Send Notification German</label>
        <locationX>435</locationX>
        <locationY>5759</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Recipients_Check_English</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_German.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>GermanNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>GermanNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GermanRecipientIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_English_old_LAM_to_Recipients</name>
        <label>Add English old LAM to Recipients</label>
        <locationX>314</locationX>
        <locationY>4691</locationY>
        <assignmentItems>
            <assignToReference>EnglishRecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.Large_Account_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Owner_active_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_English_Owner_to_Recipients</name>
        <label>Add English Owner to Recipients</label>
        <locationX>501</locationX>
        <locationY>5267</locationY>
        <assignmentItems>
            <assignToReference>EnglishRecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recipients_Check_German</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_German_old_LAM_to_Recipients</name>
        <label>Add German old LAM to Recipients</label>
        <locationX>50</locationX>
        <locationY>4691</locationY>
        <assignmentItems>
            <assignToReference>GermanRecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.Large_Account_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Owner_active_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_German_Owner_to_Recipients</name>
        <label>Add German Owner to Recipients</label>
        <locationX>237</locationX>
        <locationY>5267</locationY>
        <assignmentItems>
            <assignToReference>GermanRecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recipients_Check_German</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_old_KAM_to_English_Recipients</name>
        <label>Add old KAM to English Recipients</label>
        <locationX>314</locationX>
        <locationY>4007</locationY>
        <assignmentItems>
            <assignToReference>EnglishRecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.Key_Account_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_LAM_been_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_old_KAM_to_German_Recipients</name>
        <label>Add old KAM to German Recipients</label>
        <locationX>50</locationX>
        <locationY>4007</locationY>
        <assignmentItems>
            <assignToReference>GermanRecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.Key_Account_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_LAM_been_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Team_Member_to_English_Recipients</name>
        <label>Add Team Member to English Recipients</label>
        <locationX>875</locationX>
        <locationY>3239</locationY>
        <assignmentItems>
            <assignToReference>EnglishRecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Account_Team_Member.User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Account_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Team_Member_to_German_Recipients</name>
        <label>Add Team Member to German Recipients</label>
        <locationX>611</locationX>
        <locationY>3239</locationY>
        <assignmentItems>
            <assignToReference>GermanRecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Account_Team_Member.User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Account_Team_Member</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Team_Member_available</name>
        <label>Account Team Member available</label>
        <locationX>567</locationX>
        <locationY>2807</locationY>
        <defaultConnector>
            <targetReference>Has_KAM_been_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account Team</defaultConnectorLabel>
        <rules>
            <name>Account_Team_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Account_Team_Member</targetReference>
            </connector>
            <label>Account Team available</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision checks, if the last modified user of the Account that started this Flow is the Integration User. If the Account was modified by the Integration no Platform Event should be created.</description>
        <name>Check_if_Integration_User</name>
        <label>Check if Integration User</label>
        <locationX>765</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>KAM_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Integration User</defaultConnectorLabel>
        <rules>
            <name>Not_Integration_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Integration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Prospect_or_Customer</targetReference>
            </connector>
            <label>Not Integration User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Prospect_or_Customer</name>
        <label>Check if Prospect or Customer</label>
        <locationX>501</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Grace_relevant_Update_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account is Customer</defaultConnectorLabel>
        <rules>
            <name>Account_is_Prospect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Core_Customer_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grace_relevant_Update_Prospect</targetReference>
            </connector>
            <label>Account is Prospect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Grace_relevant_Update_Customer</name>
        <label>Grace relevant Update Customer</label>
        <locationX>721</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>KAM_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not relevant Update Customer</defaultConnectorLabel>
        <rules>
            <name>Relevant_Update_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Customer_Platform_Event</targetReference>
            </connector>
            <label>Relevant Update Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Grace_relevant_Update_Prospect</name>
        <label>Grace relevant Update Prospect</label>
        <locationX>281</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>KAM_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not relevant Update Prospect</defaultConnectorLabel>
        <rules>
            <name>Relevant_Update_Prospect</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Core_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Core_Email__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Core_Legal_Status_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Core_Legal_Status_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Core_Sales_Tax_ID_No__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Core_Sales_Tax_ID_No__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Name2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Name3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name4__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Name4__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deletion_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Deletion_Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fax</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Fax</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Phone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Website</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Core_WZ_Code_1__r.Core_WZ_Code_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Core_WZ_Code_1__r.Core_WZ_Code_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Core_WZ_Code_2__r.Core_WZ_Code_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Core_WZ_Code_2__r.Core_WZ_Code_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Core_WZ_Code_3__r.Core_WZ_Code_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Core_WZ_Code_3__r.Core_WZ_Code_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Core_WZ_Code_4__r.Core_WZ_Code_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Core_WZ_Code_4__r.Core_WZ_Code_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.BillingCity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.BillingCountry</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingPostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.BillingPostalCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingStreet</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.BillingStreet</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Prospect_Platform_Event</targetReference>
            </connector>
            <label>Relevant Update Prospect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_KAM_been_changed</name>
        <label>Has KAM been changed</label>
        <locationX>567</locationX>
        <locationY>3683</locationY>
        <defaultConnector>
            <targetReference>Has_LAM_been_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KAM was not changed</defaultConnectorLabel>
        <rules>
            <name>KAM_was_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Key_Account_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Key_Account_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Old_and_New_KAM_filled_and_active</targetReference>
            </connector>
            <label>KAM was changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_LAM_been_changed</name>
        <label>Has LAM been changed</label>
        <locationX>567</locationX>
        <locationY>4367</locationY>
        <defaultConnector>
            <targetReference>Is_Owner_active_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LAM was not changed</defaultConnectorLabel>
        <rules>
            <name>LAM_was_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Large_Account_Manager__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Large_Account_Manager__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Old_and_New_LAM_filled_and_active</targetReference>
            </connector>
            <label>LAM was changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_relevant_Data_been_changed</name>
        <label>Has relevant Data been changed for Notification?</label>
        <locationX>765</locationX>
        <locationY>2591</locationY>
        <defaultConnectorLabel>No Notification relevant data has been changed</defaultConnectorLabel>
        <rules>
            <name>Relevant_Data_has_been_changed</name>
            <conditionLogic>1 OR 2 OR 3 OR 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bankruptcy_Flag__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Bankruptcy_Flag__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deletion_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Deletion_Code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Team_Member</targetReference>
            </connector>
            <label>Relevant Data has been changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the KAM field is empty or not.</description>
        <name>Is_KAM_empty</name>
        <label>Is KAM empty?</label>
        <locationX>490</locationX>
        <locationY>1115</locationY>
        <defaultConnector>
            <targetReference>Add_new_KAM_to_Account_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KAM is not empty</defaultConnectorLabel>
        <rules>
            <name>KAM_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Key_Account_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Team_Members_KAM</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>KAM is empty</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the LAM field is empty now.</description>
        <name>IS_LAM_Empty</name>
        <label>Is LAM Empty?</label>
        <locationX>490</locationX>
        <locationY>1907</locationY>
        <defaultConnector>
            <targetReference>Add_new_LAM_to_Account_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LAM is not empty</defaultConnectorLabel>
        <rules>
            <name>LAM_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Large_Account_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Team_Members_LAM</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>LAM is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_active_User</name>
        <label>Is Owner active User</label>
        <locationX>567</locationX>
        <locationY>5051</locationY>
        <defaultConnector>
            <targetReference>Recipients_Check_German</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner is not active or Last Modified User</defaultConnectorLabel>
        <rules>
            <name>Owner_is_active_and_not_Last_Modified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedBy.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Language</targetReference>
            </connector>
            <label>Owner is active and not Last Modified</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the KAM field has bee updated.</description>
        <name>KAM_changed</name>
        <label>KAM changed?</label>
        <locationX>765</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>LAM_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KAM not changed</defaultConnectorLabel>
        <rules>
            <name>KAM_changed2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Key_Account_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Key_Account_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_KAM_empty</targetReference>
            </connector>
            <label>KAM changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether LAM field was updated.</description>
        <name>LAM_changed</name>
        <label>LAM changed?</label>
        <locationX>765</locationX>
        <locationY>1799</locationY>
        <defaultConnector>
            <targetReference>Has_relevant_Data_been_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LAM not changed</defaultConnectorLabel>
        <rules>
            <name>LAM_changed2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Large_Account_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Large_Account_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IS_LAM_Empty</targetReference>
            </connector>
            <label>LAM changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Old_and_New_KAM_filled_and_active</name>
        <label>Old and New KAM filled and active</label>
        <locationX>380</locationX>
        <locationY>3791</locationY>
        <defaultConnector>
            <targetReference>Has_LAM_been_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No KAM available</defaultConnectorLabel>
        <rules>
            <name>Old_KAM_is_filled_and_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Key_Account_Manager__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Key_Account_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Old_and_New_KAM_filled_and_active_Language</targetReference>
            </connector>
            <label>Old KAM is filled and active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Old_and_New_KAM_filled_and_active_Language</name>
        <label>Old and New KAM filled and active Language</label>
        <locationX>182</locationX>
        <locationY>3899</locationY>
        <defaultConnector>
            <targetReference>Add_old_KAM_to_English_Recipients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>English Old and New KAM filled and active Language</defaultConnectorLabel>
        <rules>
            <name>German_Old_and_New_KAM_filled_and_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Key_Account_Manager__r.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_old_KAM_to_German_Recipients</targetReference>
            </connector>
            <label>German Old and New KAM filled and active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Old_and_New_LAM_filled_and_active</name>
        <label>Old and New LAM filled and active</label>
        <locationX>380</locationX>
        <locationY>4475</locationY>
        <defaultConnector>
            <targetReference>Is_Owner_active_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No LAM available</defaultConnectorLabel>
        <rules>
            <name>Old_LAM_filled_and_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Large_Account_Manager__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Large_Account_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Old_and_New_LAM_filled_and_active_Language</targetReference>
            </connector>
            <label>Old LAM filled and active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Old_and_New_LAM_filled_and_active_Language</name>
        <label>Old and New LAM filled and active Language</label>
        <locationX>182</locationX>
        <locationY>4583</locationY>
        <defaultConnector>
            <targetReference>Add_English_old_LAM_to_Recipients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>English Old and New LAM filled and active</defaultConnectorLabel>
        <rules>
            <name>German_Old_and_New_LAM_filled_and_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Large_Account_Manager__r.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_German_old_LAM_to_Recipients</targetReference>
            </connector>
            <label>German Old and New LAM filled and active</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the old KAM is part of the Account Team.</description>
        <name>Old_KAM_part_of_AT</name>
        <label>Old KAM part of AT?</label>
        <locationX>292</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>LAM_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prior KAM not in AT</defaultConnectorLabel>
        <rules>
            <name>Prior_KAM_in_AT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Team_Members_KAM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_old_KAM_from_AT</targetReference>
            </connector>
            <label>Prior KAM in AT</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if there is an Account Team Member existing for the prior LAM.</description>
        <name>Old_LAM_part_of_AT</name>
        <label>Old LAM part of AT?</label>
        <locationX>292</locationX>
        <locationY>2123</locationY>
        <defaultConnector>
            <targetReference>Has_relevant_Data_been_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prior LAM not in AT</defaultConnectorLabel>
        <rules>
            <name>Prior_LAM_in_AT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Team_Members_LAM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_old_LAM_from_AT</targetReference>
            </connector>
            <label>Prior LAM in AT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Language</name>
        <label>Owner Language</label>
        <locationX>369</locationX>
        <locationY>5159</locationY>
        <defaultConnector>
            <targetReference>Add_English_Owner_to_Recipients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>English Owner</defaultConnectorLabel>
        <rules>
            <name>German_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_German_Owner_to_Recipients</targetReference>
            </connector>
            <label>German Owner</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether the prior value for KAM was empty</description>
        <name>Prior_KAM_empty</name>
        <label>Prior KAM empty?</label>
        <locationX>688</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Account_Team_Members_KAM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prior KAM not null</defaultConnectorLabel>
        <rules>
            <name>Prior_KAM_was_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Key_Account_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LAM_changed</targetReference>
            </connector>
            <label>Prior KAM was null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the prior entzry for LAM was null or not.</description>
        <name>Prior_LAM_empty</name>
        <label>Prior LAM empty?</label>
        <locationX>688</locationX>
        <locationY>2123</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Account_Team_Members_LAM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prior LAM not null</defaultConnectorLabel>
        <rules>
            <name>Prior_LAM_was_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Large_Account_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_relevant_Data_been_changed</targetReference>
            </connector>
            <label>Prior LAM was null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recipients_Check_English</name>
        <label>Recipients Check English</label>
        <locationX>567</locationX>
        <locationY>5951</locationY>
        <defaultConnectorLabel>No Recipients available English</defaultConnectorLabel>
        <rules>
            <name>Recipients_available_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EnglishRecipientIDs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification_English</targetReference>
            </connector>
            <label>Recipients available English</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recipients_Check_German</name>
        <label>Recipients Check German</label>
        <locationX>567</locationX>
        <locationY>5543</locationY>
        <defaultConnector>
            <targetReference>Recipients_Check_English</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Recipients available</defaultConnectorLabel>
        <rules>
            <name>Recipients_available_German</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GermanRecipientIDs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification_German</targetReference>
            </connector>
            <label>Recipients available German</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team_Member_is_active_User</name>
        <label>Team Member is active User</label>
        <locationX>941</locationX>
        <locationY>3023</locationY>
        <defaultConnector>
            <targetReference>Loop_over_Account_Team_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Team Member is not active or Last Modified</defaultConnectorLabel>
        <rules>
            <name>Team_Member_is_active_and_not_Last_Modified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Account_Team_Member.User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_Account_Team_Member.User.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedBy.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Team_Member_Language</targetReference>
            </connector>
            <label>Team Member is active and not Last Modified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team_Member_Language</name>
        <label>Team Member Language</label>
        <locationX>743</locationX>
        <locationY>3131</locationY>
        <defaultConnector>
            <targetReference>Add_Team_Member_to_English_Recipients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>English Team Member</defaultConnectorLabel>
        <rules>
            <name>German_Team_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Account_Team_Member.User.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Team_Member_to_German_Recipients</targetReference>
            </connector>
            <label>German Team Member</label>
        </rules>
    </decisions>
    <description>- Sends Platform Event for either Customer or Prospect if Grace-relevant data has been changed by anyone other than the Integration User
- Adds and removes KAM and LAM to the Account Team if one of them has been changed
- Sends out Notification to Owner and Account Team if relevant data has been changed. If the KAM or LAM has been changed during this update, the old KAM or LAM will be informed as well.</description>
    <environments>Default</environments>
    <formulas>
        <name>EnglishNotificationBody</name>
        <dataType>String</dataType>
        <expression>&apos;Changes on the Account &apos;+{!$Record.Name}+&apos; have been made.&apos;</expression>
    </formulas>
    <formulas>
        <name>EnglishNotificationTitle</name>
        <dataType>String</dataType>
        <expression>&apos;Changes on Account &apos;+{!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>GermanNotificationBody</name>
        <dataType>String</dataType>
        <expression>&apos;Es wurden Änderungen an dem Account &apos;+{!$Record.Name}+&apos; vorgenommen.&apos;</expression>
    </formulas>
    <formulas>
        <name>GermanNotificationTitle</name>
        <dataType>String</dataType>
        <expression>&apos;Änderungen für den Account &apos;+{!$Record.Name}</expression>
    </formulas>
    <interviewLabel>Account After Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account After Update Flow</label>
    <loops>
        <name>Loop_over_Account_Team_Member</name>
        <label>Loop over Account Team Member</label>
        <locationX>523</locationX>
        <locationY>2915</locationY>
        <collectionReference>AccountTeamMemberCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Team_Member_is_active_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_KAM_been_changed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Adds the new KAM to the Account Team.</description>
        <name>Add_new_KAM_to_Account_Team</name>
        <label>Add new KAM to Account Team</label>
        <locationX>688</locationX>
        <locationY>1223</locationY>
        <connector>
            <targetReference>Prior_KAM_empty</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Key_Account_Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$Record.Key_Account_Manager__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Adds the new LAM to the Account Team.</description>
        <name>Add_new_LAM_to_Account_Team</name>
        <label>Add new LAM to Account Team</label>
        <locationX>688</locationX>
        <locationY>2015</locationY>
        <connector>
            <targetReference>Prior_LAM_empty</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Large_Account_Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$Record.Large_Account_Manager__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>This action creates an Account Customer Platform Event that will be send to Grace, whenever an Account has been updated.</description>
        <name>Create_Account_Customer_Platform_Event</name>
        <label>Create Account Customer Platform Event</label>
        <locationX>589</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>KAM_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Core_Customer_Number__c</field>
            <value>
                <elementReference>$Record.Core_Customer_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesforce_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Customer_PE__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>This action creates an Account Prospect Platform Event that will be send to Grace, whenever an Account has been updated.</description>
        <name>Create_Account_Prospect_Platform_Event</name>
        <label>Create Account Prospect Platform Event</label>
        <locationX>149</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>KAM_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity__c</field>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry__c</field>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode__c</field>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet__c</field>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Customer_Number__c</field>
            <value>
                <elementReference>$Record.Core_Customer_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Customer_Type__c</field>
            <value>
                <elementReference>$Record.Core_Customer_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Email__c</field>
            <value>
                <elementReference>$Record.Core_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Legal_Status_ID__c</field>
            <value>
                <elementReference>$Record.Core_Legal_Status_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Modified_by_User__c</field>
            <value>
                <elementReference>$Record.Core_Modified_by_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Sales_Tax_ID_No__c</field>
            <value>
                <elementReference>$Record.Core_Sales_Tax_ID_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Source_System__c</field>
            <value>
                <elementReference>$Record.Core_Source_System__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_WZ_Code_1__c</field>
            <value>
                <elementReference>$Record.Core_WZ_Code_1__r.Core_WZ_Code_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_WZ_Code_2__c</field>
            <value>
                <elementReference>$Record.Core_WZ_Code_2__r.Core_WZ_Code_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_WZ_Code_3__c</field>
            <value>
                <elementReference>$Record.Core_WZ_Code_3__r.Core_WZ_Code_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_WZ_Code_4__c</field>
            <value>
                <elementReference>$Record.Core_WZ_Code_4__r.Core_WZ_Code_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById__c</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_On__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Creation_User__c</field>
            <value>
                <elementReference>$Record.Creation_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deletion_Code__c</field>
            <value>
                <elementReference>$Record.Deletion_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax__c</field>
            <value>
                <elementReference>$Record.Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastModifiedById__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name2__c</field>
            <value>
                <elementReference>$Record.Name2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name3__c</field>
            <value>
                <elementReference>$Record.Name3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name4__c</field>
            <value>
                <elementReference>$Record.Name4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesforce_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website__c</field>
            <value>
                <elementReference>$Record.Website</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Prospect_PE__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <description>Removes the prior KAM from the Account Team.</description>
        <name>Delete_old_KAM_from_AT</name>
        <label>Delete old KAM from AT</label>
        <locationX>160</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>LAM_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Key_Account_Manager__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>AccountTeamMember</object>
    </recordDeletes>
    <recordDeletes>
        <description>Removes the prior LAM from the Account Team.</description>
        <name>Delete_old_LAM_from_AT</name>
        <label>Delete old LAM from AT</label>
        <locationX>160</locationX>
        <locationY>2231</locationY>
        <connector>
            <targetReference>Has_relevant_Data_been_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Large_Account_Manager__r.Id</elementReference>
            </value>
        </filters>
        <object>AccountTeamMember</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Account_Team_Member</name>
        <label>Get Account Team Member</label>
        <locationX>567</locationX>
        <locationY>2699</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Team_Member_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputReference>AccountTeamMemberCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Retreives all Account Team Member records for the current Account.</description>
        <name>Get_Account_Team_Members_KAM</name>
        <label>Get Account Team Members KAM</label>
        <locationX>292</locationX>
        <locationY>1223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Old_KAM_part_of_AT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Key_Account_Manager__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TeamMemberRole</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retreives the Account Team Member records related to the LAM.</description>
        <name>Get_Account_Team_Members_LAM</name>
        <label>Get Account Team Members LAM</label>
        <locationX>292</locationX>
        <locationY>2015</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Old_LAM_part_of_AT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Large_Account_Manager__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_English</name>
        <label>Get Custom Notification English</label>
        <locationX>435</locationX>
        <locationY>6059</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification_English</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_for_changes_on_Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_German</name>
        <label>Get Custom Notification German</label>
        <locationX>435</locationX>
        <locationY>5651</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification_German</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_for_changes_on_Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>639</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Integration_User</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountTeamMemberCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>EnglishRecipientIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GermanRecipientIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UsersinTerritoryCollections</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountUserTerritory2View</objectType>
    </variables>
</Flow>
