force-app/main/default/flows/ZR_Account_After_Insert_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>This decision checks, if the creation user of the Account that started this Flow is the Integration User. If the Account was created by the Integration no Platform Event should be created.</description>
        <name>Check_if_Integration_User</name>
        <label>Check if Integration User</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Is_KAM_filled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Integration User</defaultConnectorLabel>
        <rules>
            <name>Not_Integration_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Creation_User.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Integration User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Platform_Event</targetReference>
            </connector>
            <label>Not Integration User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_KAM_filled</name>
        <label>Is KAM filled?</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Is_LAM_filled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KAM is empty</defaultConnectorLabel>
        <rules>
            <name>KAM_is_filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Key_Account_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_KAM_to_Account_Team</targetReference>
            </connector>
            <label>KAM is filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_LAM_filled</name>
        <label>Is LAM filled?</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <defaultConnectorLabel>LAM is empty</defaultConnectorLabel>
        <rules>
            <name>LAM_is_filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Large_Account_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_new_LAM_to_Account_Team</targetReference>
            </connector>
            <label>LAM is filled</label>
        </rules>
    </decisions>
    <description>- Sends out a Platform Event after an Account has been inserted by anyone other than the Integration User.
- Adds and removes KAM and LAM to the Account Team</description>
    <interviewLabel>Account After Insert Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account After Insert Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_KAM_to_Account_Team</name>
        <label>Add KAM to Account Team</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Is_LAM_filled</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Key_Account_Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$Record.Key_Account_Manager__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_new_LAM_to_Account_Team</name>
        <label>Add new LAM to Account Team</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>AccountAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Large_Account_Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$Record.Large_Account_Manager__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>This action creates an Account Platform Event that will be send to Grace, whenever a new Account has been created.</description>
        <name>Create_Account_Platform_Event</name>
        <label>Create Account Platform Event</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Is_KAM_filled</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity__c</field>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry__c</field>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode__c</field>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet__c</field>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Customer_Number__c</field>
            <value>
                <elementReference>$Record.Core_Customer_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Customer_Type__c</field>
            <value>
                <elementReference>$Record.Core_Customer_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Email__c</field>
            <value>
                <elementReference>$Record.Core_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Legal_Status_ID__c</field>
            <value>
                <elementReference>$Record.Core_Legal_Status_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Modified_by_User__c</field>
            <value>
                <elementReference>$Record.Core_Modified_by_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Sales_Tax_ID_No__c</field>
            <value>
                <elementReference>$Record.Core_Sales_Tax_ID_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Source_System__c</field>
            <value>
                <elementReference>$Record.Core_Source_System__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_WZ_Code_1__c</field>
            <value>
                <elementReference>$Record.Core_WZ_Code_1__r.Core_WZ_Code_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_WZ_Code_2__c</field>
            <value>
                <elementReference>$Record.Core_WZ_Code_2__r.Core_WZ_Code_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_WZ_Code_3__c</field>
            <value>
                <elementReference>$Record.Core_WZ_Code_3__r.Core_WZ_Code_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_WZ_Code_4__c</field>
            <value>
                <elementReference>$Record.Core_WZ_Code_4__r.Core_WZ_Code_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById__c</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_On__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Creation_User__c</field>
            <value>
                <elementReference>$Record.Creation_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deletion_Code__c</field>
            <value>
                <elementReference>$Record.Deletion_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax__c</field>
            <value>
                <elementReference>$Record.Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastModifiedById__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name2__c</field>
            <value>
                <elementReference>$Record.Name2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name3__c</field>
            <value>
                <elementReference>$Record.Name3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name4__c</field>
            <value>
                <elementReference>$Record.Name4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesforce_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website__c</field>
            <value>
                <elementReference>$Record.Website</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Prospect_PE__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Creation_User</name>
        <label>Get Creation User</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Integration_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Creation_User</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
