force-app/main/default/flows/ZR_Contact_Before_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Clear_Confirmation_Date_Save_without_Email</name>
        <label>Clear Confirmation Date Save without Email</label>
        <locationX>754</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Confirmation_Date_no_E_Mail_Entry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Contact_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Confirmation_Date_no_Email</name>
        <label>Set Confirmation Date no Email</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Confirmation_Date_no_E_Mail_Entry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Contact_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RT_to_Contact_Edit</name>
        <label>Set RT to Contact Edit</label>
        <locationX>138</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Record_Type_Edit.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_RT_to_Contact_Read_Only</name>
        <label>Set RT to Contact Read Only</label>
        <locationX>402</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Record_Type_Read_Only.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Uncheck_Save_without_Email</name>
        <label>Uncheck Save without Email</label>
        <locationX>490</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Save_without_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Confirmation_Date_no_E_Mail_Entry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Contact_Record_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Change Contact Record Type according to Deletion Code Flag</description>
        <name>Change_Contact_Record_Type</name>
        <label>Change Contact Record Type</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>To_Contact_Edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deletion_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Record_Type_Edit</targetReference>
            </connector>
            <label>To Contact Edit</label>
        </rules>
        <rules>
            <name>To_Contact_Read_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deletion_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Record_Type_Read_Only</targetReference>
            </connector>
            <label>To Contact Read Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Save_without_Email</name>
        <label>Save without Email</label>
        <locationX>402</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Clear_Confirmation_Date_Save_without_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed_to_without_Email_checked_Save_without_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Save_without_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Save_without_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Confirmation_Date_no_Email</targetReference>
            </connector>
            <label>Changed to without Email checked Save without Email</label>
        </rules>
        <rules>
            <name>Without_Email_checked_Save_without_Email_no_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Save_without_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Contact_Record_Type</targetReference>
            </connector>
            <label>Without Email checked Save without Email no change</label>
        </rules>
        <rules>
            <name>With_Email_Checked_Save_without_Email</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Save_without_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Save_without_Email</targetReference>
            </connector>
            <label>With Email checked Save without Email</label>
        </rules>
    </decisions>
    <description>- Sets and removes the timestamp in the ‘Save without Email’-Logic
- Sets the record type based on Deletion Code</description>
    <formulas>
        <name>EmptyDate</name>
        <dataType>DateTime</dataType>
        <expression> DATETIMEVALUE(&quot; &quot;)</expression>
    </formulas>
    <interviewLabel>Contact Before Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Before Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Query_Record_Type_Edit</name>
        <label>Query Record Type Edit</label>
        <locationX>138</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_RT_to_Contact_Edit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZR_Contact_Edit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_Record_Type_Read_Only</name>
        <label>Query Record Type Read Only</label>
        <locationX>402</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_RT_to_Contact_Read_Only</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZR_Contact_Read_Only</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Save_without_Email</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Using AD Login Name</description>
        <name>NewContactOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>jennifer.kahnt.extern</stringValue>
        </value>
    </variables>
</Flow>
