force-app/main/default/flows/ZR_Contact_After_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_English_Notification</name>
        <label>Send English Notification</label>
        <locationX>776</locationX>
        <locationY>4247</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>EnglishNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>EnglishNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>EnglishFinalRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_German_Notification</name>
        <label>Send German Notification</label>
        <locationX>776</locationX>
        <locationY>3455</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Loop_over_English_Recipients</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>GermanNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>GermanNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GermanFinalRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_KAM_and_to_English_Recipients_KAM_LAM</name>
        <label>Add KAM and to English Recipients KAM LAM</label>
        <locationX>314</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>EnglishRecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account.Key_Account_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LAM_Language_KAM_LAM_Addition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_KAM_to_English_Recipients</name>
        <label>Add KAM to English Recipients</label>
        <locationX>842</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>EnglishRecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account.Key_Account_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_German_Recipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_KAM_to_German_Recipients</name>
        <label>Add KAM to German Recipients</label>
        <locationX>578</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>GermanRecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account.Key_Account_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_German_Recipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_LAM_to_English_Recipients</name>
        <label>Add LAM to English Recipients</label>
        <locationX>1370</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>EnglishRecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account.Large_Account_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_German_Recipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_LAM_to_English_Recipients_KAM_LAM</name>
        <label>Add LAM to English Recipients KAM LAM</label>
        <locationX>314</locationX>
        <locationY>2579</locationY>
        <assignmentItems>
            <assignToReference>EnglishRecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account.Large_Account_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_German_Recipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_LAM_to_German_Recipients</name>
        <label>Add LAM to German Recipients</label>
        <locationX>1106</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>GermanRecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account.Large_Account_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_German_Recipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_LAM_to_German_Recipients_KAM_LAM</name>
        <label>Add LAM to German Recipients KAM LAM</label>
        <locationX>50</locationX>
        <locationY>2579</locationY>
        <assignmentItems>
            <assignToReference>GermanRecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account.Large_Account_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_German_Recipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>KAM_to_German_Recipients_KAM_LAM</name>
        <label>KAM to German Recipients KAM LAM</label>
        <locationX>50</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>GermanRecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account.Key_Account_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LAM_Language_KAM_LAM_Addition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Final_English_Recipients</name>
        <label>Set Final English Recipients</label>
        <locationX>996</locationX>
        <locationY>3863</locationY>
        <assignmentItems>
            <assignToReference>EnglishFinalRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_English_Recipients</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_English_Recipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Final_German_Recipients</name>
        <label>Set Final German Recipients</label>
        <locationX>996</locationX>
        <locationY>3071</locationY>
        <assignmentItems>
            <assignToReference>GermanFinalRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_German_Recipients</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_German_Recipients</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This decision checks, if the last modified user of the Contact that started this Flow is the Integration User. If the Contact was last modified by the Integration no Platform Event should be created.</description>
        <name>Check_if_Integration_User</name>
        <label>Check if Integration User</label>
        <locationX>1359</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Was_the_Account_or_Job_Title_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Integration User</defaultConnectorLabel>
        <rules>
            <name>Not_Integration_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_Modified_User.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Integration User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grace_relevant_Update</targetReference>
            </connector>
            <label>Not Integration User</label>
        </rules>
    </decisions>
    <decisions>
        <name>English_Recipients_available</name>
        <label>English Recipients available</label>
        <locationX>908</locationX>
        <locationY>4139</locationY>
        <defaultConnectorLabel>No English Recipients available</defaultConnectorLabel>
        <rules>
            <name>English_Recipients_are_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EnglishFinalRecipients</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_English_Notification</targetReference>
            </connector>
            <label>English Recipients are available</label>
        </rules>
    </decisions>
    <decisions>
        <name>German_Recipients_available</name>
        <label>German Recipients available</label>
        <locationX>908</locationX>
        <locationY>3347</locationY>
        <defaultConnector>
            <targetReference>Loop_over_English_Recipients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No German Recipients available</defaultConnectorLabel>
        <rules>
            <name>German_Recipients_are_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GermanFinalRecipients</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_German_Notification</targetReference>
            </connector>
            <label>German Recipients are available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Grace_relevant_Update</name>
        <label>Grace relevant Update</label>
        <locationX>1205</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Was_the_Account_or_Job_Title_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not relevant Update</defaultConnectorLabel>
        <rules>
            <name>Relevant_Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Department__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Department__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Salutation</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Salutation</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.LastName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.FirstName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Job_Title__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Job_Title__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Phone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fax</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Fax</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.MobilePhone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deletion_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Deletion_Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.LeadSource</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Revocation_Mailing__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Revocation_Mailing__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_of_Revocation_Mailing__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Date_of_Revocation_Mailing__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Revocation_Newsletter__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Revocation_Newsletter__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_of_Revocation_Newsletter__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Date_of_Revocation_Newsletter__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.PersonID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Confirmation_Date_no_E_Mail_Entry__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Confirmation_Date_no_E_Mail_Entry__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expertise_Interest__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Expertise_Interest__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Title__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Further_Function__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Further_Function__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Platform_Event</targetReference>
            </connector>
            <label>Relevant Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Notification_relevant_Data_been_changed</name>
        <label>Has Notification relevant Data been changed</label>
        <locationX>1359</locationX>
        <locationY>1739</locationY>
        <defaultConnectorLabel>No relevant Data was changed</defaultConnectorLabel>
        <rules>
            <name>Data_was_changed</name>
            <conditionLogic>1 OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Phone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.MobilePhone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Data was changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_English_Recipient_Last_Modified_User</name>
        <label>Is English Recipient Last Modified User</label>
        <locationX>1128</locationX>
        <locationY>3755</locationY>
        <defaultConnector>
            <targetReference>Loop_over_English_Recipients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recipient is Last Modified User English</defaultConnectorLabel>
        <rules>
            <name>Is_not_Last_Modified_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_English_Recipients</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedBy.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Final_English_Recipients</targetReference>
            </connector>
            <label>Is not Last Modified English</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_German_Recipient_Last_Modified_User</name>
        <label>Is German Recipient Last Modified User</label>
        <locationX>1128</locationX>
        <locationY>2963</locationY>
        <defaultConnector>
            <targetReference>Loop_over_German_Recipients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recipient is Last Modified User German</defaultConnectorLabel>
        <rules>
            <name>Is_not_Last_Modified_German</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_German_Recipients</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedBy.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Final_German_Recipients</targetReference>
            </connector>
            <label>Is not Last Modified German</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Person_ID_updated</name>
        <label>Is Person ID updated</label>
        <locationX>1359</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Has_Notification_relevant_Data_been_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Person ID not updated</defaultConnectorLabel>
        <rules>
            <name>Person_ID_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.PersonID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.PersonID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Contact_Relationship_for_ID</targetReference>
            </connector>
            <label>Person ID updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>KAM_and_LAM_filled_and_active</name>
        <label>KAM and LAM filled and active?</label>
        <locationX>908</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>Loop_over_German_Recipients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty or inactive KAM LAM</defaultConnectorLabel>
        <rules>
            <name>Both_filled_and_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Key_Account_Manager__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Key_Account_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Large_Account_Manager__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Large_Account_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KAM_Language_KAM_LAM_Addition</targetReference>
            </connector>
            <label>Both filled and active</label>
        </rules>
        <rules>
            <name>Only_KAM_filled_and_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Key_Account_Manager__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Key_Account_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KAM_Language</targetReference>
            </connector>
            <label>Only KAM filled and active</label>
        </rules>
        <rules>
            <name>Only_LAM_filled_and_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Large_Account_Manager__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Large_Account_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LAM_Language</targetReference>
            </connector>
            <label>Only LAM filled and active</label>
        </rules>
    </decisions>
    <decisions>
        <name>KAM_Language</name>
        <label>KAM Language</label>
        <locationX>710</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>Add_KAM_to_English_Recipients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KAM English</defaultConnectorLabel>
        <rules>
            <name>KAM_German</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Key_Account_Manager__r.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_KAM_to_German_Recipients</targetReference>
            </connector>
            <label>KAM German</label>
        </rules>
    </decisions>
    <decisions>
        <name>KAM_Language_KAM_LAM_Addition</name>
        <label>KAM Language (KAM LAM Addition)</label>
        <locationX>182</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>Add_KAM_and_to_English_Recipients_KAM_LAM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KAM English KAM LAM</defaultConnectorLabel>
        <rules>
            <name>KAM_German_KAM_LAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Key_Account_Manager__r.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KAM_to_German_Recipients_KAM_LAM</targetReference>
            </connector>
            <label>KAM German KAM LAM</label>
        </rules>
    </decisions>
    <decisions>
        <name>LAM_Language</name>
        <label>LAM Language</label>
        <locationX>1238</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>Add_LAM_to_English_Recipients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LAM English</defaultConnectorLabel>
        <rules>
            <name>LAM_German</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Large_Account_Manager__r.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_LAM_to_German_Recipients</targetReference>
            </connector>
            <label>LAM German</label>
        </rules>
    </decisions>
    <decisions>
        <name>LAM_Language_KAM_LAM_Addition</name>
        <label>LAM Language (KAM LAM Addition)</label>
        <locationX>182</locationX>
        <locationY>2471</locationY>
        <defaultConnector>
            <targetReference>Add_LAM_to_English_Recipients_KAM_LAM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LAM English KAM LAM</defaultConnectorLabel>
        <rules>
            <name>LAM_German_KAM_LAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Large_Account_Manager__r.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_LAM_to_German_Recipients_KAM_LAM</targetReference>
            </connector>
            <label>LAM German KAM LAM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_the_Account_or_Job_Title_changed</name>
        <label>Was the Account or Job Title changed?</label>
        <locationX>1359</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Is_Person_ID_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account or Job Title did not change</defaultConnectorLabel>
        <rules>
            <name>Account_or_Job_Title_or_Department_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Job_Title__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Job_Title__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Department__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Department__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Contact_Relationship</targetReference>
            </connector>
            <label>Account or Job Title or Department changed</label>
        </rules>
    </decisions>
    <description>- Sends Platform Event if a Grace-relevant update was done by anyone but the Integration User.
- Updates the Role and Department on the direct Account Contact Relationship if a change was made to the Account 
- Sends notification to KAM or LAM if the Phone, Mobile or Email of the Contact has been changed</description>
    <environments>Default</environments>
    <formulas>
        <name>EnglishNotificationBody</name>
        <dataType>String</dataType>
        <expression>&apos;There have been changes made to the contact &apos;+{!$Record.FirstName}+&apos; &apos;+{!$Record.LastName}+&apos; of the Account &apos;+{!$Record.Account.Name}+&apos; .&apos;</expression>
    </formulas>
    <formulas>
        <name>EnglishNotificationTitle</name>
        <dataType>String</dataType>
        <expression>&apos;Changes on the contact &apos;+{!$Record.FirstName}+&apos; &apos;+{!$Record.LastName}+&apos; (&apos;+{!$Record.Account.Name}+&apos;)&apos;</expression>
    </formulas>
    <formulas>
        <name>ExternalID</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Core_Customer_Number__c}+&quot;_&quot;+{!$Record.PersonID__c}</expression>
    </formulas>
    <formulas>
        <name>GermanNotificationBody</name>
        <dataType>String</dataType>
        <expression>&apos;Es wurden Änderungen an dem Kontakt &apos;+{!$Record.FirstName}+&apos; &apos;+{!$Record.LastName}+&apos; des Accounts &apos;+{!$Record.Account.Name}+&apos; vorgenommen.&apos;</expression>
    </formulas>
    <formulas>
        <name>GermanNotificationTitle</name>
        <dataType>String</dataType>
        <expression>&apos;Änderungen für den Kontakt &apos;+{!$Record.FirstName}+&apos; &apos;+{!$Record.LastName}+&apos; (&apos;+{!$Record.Account.Name}+&apos;)&apos;</expression>
    </formulas>
    <interviewLabel>Contact After Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact After Update Flow</label>
    <loops>
        <name>Loop_over_English_Recipients</name>
        <label>Loop over English Recipients</label>
        <locationX>908</locationX>
        <locationY>3647</locationY>
        <collectionReference>EnglishRecipientIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_English_Recipient_Last_Modified_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>English_Recipients_available</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_German_Recipients</name>
        <label>Loop over German Recipients</label>
        <locationX>908</locationX>
        <locationY>2855</locationY>
        <collectionReference>GermanRecipientIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_German_Recipient_Last_Modified_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>German_Recipients_available</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Platform_Event</name>
        <label>Create Contact Platform Event</label>
        <locationX>1073</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Was_the_Account_or_Job_Title_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmation_Date_no_E_Mail_Entry__c</field>
            <value>
                <elementReference>$Record.Confirmation_Date_no_E_Mail_Entry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Source_System__c</field>
            <value>
                <elementReference>$Record.Core_Source_System__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById__c</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_On__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Creation_User__c</field>
            <value>
                <elementReference>$Record.Creation_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Number__c</field>
            <value>
                <elementReference>$Record.Account.Core_Customer_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deletion_Code__c</field>
            <value>
                <elementReference>$Record.Deletion_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>$Record.Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expertise_Interest__c</field>
            <value>
                <elementReference>$Record.Expertise_Interest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax__c</field>
            <value>
                <elementReference>$Record.Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName__c</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Further_Function__c</field>
            <value>
                <elementReference>$Record.Further_Function__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Title__c</field>
            <value>
                <elementReference>$Record.Job_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastModifiedById__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName__c</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource__c</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone__c</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modified_by_User__c</field>
            <value>
                <elementReference>$Record.Modified_by_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonID__c</field>
            <value>
                <elementReference>$Record.PersonID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesforce_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation__c</field>
            <value>
                <elementReference>$Record.Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Save_without_Email__c</field>
            <value>
                <elementReference>$Record.Save_without_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>$Record.Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_PE__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>908</locationX>
        <locationY>1847</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Key_Account_Manager__c</queriedFields>
        <queriedFields>Large_Account_Manager__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Contact_Relationship</name>
        <label>Get Account Contact Relationship</label>
        <locationX>1227</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Role_and_Department_on_direct_ACR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDirect</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Contact_Relationship_for_ID</name>
        <label>Get Account Contact Relationship for ID</label>
        <locationX>1227</locationX>
        <locationY>1439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Contact_Relation_External_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDirect</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>908</locationX>
        <locationY>1955</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>KAM_and_LAM_filled_and_active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_for_changes_on_Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Modified_User</name>
        <label>Get Last Modified User</label>
        <locationX>1359</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Integration_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Contact_Relation_External_ID</name>
        <label>Update Account Contact Relation External ID</label>
        <locationX>1227</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Has_Notification_relevant_Data_been_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Contact_Relationship_for_ID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>External_ID__c</field>
            <value>
                <elementReference>ExternalID</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Role_and_Department_on_direct_ACR</name>
        <label>Update Role and Department on direct ACR</label>
        <locationX>1227</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Is_Person_ID_updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Contact_Relationship.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>$Record.Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <elementReference>$Record.Job_Title__c</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordUpdates>
    <start>
        <locationX>1233</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Last_Modified_User</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EnglishFinalRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EnglishRecipientIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GermanFinalRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GermanRecipientIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>KAM_Resource_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
