force-app/main/default/flows/ZR_Lead_Before_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_AU_Sales_Rep_as_Owner</name>
        <label>Assign AU Sales Rep as Owner</label>
        <locationX>578</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesRepRecordVariable.User.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_EE_Sales_Rep_as_Owner</name>
        <label>Assign EE Sales Rep as Owner</label>
        <locationX>1634</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesRepRecordVariable.User.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_LC_Sales_Rep_as_Owner</name>
        <label>Assign LC Sales Rep as Owner</label>
        <locationX>2162</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesRepRecordVariable.User.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Rent_Sales_Rep_as_Owner</name>
        <label>Assign Rent Sales Rep as Owner</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesRepRecordVariable.User.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_SuK_Sales_Rep_as_Owner</name>
        <label>Assign SuK Sales Rep as Owner</label>
        <locationX>2690</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesRepRecordVariable.User.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Territory_Fields_on_Lead</name>
        <label>Assign Territory Fields on Lead</label>
        <locationX>1656</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Territory_Level_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory.ParentTerritory2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Territory_Level_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory.ParentTerritory2.ParentTerritory2.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Potential_to_Sales_Rep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TS_Sales_Rep_as_Owner</name>
        <label>Assign TS Sales Rep as Owner</label>
        <locationX>1106</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesRepRecordVariable.User.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>AU_Sales_Rep_available</name>
        <label>AU Sales Rep available</label>
        <locationX>710</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>No AU Sales Rep available</defaultConnectorLabel>
        <rules>
            <name>AU_Sales_Rep_active_and_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesRepRecordVariable.User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesRepRecordVariable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AU_Sales_Rep_as_Owner</targetReference>
            </connector>
            <label>AU Sales Rep active and available</label>
        </rules>
    </decisions>
    <decisions>
        <name>EE_Sales_Rep_available</name>
        <label>EE Sales Rep available</label>
        <locationX>1766</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>No EE Sales Rep available</defaultConnectorLabel>
        <rules>
            <name>EE_Sales_Rep_active_and_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesRepRecordVariable.User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesRepRecordVariable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EE_Sales_Rep_as_Owner</targetReference>
            </connector>
            <label>EE Sales Rep active and available</label>
        </rules>
    </decisions>
    <decisions>
        <name>LC_Sales_Rep_available</name>
        <label>LC Sales Rep available</label>
        <locationX>2294</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>No LC Sales Rep available</defaultConnectorLabel>
        <rules>
            <name>LC_Sales_Rep_active_and_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesRepRecordVariable.User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesRepRecordVariable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LC_Sales_Rep_as_Owner</targetReference>
            </connector>
            <label>LC Sales Rep active and available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Potential_to_Sales_Rep</name>
        <label>Potential to Sales Rep</label>
        <locationX>1656</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>No Automatic Owner Assignment</defaultConnectorLabel>
        <rules>
            <name>Rent_Potential</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Potential__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Automatic_Owner_Assignment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Rent_Sales_Rep</targetReference>
            </connector>
            <label>Rent Potential</label>
        </rules>
        <rules>
            <name>AU_Potential</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Potential__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Automatic_Owner_Assignment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AU_Sales_Rep</targetReference>
            </connector>
            <label>AU Potential</label>
        </rules>
        <rules>
            <name>TS_Potential</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Potential__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Automatic_Owner_Assignment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_TS_Sales_Rep</targetReference>
            </connector>
            <label>TS Potential</label>
        </rules>
        <rules>
            <name>EE_Potential</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Potential__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Automatic_Owner_Assignment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EE_Sales_Rep</targetReference>
            </connector>
            <label>EE Potential</label>
        </rules>
        <rules>
            <name>LC_Potential</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Potential__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Automatic_Owner_Assignment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_LC_Sales_Rep</targetReference>
            </connector>
            <label>LC Potential</label>
        </rules>
        <rules>
            <name>SuK_Potential</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Potential__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Automatic_Owner_Assignment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SuK_Sales_Rep</targetReference>
            </connector>
            <label>SuK Potential</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rent_Sales_Rep_available</name>
        <label>Rent Sales Rep available</label>
        <locationX>182</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>No Rent Sales Rep available</defaultConnectorLabel>
        <rules>
            <name>Rent_Sales_Rep_active_and_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesRepRecordVariable.User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesRepRecordVariable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rent_Sales_Rep_as_Owner</targetReference>
            </connector>
            <label>Rent Sales Rep active and available</label>
        </rules>
    </decisions>
    <decisions>
        <name>SuK_Sales_Rep_available</name>
        <label>SuK Sales Rep available</label>
        <locationX>2822</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>No SuK Sales Rep available</defaultConnectorLabel>
        <rules>
            <name>SuK_Sales_Rep_active_and_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesRepRecordVariable.User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesRepRecordVariable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SuK_Sales_Rep_as_Owner</targetReference>
            </connector>
            <label>SuK Sales Rep active and available</label>
        </rules>
    </decisions>
    <decisions>
        <name>TS_Sales_Rep_available</name>
        <label>TS Sales Rep available</label>
        <locationX>1238</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>No TS Sales Rep available</defaultConnectorLabel>
        <rules>
            <name>TS_Sales_Rep_active_and_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesRepRecordVariable.User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesRepRecordVariable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TS_Sales_Rep_as_Owner</targetReference>
            </connector>
            <label>TS Sales Rep active and available</label>
        </rules>
    </decisions>
    <description>- Sets the Owner based on the Territory and Potential of the record to the respective Sales Rep</description>
    <environments>Default</environments>
    <interviewLabel>Lead Before Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Before Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_AU_Sales_Rep</name>
        <label>Get AU Sales Rep</label>
        <locationX>710</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AU_Sales_Rep_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Territory.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Representative_Accomodation_Units_Project</stringValue>
            </value>
        </filters>
        <object>UserTerritory2Association</object>
        <outputReference>SalesRepRecordVariable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Territory2Id</queriedFields>
        <queriedFields>UserId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_EE_Sales_Rep</name>
        <label>Get EE Sales Rep</label>
        <locationX>1766</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EE_Sales_Rep_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Territory.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Representative_Electric_and_Energy</stringValue>
            </value>
        </filters>
        <object>UserTerritory2Association</object>
        <outputReference>SalesRepRecordVariable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Territory2Id</queriedFields>
        <queriedFields>UserId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_LC_Sales_Rep</name>
        <label>Get LC Sales Rep</label>
        <locationX>2294</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LC_Sales_Rep_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Territory.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Representative_Construction_Logistic</stringValue>
            </value>
        </filters>
        <object>UserTerritory2Association</object>
        <outputReference>SalesRepRecordVariable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Territory2Id</queriedFields>
        <queriedFields>UserId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Rent_Sales_Rep</name>
        <label>Get Rent Sales Rep</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rent_Sales_Rep_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Territory.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Representative_Machine_and_Equipment_Rental</stringValue>
            </value>
        </filters>
        <object>UserTerritory2Association</object>
        <outputReference>SalesRepRecordVariable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Territory2Id</queriedFields>
        <queriedFields>UserId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SuK_Sales_Rep</name>
        <label>Get SuK Sales Rep</label>
        <locationX>2822</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SuK_Sales_Rep_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Territory.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Representative Electricity and Climate</stringValue>
            </value>
        </filters>
        <object>UserTerritory2Association</object>
        <outputReference>SalesRepRecordVariable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Territory2Id</queriedFields>
        <queriedFields>UserId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory</name>
        <label>Get Territory</label>
        <locationX>1656</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Territory_Fields_on_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Core_External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Territory_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TS_Sales_Rep</name>
        <label>Get TS Sales Rep</label>
        <locationX>1238</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TS_Sales_Rep_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Territory.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Representative_Construction_Site_and_Traffic_Safety</stringValue>
            </value>
        </filters>
        <object>UserTerritory2Association</object>
        <outputReference>SalesRepRecordVariable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Territory2Id</queriedFields>
        <queriedFields>UserId</queriedFields>
    </recordLookups>
    <start>
        <locationX>1530</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory_ID__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SalesRepRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>UserTerritory2Association</objectType>
    </variables>
</Flow>
