force-app/main/default/flows/ZR_Opportunity_Delete_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <choices>
        <name>No_Delete_Opportunity_Choice</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Delete_Opportunity_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Connected_Quotes</name>
        <label>Connected Quotes</label>
        <locationX>858</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Flow_End_Quotes_Connected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quotes Connected</defaultConnectorLabel>
        <rules>
            <name>No_Quotes_connected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConnectedQuotes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Orders</targetReference>
            </connector>
            <label>No Quotes connected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_User_Access</name>
        <label>Has User Access</label>
        <locationX>380</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Flow_End_User_has_no_access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User has no access</defaultConnectorLabel>
        <rules>
            <name>User_has_access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccesCheckID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_you_sure_Screen</targetReference>
            </connector>
            <label>User has access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Deletion_Confirmed</name>
        <label>Opportunity Deletion Confirmed</label>
        <locationX>182</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>Flow_End_Opportunity_not_Deleted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Deletion not confirmed</defaultConnectorLabel>
        <rules>
            <name>Deletion_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes_Delete_Opportunity_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Opportunity</targetReference>
            </connector>
            <label>Deletion Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Status</name>
        <label>Opportunity Status</label>
        <locationX>1114</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Flow_End_Incorrect_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quotation or Closed</defaultConnectorLabel>
        <rules>
            <name>New_or_Qualified</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualification Phase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quotes</targetReference>
            </connector>
            <label>New or Qualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_connected</name>
        <label>Order connected</label>
        <locationX>611</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Flow_End_Order_Connected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Orders Connected</defaultConnectorLabel>
        <rules>
            <name>No_Order_connected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Connected_Orders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Access_Check</targetReference>
            </connector>
            <label>No Order connected</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity Delete Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Delete Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Opportunity</name>
        <label>Delete Opportunity</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Flow_End_Opportunity_Deleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordDeletes>
    <recordLookups>
        <name>Access_Check</name>
        <label>Access Check</label>
        <locationX>380</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_User_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasEditAccess</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>UserRecordAccess</object>
        <outputAssignments>
            <assignToReference>AccesCheckID</assignToReference>
            <field>RecordId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>1114</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Orders</name>
        <label>Get Orders</label>
        <locationX>611</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_connected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <object>Order__c</object>
        <outputReference>Connected_Orders</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Quotes</name>
        <label>Get Quotes</label>
        <locationX>858</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Connected_Quotes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <object>Quote__c</object>
        <outputReference>ConnectedQuotes</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Are_you_sure_Screen</name>
        <label>Are you sure Screen</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Opportunity_Deletion_Confirmed</targetReference>
        </connector>
        <fields>
            <name>Delete_Opportunity_Choice</name>
            <choiceReferences>Yes_Delete_Opportunity_Choice</choiceReferences>
            <choiceReferences>No_Delete_Opportunity_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Do you really want to delete this Opportunity?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Flow_End_Incorrect_Status</name>
        <label>Flow End Incorrect Status</label>
        <locationX>1370</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Flow_End_Incorrect_Status_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: white; color: rgb(62, 62, 60); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;Only Opportunities that are in the stages “New” or “Qualification” can be deleted.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Flow_End_Opportunity_Deleted</name>
        <label>Flow End Opportunity Deleted</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Flow_End_Opportunity_Deleted_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: white; color: rgb(62, 62, 60); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;The Opportunity has been successfully deleted.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Flow_End_Opportunity_not_Deleted</name>
        <label>Flow End Opportunity not Deleted</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Flow_End_Opportunity_not_Deleted_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: white; color: rgb(62, 62, 60); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;The deletion process has been canceled.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Flow_End_Order_Connected</name>
        <label>Flow End Order Connected</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Flow_End_Order_Connected_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: white; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;Opportunities that have connected Orders can not be deleted.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Flow_End_Quotes_Connected</name>
        <label>Flow End Quotes Connected</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Flow_End_Quotes_Connected_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: white; color: rgb(62, 62, 60); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;Opportunities that have connected Quotes can not be deleted.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Flow_End_User_has_no_access</name>
        <label>Flow End User has no access</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Flow_End_User_has_no_access_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: white; color: rgb(62, 62, 60); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;You can not delete this Opportunity, since you do not have the required access rights.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>988</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccesCheckID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>Connected_Orders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order__c</objectType>
    </variables>
    <variables>
        <name>ConnectedQuotes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
