force-app/main/default/flows/ZR_Opportunity_Contact_Roles_After_Insert_and_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Primary_Contact</name>
        <label>Primary Contact</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Not Primary Contact</defaultConnectorLabel>
        <rules>
            <name>Primary_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Primary_Contact</targetReference>
            </connector>
            <label>Primary Selected</label>
        </rules>
        <rules>
            <name>No_Primary_Selected_anymore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Opportunity_Primary_Contact</targetReference>
            </connector>
            <label>No Primary Selected anymore</label>
        </rules>
    </decisions>
    <description>- Sets the Primary Contact on the Opportunity to the primary Opportunity Contact Role</description>
    <interviewLabel>Opportunity Contact Roles After Insert and Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Contact Roles After Insert and Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Remove_Opportunity_Primary_Contact</name>
        <label>Remove Opportunity Primary Contact</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Primary_Contact</name>
        <label>Update Opportunity Primary Contact</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Primary_Contact</targetReference>
        </connector>
        <object>OpportunityContactRole</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
