force-app/main/default/flows/ZR_Opportunity_Team_Member_After_Insert_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EmailNotificationDE</name>
        <label>EmailNotificationDE</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyDE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Member__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubjectDE</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>EmailNotificationEN</name>
        <label>EmailNotificationEN</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyEN</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Member__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubjectEN</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Checks whether the Team Member has language de or other.</description>
        <name>Team_Member_DE</name>
        <label>Team Member DE?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>EmailNotificationEN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Team Member has NOT DE</defaultConnectorLabel>
        <rules>
            <name>Team_Member_has_DE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member__r.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailNotificationDE</targetReference>
            </connector>
            <label>Team Member has DE</label>
        </rules>
    </decisions>
    <description>- Sends an Email to the new Member of an Opportunity Team</description>
    <environments>Default</environments>
    <formulas>
        <name>OpportunityLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_100}, FIND(&apos;/services&apos;, {!$Api.Enterprise_Server_URL_100})) &amp; {!$Record.Opportunity.Id}</expression>
    </formulas>
    <interviewLabel>Opportunity Team Member After Insert Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Team Member After Insert Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Team_Member_DE</targetReference>
        </connector>
        <object>OpportunityTeamMember</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBodyDE</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hallo {!$Record.Member__r.FirstName} {!$Record.Member__r.LastName},

du wurdest von {!$Record.CreatedBy.FirstName} {!$Record.CreatedBy.LastName} der Opportunity {!$Record.Opportunity.Name} hinzugefügt.

Logge dich ein, um mehr über die Opportunity zu erfahren:
{!OpportunityLink}

Viele Grüße,
dein Zeppelin Salesforce-Team


Dies ist eine automatisch generierte E-Mail, bitte nicht antworten.</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyEN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello {!$Record.Member__r.FirstName} {!$Record.Member__r.LastName},

You have been added to the Opportunity {!$Record.Opportunity.Name} by {!$Record.CreatedBy.FirstName} {!$Record.CreatedBy.LastName}.

Please log in to see the details:
{!OpportunityLink}

Best regards,
Your Zeppelin Salesforce-Team

This is an automatically created Email. Please do not reply.</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubjectDE</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Du wurdest einem Opportunity Team hinzugefügt!</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubjectEN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You have been added to an Opportunity Team!</text>
    </textTemplates>
</Flow>
