force-app/main/default/flows/ZR_Opportunity_Scheduled_Overdue_Reminder_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_to_Owner</name>
        <label>Send Notification to Owner</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBodyFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitleFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Owner_User_Id</name>
        <label>Owner User Id</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>OwnerId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Owner_active_User</name>
        <label>Is Owner active User</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Owner is not active</defaultConnectorLabel>
        <rules>
            <name>Owner_is_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_User_Id</targetReference>
            </connector>
            <label>Owner is active</label>
        </rules>
    </decisions>
    <description>- Sends out a reminder every Monday to Owners of Opportunities that have not been worked on for (4) weeks</description>
    <environments>Default</environments>
    <formulas>
        <name>DayswithoutChangeText</name>
        <dataType>String</dataType>
        <expression>TEXT(TODAY() - DATEVALUE({!$Record.LastModifiedDate}))</expression>
    </formulas>
    <formulas>
        <name>NotificationBodyFormula</name>
        <dataType>String</dataType>
        <expression>IF(
ISPICKVAL({!$Record.Owner.LanguageLocaleKey}, &apos;de&apos;), 
&apos;An der Opportunity &apos; +{!$Record.Name}+ &apos; wurden bereits seit &apos; + {!DayswithoutChangeText} +&apos; Tagen keine Updates mehr vorgenommen.&apos;,
&apos;The Opportunity &apos;+{!$Record.Name}+ &apos; has not been updated since &apos; +  {!DayswithoutChangeText} + &apos; days.&apos;
)</expression>
    </formulas>
    <formulas>
        <name>NotificationTitleFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Owner.LanguageLocaleKey},&apos;de&apos;), &apos;Opportunity &apos; +{!$Record.Name} +&apos; ruht.&apos;, &apos;Opportunity &apos; +{!$Record.Name} +&apos; rests.&apos;)</expression>
    </formulas>
    <interviewLabel>Opportunity Scheduled Overdue Reminder Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Scheduled Overdue Reminder Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification_to_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_for_overdue_Opportunities</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Owner_active_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Over_Reminder_Days__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2021-09-27</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
