force-app/main/default/flows/ZR_Opportunity_After_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_English_Notification</name>
        <label>Send English Notification</label>
        <locationX>50</locationX>
        <locationY>4463</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_English_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>EnglishNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>EnglishNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>EnglishFinalRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_German_Notification</name>
        <label>Send German Notification</label>
        <locationX>50</locationX>
        <locationY>3455</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Loop_over_English_Recipients</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_German_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>GermanNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>GermanNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GermanFinalRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_to_English_Final_Recipients</name>
        <label>Add to English Final Recipients</label>
        <locationX>270</locationX>
        <locationY>3911</locationY>
        <assignmentItems>
            <assignToReference>EnglishFinalRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_English_Recipients</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_English_Recipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_German_Final_Recipients</name>
        <label>Add to German Final Recipients</label>
        <locationX>270</locationX>
        <locationY>2903</locationY>
        <assignmentItems>
            <assignToReference>GermanFinalRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_German_Recipients</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_German_Recipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_English_Opportunity_Owner_Id</name>
        <label>Assign English Opportunity Owner Id</label>
        <locationX>369</locationX>
        <locationY>2255</locationY>
        <assignmentItems>
            <assignToReference>EnglishRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_German_Recipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_English_Team_Member_to_Recipients</name>
        <label>Assign English Team Member to Recipients</label>
        <locationX>490</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>EnglishRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Team_Members.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_German_Opportunity_Owner_Id</name>
        <label>Assign German Opportunity Owner Id</label>
        <locationX>105</locationX>
        <locationY>2255</locationY>
        <assignmentItems>
            <assignToReference>GermanRecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_German_Recipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_German_Team_Member_to_Recipients</name>
        <label>Assign German Team Member to Recipients</label>
        <locationX>226</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>GermanRecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Team_Members.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Team_Members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Changes_to_History_Tracking_Field</name>
        <label>Changes to History Tracking Field</label>
        <locationX>495</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Construction_Site_Address__City__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Construction_Site_Address__City__s</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Construction_Site_Address__PostalCode__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Construction_Site_Address__PostalCode__s</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Amount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Team</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_PLZ_was_updated</name>
        <label>Check if PLZ was updated</label>
        <locationX>495</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Changes_to_History_Tracking_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not updated</defaultConnectorLabel>
        <rules>
            <name>Yes_updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Construction_Site_Address__PostalCode__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Construction_Site_Address__PostalCode__s</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Area__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Business_Area__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Platform_Events</targetReference>
            </connector>
            <label>Yes: updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>English_Recipients_Check</name>
        <label>English Recipients Check</label>
        <locationX>182</locationX>
        <locationY>4223</locationY>
        <defaultConnectorLabel>No English Recipients available</defaultConnectorLabel>
        <rules>
            <name>English_Recipients_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EnglishFinalRecipients</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_English_Notification</targetReference>
            </connector>
            <label>English Recipients available</label>
        </rules>
    </decisions>
    <decisions>
        <name>German_Recipients_Check</name>
        <label>German Recipients Check</label>
        <locationX>182</locationX>
        <locationY>3215</locationY>
        <defaultConnector>
            <targetReference>Loop_over_English_Recipients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No German Recipients available</defaultConnectorLabel>
        <rules>
            <name>German_Recipients_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GermanFinalRecipients</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_German_Notification</targetReference>
            </connector>
            <label>German Recipients available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_English_Recipient_Last_Modified</name>
        <label>Is English Recipient Last Modified</label>
        <locationX>402</locationX>
        <locationY>3791</locationY>
        <defaultConnector>
            <targetReference>Loop_over_English_Recipients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>English Recipient is last modified User</defaultConnectorLabel>
        <rules>
            <name>English_Recipient_is_not_last_Modified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_English_Recipients</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedBy.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_English_Final_Recipients</targetReference>
            </connector>
            <label>English Recipient is not last Modified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_German_Recipient_Last_Modified</name>
        <label>Is German Recipient Last Modified</label>
        <locationX>402</locationX>
        <locationY>2783</locationY>
        <defaultConnector>
            <targetReference>Loop_over_German_Recipients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>German Recipient is last modified User</defaultConnectorLabel>
        <rules>
            <name>German_Recipient_is_not_last_Modified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_German_Recipients</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedBy.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_German_Final_Recipients</targetReference>
            </connector>
            <label>German Recipient is not last Modified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_active_User</name>
        <label>Is Owner active User</label>
        <locationX>435</locationX>
        <locationY>2015</locationY>
        <defaultConnector>
            <targetReference>Loop_over_German_Recipients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner is not active</defaultConnectorLabel>
        <rules>
            <name>Owner_is_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Language</targetReference>
            </connector>
            <label>Owner is active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Team_Member_active_User</name>
        <label>Is Team Member active User</label>
        <locationX>556</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Iterate_over_Team_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Team Member is not active User</defaultConnectorLabel>
        <rules>
            <name>Team_Member_is_active_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Team_Members.User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Team_Member_Language</targetReference>
            </connector>
            <label>Team Member is active User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Language</name>
        <label>Owner Language</label>
        <locationX>237</locationX>
        <locationY>2135</locationY>
        <defaultConnector>
            <targetReference>Assign_English_Opportunity_Owner_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>English Owner</defaultConnectorLabel>
        <rules>
            <name>German_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_German_Opportunity_Owner_Id</targetReference>
            </connector>
            <label>German Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Project_Opportunity_Member</name>
        <label>Owner Opportunity Member</label>
        <locationX>182</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Is_Owner_active_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner is not in Team</defaultConnectorLabel>
        <rules>
            <name>Owner_in_Team</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GermanRecipientIDs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Owner.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_German_Recipients</targetReference>
            </connector>
            <label>Owner in Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team</name>
        <label>Team</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Owner_Project_Opportunity_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Team Member</defaultConnectorLabel>
        <rules>
            <name>Team_Member_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TeamMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_Team_Members</targetReference>
            </connector>
            <label>Team Member exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team_Member_Language</name>
        <label>Team Member Language</label>
        <locationX>358</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Assign_English_Team_Member_to_Recipients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>English Team Member</defaultConnectorLabel>
        <rules>
            <name>German_Team_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Team_Members.User.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_German_Team_Member_to_Recipients</targetReference>
            </connector>
            <label>German Team Member</label>
        </rules>
    </decisions>
    <description>- Sends Platform Event to Grace if Postal Code or Business Area have been changed to receive the territory of the record
- Sends notification to Owner and Opportunity Team if changes have been made to the City, Postal Code, Amount or Stage of the record</description>
    <environments>Default</environments>
    <formulas>
        <name>EnglishNotificationBody</name>
        <dataType>String</dataType>
        <expression>{!$Record.LastModifiedBy.FirstName}+&apos; &apos;+{!$Record.LastModifiedBy.LastName}+&apos; has made changes to the Opportunity &apos;+{!$Record.Name}+ &apos;.&apos;</expression>
    </formulas>
    <formulas>
        <name>EnglishNotificationTitle</name>
        <dataType>String</dataType>
        <expression>&apos;An Opportunity has been updated!&apos;</expression>
    </formulas>
    <formulas>
        <name>GermanNotificationBody</name>
        <dataType>String</dataType>
        <expression>{!$Record.LastModifiedBy.FirstName}+&apos; &apos;+{!$Record.LastModifiedBy.LastName}+&apos; hat Änderungen an der Opportunity &apos;+{!$Record.Name}+ &apos; vorgenommen!&apos;</expression>
    </formulas>
    <formulas>
        <name>GermanNotificationTitle</name>
        <dataType>String</dataType>
        <expression>&apos;Eine Opportunity wurde verändert!&apos;</expression>
    </formulas>
    <interviewLabel>Opportunity After Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity After Update Flow</label>
    <loops>
        <name>Iterate_over_Team_Members</name>
        <label>Iterate over Team Members</label>
        <locationX>138</locationX>
        <locationY>1031</locationY>
        <collectionReference>TeamMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Team_Member_active_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Owner_Project_Opportunity_Member</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_English_Recipients</name>
        <label>Loop over English Recipients</label>
        <locationX>182</locationX>
        <locationY>3671</locationY>
        <collectionReference>EnglishRecipientIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_English_Recipient_Last_Modified</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>English_Recipients_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_German_Recipients</name>
        <label>Loop over German Recipients</label>
        <locationX>182</locationX>
        <locationY>2663</locationY>
        <collectionReference>GermanRecipientIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_German_Recipient_Last_Modified</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>German_Recipients_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Platform_Events</name>
        <label>Create Platform Events</label>
        <locationX>363</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Changes_to_History_Tracking_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>Salesforce_Business_Area__c</field>
            <value>
                <elementReference>$Record.Business_Area__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesforce_Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesforce_Record_PLZ__c</field>
            <value>
                <elementReference>$Record.Construction_Site_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_PE__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Custom_English_Notification</name>
        <label>Get Custom English Notification</label>
        <locationX>50</locationX>
        <locationY>4343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_English_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_for_Updates_on_Opportunities</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_German_Notification</name>
        <label>Get Custom German Notification</label>
        <locationX>50</locationX>
        <locationY>3335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_German_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_for_Updates_on_Opportunities</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Team</name>
        <label>Get Opportunity Team</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
        <outputReference>TeamMembers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserId</queriedFields>
    </recordLookups>
    <start>
        <locationX>369</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_PLZ_was_updated</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EnglishFinalRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EnglishRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GermanFinalRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GermanRecipientIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
</Flow>
