force-app/main/default/flows/ZR_Project_Territory_Before_Delete_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Comma_Removed_Formula_to_Variable</name>
        <label>Assign Comma Removed Formula to Variable</label>
        <locationX>176</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>Level_3_Id_Comma_removed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove_Lvl_3_Id_Comma</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Level_3_Name_Comma_removed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove_Lvl_3_Name_Comma</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Level_2_Name_Comma_removed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove_Lvl_2_Name_Comma</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Territory_Fields_to_Variable</name>
        <label>Assign Project Territory Fields to Variable</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>Project_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectLvl2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Territories_Level_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectLvl3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Territories_Level_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectIDLvl3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Territory_Ids_Level_3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_PT_Information_to_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PT_Information_to_Variables</name>
        <label>Assign PT Information to Variables</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>TerritoryLevel3Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Territory_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TerritoryLevel2Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Territory_Level_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TerritoryLevel3ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Territory_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Removed_Formula_to_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Removed_Formula_to_Variable</name>
        <label>Assign Removed Formula to Variable</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>Level_3_Id_adjusted</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove_Lvl_3_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Level_3_Name_adjusted</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove_Lvl_3_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Level_2_Name_adjusted</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove_Lvl_2_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Comma_Removed_Formula_to_Variable</targetReference>
        </connector>
    </assignments>
    <description>:: Removes a Project Territory from the related Project</description>
    <environments>Default</environments>
    <formulas>
        <name>Remove_Lvl_2_Name</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!ProjectLvl2}, {!TerritoryLevel2Name}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Remove_Lvl_2_Name_Comma</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Level_2_Name_adjusted}, &quot;,&quot;, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>Remove_Lvl_2_Name_Double_Space</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Level_2_Name_Comma_removed}, &quot;  &quot;, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>Remove_Lvl_3_Id</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!ProjectIDLvl3}, {!TerritoryLevel3ID}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Remove_Lvl_3_Id_Comma</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Level_3_Id_adjusted}, &quot;,&quot;, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>Remove_Lvl_3_Id_Double_Space</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Level_3_Id_Comma_removed}, &quot;  &quot;, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>Remove_Lvl_3_Name</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!ProjectLvl3}, {!TerritoryLevel3Name}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Remove_Lvl_3_Name_Comma</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Level_3_Name_adjusted}, &quot;,&quot;, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>Remove_Lvl_3_Name_Double_Space</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Level_3_Name_Comma_removed}, &quot;  &quot;, &quot; &quot;)</expression>
    </formulas>
    <interviewLabel>Project Territory Before Delete Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Territory Before Delete Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>176</locationX>
        <locationY>719</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Project_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Time__c</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territories_Level_2__c</field>
            <value>
                <elementReference>Remove_Lvl_2_Name_Double_Space</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territories_Level_3__c</field>
            <value>
                <elementReference>Remove_Lvl_3_Name_Double_Space</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Ids_Level_3__c</field>
            <value>
                <elementReference>Remove_Lvl_3_Id_Double_Space</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Project_Territory_Fields_to_Variable</targetReference>
        </connector>
        <object>Project_Territory__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Level_2_Name_adjusted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Level_2_Name_Comma_removed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Level_3_Id_adjusted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Level_3_Id_Comma_removed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Level_3_Name_adjusted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Level_3_Name_Comma_removed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Project_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectIDLvl3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectLvl2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectLvl3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TerritoryLevel2Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TerritoryLevel3ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TerritoryLevel3Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
