force-app/main/default/flows/ZR_Project_Territory_After_Insert_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Project_Team_Members</name>
        <label>Create Project Team Members</label>
        <locationX>182</locationX>
        <locationY>3179</locationY>
        <actionName>FlowActionProjectTeamMember</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userTerritoryAssociations</name>
            <value>
                <elementReference>Query_Users_in_Territory</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowActionProjectTeamMember</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_AUPotential_Variable</name>
        <label>Assign AUPotential Variable</label>
        <locationX>50</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>AUPotential</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TS_Potential_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EKWPotential_Variable</name>
        <label>Assign EKWPotential Variable</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>EKWPotential</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AU_Potential_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LCPotential_Variable</name>
        <label>Assign LCPotential Variable</label>
        <locationX>50</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>LCPotential</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SuK_Potential_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Territories_to_Variable</name>
        <label>Assign Project Territories to Variables</label>
        <locationX>424</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ProjectTerritoriesLvl3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Territories.Territory_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectTerritoriesLvl2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Territories.Territory_Level_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectTerritoryIdsLvl3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Territories.Territory_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Territories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PT_Collection_to_Text_Variable</name>
        <label>Assign PT Collection to Text Variable</label>
        <locationX>336</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>Text_PT_Lvl_3_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TerritoryLvl3Names</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Text_PT_Lvl_2_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TerritoryLvl2Names</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Text_PT_Lvl_3_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TerritoryLvl3Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RentPotential_Variable</name>
        <label>Assign RentPotential Variable</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>RentPotential</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EKW_Potential_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SuKPotential_Variable</name>
        <label>Assign SuKPotential Variable</label>
        <locationX>50</locationX>
        <locationY>2771</locationY>
        <assignmentItems>
            <assignToReference>SuKPotential</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Territory2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TSPotential_Variable</name>
        <label>Assign TSPotential Variable</label>
        <locationX>50</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>TSPotential</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LC_Potential_selected</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks whether the related Project has AU selected as Potential.</description>
        <name>AU_Potential_selected</name>
        <label>AU Potential selected?</label>
        <locationX>182</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>TS_Potential_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AU not selected</defaultConnectorLabel>
        <rules>
            <name>AU_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.Potential__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AUPotential_Variable</targetReference>
            </connector>
            <label>AU selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the related Project has EKW selected as Potential.</description>
        <name>EKW_Potential_selected</name>
        <label>EKW Potential selected?</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>AU_Potential_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EKW not selected</defaultConnectorLabel>
        <rules>
            <name>EKW_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.Potential__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EKWPotential_Variable</targetReference>
            </connector>
            <label>EKW selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the related Project has LC selected as Potential.</description>
        <name>LC_Potential_selected</name>
        <label>LC Potential selected?</label>
        <locationX>182</locationX>
        <locationY>2363</locationY>
        <defaultConnector>
            <targetReference>SuK_Potential_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LC not selected</defaultConnectorLabel>
        <rules>
            <name>LC_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.Potential__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LCPotential_Variable</targetReference>
            </connector>
            <label>LC selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Potential on the related Project is filled or not.</description>
        <name>Potential_filled</name>
        <label>Potential filled?</label>
        <locationX>336</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Potential is not filled</defaultConnectorLabel>
        <rules>
            <name>Potential_is_filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project__r.Potential__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project</targetReference>
            </connector>
            <label>Potential is filled</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether Rent is selected as Project Potential.</description>
        <name>Rent_Potential_selected</name>
        <label>Rent Potential selected?</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>EKW_Potential_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rent not selected</defaultConnectorLabel>
        <rules>
            <name>Rent_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.Potential__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RentPotential_Variable</targetReference>
            </connector>
            <label>Rent selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether SuK is selected as Project Potential.</description>
        <name>SuK_Potential_selected</name>
        <label>SuK Potential selected?</label>
        <locationX>182</locationX>
        <locationY>2663</locationY>
        <defaultConnector>
            <targetReference>Get_Territory2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SuK not selected</defaultConnectorLabel>
        <rules>
            <name>SuK_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.Potential__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SuKPotential_Variable</targetReference>
            </connector>
            <label>SuK selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the related Project has TS selected as Potential.</description>
        <name>TS_Potential_selected</name>
        <label>TS Potential selected?</label>
        <locationX>182</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>LC_Potential_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TS not selected</defaultConnectorLabel>
        <rules>
            <name>TS_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.Potential__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TSPotential_Variable</targetReference>
            </connector>
            <label>TS selected</label>
        </rules>
    </decisions>
    <description>:: Gets all Project territories of the related Project and writes them to the Project
:: Assigns Users based on their territory to the Project Team in case Project Potential is filled</description>
    <environments>Default</environments>
    <formulas>
        <name>PT_Lvl_2_Name_Remove_Comma</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Text_PT_Lvl_2_Name}, &quot;,&quot;, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>PT_Lvl_3_Id_Remove_Comma</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Text_PT_Lvl_3_Id}, &quot;,&quot;, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>PT_Lvl_3_Name_Remove_Comma</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Text_PT_Lvl_3_Name}, &quot;,&quot;, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>TerritoryLvl2Names</name>
        <dataType>String</dataType>
        <expression>{!ProjectTerritoriesLvl2}</expression>
    </formulas>
    <formulas>
        <name>TerritoryLvl3Ids</name>
        <dataType>String</dataType>
        <expression>{!ProjectTerritoryIdsLvl3}</expression>
    </formulas>
    <formulas>
        <name>TerritoryLvl3Names</name>
        <dataType>String</dataType>
        <expression>{!ProjectTerritoriesLvl3}</expression>
    </formulas>
    <interviewLabel>Project Territory After Insert Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Territory After Insert Flow</label>
    <loops>
        <name>Iterate_over_Territories</name>
        <label>Iterate over Territories</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <collectionReference>ProjectTerritories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Project_Territories_to_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_PT_Collection_to_Text_Variable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Project_Territories</name>
        <label>Get all Project Territories</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_Territories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </filters>
        <object>Project_Territory__c</object>
        <outputReference>ProjectTerritories</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Territory_ID__c</queriedFields>
        <queriedFields>Territory_Level_1__c</queriedFields>
        <queriedFields>Territory_Level_2__c</queriedFields>
        <queriedFields>Territory_Name__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Retrieves details about the associated Project.</description>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rent_Potential_selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves all Territories associated to the Project with selected Potentials.</description>
        <name>Get_Territory2</name>
        <label>Query Territory2</label>
        <locationX>182</locationX>
        <locationY>2963</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_Users_in_Territory</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>Core_External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Territory_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RentPotential</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EKWPotential</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AUPotential</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TSPotential</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LCPotential</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SuKPotential</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_Users_in_Territory</name>
        <label>Query Users in Territory</label>
        <locationX>182</locationX>
        <locationY>3071</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Project_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Territory2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Sales_Representative_Accomodation_Units_Project</stringValue>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inside_Sales_Customer_Consultant_Rental_Construction_Logistic_LCM</stringValue>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Sales_Representative_Accomodation_Units_Standard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserTerritory2Association</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>336</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Potential_filled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Time__c</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territories_Level_2__c</field>
            <value>
                <elementReference>PT_Lvl_2_Name_Remove_Comma</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territories_Level_3__c</field>
            <value>
                <elementReference>PT_Lvl_3_Name_Remove_Comma</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Ids_Level_3__c</field>
            <value>
                <elementReference>PT_Lvl_3_Id_Remove_Comma</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_Project_Territories</targetReference>
        </connector>
        <object>Project_Territory__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AUPotential</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EKWPotential</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LCPotential</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectTeamMemberVariable2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectTerritories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Territory__c</objectType>
    </variables>
    <variables>
        <name>ProjectTerritoriesLvl2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectTerritoriesLvl3</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectTerritoryIdsLvl3</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RentPotential</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SuKPotential</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Text_PT_Lvl_2_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Text_PT_Lvl_3_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Text_PT_Lvl_3_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TSPotential</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Users2TerritoryAssociations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>UserTerritory2Association</objectType>
    </variables>
</Flow>
