force-app/main/default/flows/ZR_Project_Account_Lead_Relation_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Task_to_Project_Owner</name>
        <label>Task to Project Owner</label>
        <locationX>308</locationX>
        <locationY>755</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>Task_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>Task_Description</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>Current_Date_plus_7_Days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Project_Owner_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Owner_Id_for_Task</name>
        <label>Assign Owner Id for Task</label>
        <locationX>308</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Project_Owner_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Project.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_to_Project_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Sales_Excellence_Project_Owner</name>
        <label>Is Sales Excellence Project Owner?</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sales Excellence is not Owner</defaultConnectorLabel>
        <rules>
            <name>Sales_Excellence_is_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.Owner_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Excellence</stringValue>
                </rightValue>
            </conditions>
            <label>Sales Excellence is Owner</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Current_Date_plus_7_Days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 7</expression>
    </formulas>
    <formulas>
        <name>Task_Description</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_Project.Owner:User.LanguageLocaleKey}, &quot;de&quot;), 
&quot;Dem Projekt &quot; + {!Get_Project.Name} + &quot; wurde ein Account Lead namens &quot; + {!$Record.Account_Lead__r.Name} + &quot; hinzugefügt.&quot;, 
&quot;An Account Lead named &quot; + {!$Record.Account_Lead__r.Name} + &quot; has been added to the Project &quot; + {!Get_Project.Name} + &quot;.&quot;)</expression>
    </formulas>
    <formulas>
        <name>Task_Subject</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_Project.Owner:User.LanguageLocaleKey}, &quot;de&quot;), &quot;Ein Account Lead wurde mit deinem Projekt verbunden&quot;, &quot;An Account Lead has been connected to your Project&quot;)</expression>
    </formulas>
    <interviewLabel>ZR Project Account Lead Relation After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Account Lead Relation After Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Lead</name>
        <label>Get Account Lead</label>
        <locationX>308</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Id_for_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Lead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Lead__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Sales_Excellence_Project_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Owner_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
        <object>Project_Account_Lead_Relation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Project_Owner_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
