force-app/main/default/flows/ZR_Project_After_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Project_Team_Members_in_AU_Territory</name>
        <label>Create Project Team Members in AU Territory</label>
        <locationX>209</locationX>
        <locationY>2111</locationY>
        <actionName>FlowActionProjectTeamMember</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>TS_added</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userTerritoryAssociations</name>
            <value>
                <elementReference>Get_Users_in_AU_Territory</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowActionProjectTeamMember</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Project_Team_Members_in_EKW_Territory</name>
        <label>Create Project Team Members in EKW Territory</label>
        <locationX>209</locationX>
        <locationY>1487</locationY>
        <actionName>FlowActionProjectTeamMember</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AU_added</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userTerritoryAssociations</name>
            <value>
                <elementReference>Get_Users_in_EKW_Territory</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowActionProjectTeamMember</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Project_Team_Members_in_LC_Territory</name>
        <label>Create Project Team Members in LC Territory</label>
        <locationX>209</locationX>
        <locationY>3359</locationY>
        <actionName>FlowActionProjectTeamMember</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SuK_added</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userTerritoryAssociations</name>
            <value>
                <elementReference>Get_Users_in_LC_Territory</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowActionProjectTeamMember</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Project_Team_Members_in_Rent_Territory</name>
        <label>Create Project Team Members in Rent Territory</label>
        <locationX>209</locationX>
        <locationY>863</locationY>
        <actionName>FlowActionProjectTeamMember</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EKW_added</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userTerritoryAssociations</name>
            <value>
                <elementReference>Get_Users_in_Rent_Territory</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowActionProjectTeamMember</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Project_Team_Members_in_SuK_Territory</name>
        <label>Create Project Team Members in SuK Territory</label>
        <locationX>209</locationX>
        <locationY>3983</locationY>
        <actionName>FlowActionProjectTeamMember</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Changes_to_History_Tracking_Field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userTerritoryAssociations</name>
            <value>
                <elementReference>Get_Users_in_SuK_Territory</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowActionProjectTeamMember</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Project_Team_Members_in_TS_Territory</name>
        <label>Create Project Team Members in TS Territory</label>
        <locationX>209</locationX>
        <locationY>2735</locationY>
        <actionName>FlowActionProjectTeamMember</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LC_added</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userTerritoryAssociations</name>
            <value>
                <elementReference>Get_Users_in_TS_Territory</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowActionProjectTeamMember</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_English</name>
        <label>Send Notification English</label>
        <locationX>50</locationX>
        <locationY>7643</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_English.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBodyEnglish</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitleEnglish</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>FinalRecipientsEnglish</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_German</name>
        <label>Send Notification German</label>
        <locationX>50</locationX>
        <locationY>7235</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Recipients_Check_English</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_German.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBodyGerman</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitleGerman</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>FinalRecipientsGerman</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_User_to_Final_Recipients_English</name>
        <label>Add User to Final Recipients English</label>
        <locationX>270</locationX>
        <locationY>6743</locationY>
        <assignmentItems>
            <assignToReference>FinalRecipientsEnglish</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Recipients_English</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Recipients_English</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_User_to_Final_Recipients_German</name>
        <label>Add User to Final Recipients German</label>
        <locationX>270</locationX>
        <locationY>6251</locationY>
        <assignmentItems>
            <assignToReference>FinalRecipientsGerman</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Recipients_German</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Recipients_German</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Owner_Id_English</name>
        <label>Assign Project Owner Id English</label>
        <locationX>369</locationX>
        <locationY>5675</locationY>
        <assignmentItems>
            <assignToReference>RecipientIDsEnglish</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Recipients_German</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Owner_Id_German</name>
        <label>Assign Project Owner Id German</label>
        <locationX>105</locationX>
        <locationY>5675</locationY>
        <assignmentItems>
            <assignToReference>RecipientIDsGerman</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Recipients_German</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Team_Member_Id_to_Variable_English</name>
        <label>Assign Team Member Id to Variable English</label>
        <locationX>490</locationX>
        <locationY>4907</locationY>
        <assignmentItems>
            <assignToReference>RecipientIDsEnglish</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Team_Members.Team_Member__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Team_Member_Id_to_Variable_German</name>
        <label>Assign Team Member Id to Variable German</label>
        <locationX>226</locationX>
        <locationY>4907</locationY>
        <assignmentItems>
            <assignToReference>RecipientIDsGerman</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Team_Members.Team_Member__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Team_Members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks whether the Potential AU has been added to the Project.</description>
        <name>AU_added</name>
        <label>AU added?</label>
        <locationX>341</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>TS_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AU is not added</defaultConnectorLabel>
        <rules>
            <name>AU_is_added</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Potential__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Potential__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_Territory_AU</targetReference>
            </connector>
            <label>AU is added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changes_to_History_Tracking_Field</name>
        <label>Changes to History Tracking Field</label>
        <locationX>495</locationX>
        <locationY>4259</locationY>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR (11 AND 12)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Address__City__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Project_Address__City__s</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Construction_Start__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Project_Construction_Start__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Construction_End__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Project_Construction_End__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Announcement_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Announcement_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Address__PostalCode__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Project_Address__PostalCode__s</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Construction_Progress__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Project_Construction_Progress__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Submission_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Submission_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Volume__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Total_Volume__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Internal_Project_Construction_Progress__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Internal_Project_Construction_Progress__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Core_Source_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BIS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_Team</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Potential EKW has been added to the Project.</description>
        <name>EKW_added</name>
        <label>EKW added?</label>
        <locationX>341</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>AU_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EKW is not added</defaultConnectorLabel>
        <rules>
            <name>EKW_is_added</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Potential__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Potential__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_Territory_EKW</targetReference>
            </connector>
            <label>EKW is added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_active_User</name>
        <label>Is Owner active User</label>
        <locationX>435</locationX>
        <locationY>5459</locationY>
        <defaultConnector>
            <targetReference>Loop_over_Recipients_German</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner is not active</defaultConnectorLabel>
        <rules>
            <name>Owner_is_active_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Language</targetReference>
            </connector>
            <label>Owner is active User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_Project_Team_Member</name>
        <label>Is Owner Project Team Member</label>
        <locationX>182</locationX>
        <locationY>5351</locationY>
        <defaultConnector>
            <targetReference>Is_Owner_active_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner not in Team</defaultConnectorLabel>
        <rules>
            <name>Owner_in_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientIDsGerman</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Owner:User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Recipients_German</targetReference>
            </connector>
            <label>Owner in Team</label>
        </rules>
    </decisions>
    <decisions>
        <description>Cecks whether the Potential of the Project has been changed.</description>
        <name>Is_Potential_changed</name>
        <label>Is Potential changed?</label>
        <locationX>495</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Changes_to_History_Tracking_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Potential not changed</defaultConnectorLabel>
        <rules>
            <name>Potential_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Potential__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Potential__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rent_added</targetReference>
            </connector>
            <label>Potential changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Recipient_Last_Modified_User_English</name>
        <label>Is Recipient Last Modified User English</label>
        <locationX>402</locationX>
        <locationY>6635</locationY>
        <defaultConnector>
            <targetReference>Loop_over_Recipients_English</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User is last modified User English</defaultConnectorLabel>
        <rules>
            <name>User_is_not_Last_Modified_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Recipients_English</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedBy.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_User_to_Final_Recipients_English</targetReference>
            </connector>
            <label>User is not Last Modified English</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Recipient_Last_Modified_User_German</name>
        <label>Is Recipient Last Modified User German</label>
        <locationX>402</locationX>
        <locationY>6143</locationY>
        <defaultConnector>
            <targetReference>Loop_over_Recipients_German</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User is last modified User German</defaultConnectorLabel>
        <rules>
            <name>User_is_not_Last_Modified_German</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Recipients_German</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedBy.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_User_to_Final_Recipients_German</targetReference>
            </connector>
            <label>User is not Last Modified German</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Team_Member_active_User</name>
        <label>Is Team Member active User</label>
        <locationX>556</locationX>
        <locationY>4691</locationY>
        <defaultConnector>
            <targetReference>Iterate_over_Team_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Team Member is inactive</defaultConnectorLabel>
        <rules>
            <name>Team_Member_is_active_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Team_Members.Team_Member__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Team_Member_Language</targetReference>
            </connector>
            <label>Team Member is active User</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Potential LC has been added to the Project.</description>
        <name>LC_added</name>
        <label>LC added?</label>
        <locationX>341</locationX>
        <locationY>2927</locationY>
        <defaultConnector>
            <targetReference>SuK_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LC is not added</defaultConnectorLabel>
        <rules>
            <name>LC_is_added</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Potential__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Potential__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_Territory_LC</targetReference>
            </connector>
            <label>LC is added</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Team_Member</name>
        <label>Team</label>
        <locationX>182</locationX>
        <locationY>4475</locationY>
        <defaultConnector>
            <targetReference>Is_Owner_Project_Team_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Team Member</defaultConnectorLabel>
        <rules>
            <name>Team_Members_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TeamMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_Team_Members</targetReference>
            </connector>
            <label>Team Members exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Language</name>
        <label>Owner Language</label>
        <locationX>237</locationX>
        <locationY>5567</locationY>
        <defaultConnector>
            <targetReference>Assign_Project_Owner_Id_English</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>English Owner</defaultConnectorLabel>
        <rules>
            <name>German_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_Owner_Id_German</targetReference>
            </connector>
            <label>German Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recipients_Check_English</name>
        <label>Recipients Check English</label>
        <locationX>182</locationX>
        <locationY>7427</locationY>
        <defaultConnectorLabel>No Recipients available English</defaultConnectorLabel>
        <rules>
            <name>Recipients_available_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinalRecipientsEnglish</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification_English</targetReference>
            </connector>
            <label>Recipients available English</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recipients_Check_German</name>
        <label>Recipients Check German</label>
        <locationX>182</locationX>
        <locationY>7019</locationY>
        <defaultConnector>
            <targetReference>Recipients_Check_English</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Recipients available German</defaultConnectorLabel>
        <rules>
            <name>Recipients_available_German</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinalRecipientsGerman</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification_German</targetReference>
            </connector>
            <label>Recipients available German</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Potential Rent has been added to the Project.</description>
        <name>Rent_added</name>
        <label>Rent added?</label>
        <locationX>341</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>EKW_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rent is not added</defaultConnectorLabel>
        <rules>
            <name>Rent_is_added</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Potential__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Potential__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_Territory_Rent</targetReference>
            </connector>
            <label>Rent is added</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Potential SuK has been added to the Project.</description>
        <name>SuK_added</name>
        <label>SuK added?</label>
        <locationX>341</locationX>
        <locationY>3551</locationY>
        <defaultConnector>
            <targetReference>Changes_to_History_Tracking_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LC is not added</defaultConnectorLabel>
        <rules>
            <name>SuK_is_added</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Potential__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Potential__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_Territory_SuK</targetReference>
            </connector>
            <label>SuK is added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team_Member_Language</name>
        <label>Team Member Language</label>
        <locationX>358</locationX>
        <locationY>4799</locationY>
        <defaultConnector>
            <targetReference>Assign_Team_Member_Id_to_Variable_English</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>English Team Member</defaultConnectorLabel>
        <rules>
            <name>German_Team_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Team_Members.Team_Member__r.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Team_Member_Id_to_Variable_German</targetReference>
            </connector>
            <label>German Team Member</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Potential TS has been added to the Project.</description>
        <name>TS_added</name>
        <label>TS added?</label>
        <locationX>341</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>LC_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TS is not added</defaultConnectorLabel>
        <rules>
            <name>TS_is_added</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Potential__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Potential__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_Territory_TS</targetReference>
            </connector>
            <label>TS is added</label>
        </rules>
    </decisions>
    <description>- Sends a Platform Event to Grace if Postal Code is changed to receive the territory of the record and deletes all associated Project Territories in case any existing
- Sends a notification to the Project Team and Owner of the record if changes are made to history tracking fields
- Creates Project Team Members for new Potentials</description>
    <environments>Default</environments>
    <formulas>
        <name>NotificationBodyEnglish</name>
        <dataType>String</dataType>
        <expression>{!$Record.LastModifiedBy.FirstName}+&apos; &apos;+{!$Record.LastModifiedBy.LastName}+&apos; has modified &apos;+{!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>NotificationBodyGerman</name>
        <dataType>String</dataType>
        <expression>{!$Record.LastModifiedBy.FirstName}+&apos; &apos;+{!$Record.LastModifiedBy.LastName}+&apos; hat Änderungen an dem Projekt &apos;+{!$Record.Name}+ &apos; vorgenommen!&apos;</expression>
    </formulas>
    <formulas>
        <name>NotificationTitleEnglish</name>
        <dataType>String</dataType>
        <expression>&apos;A Project has been modified!&apos;</expression>
    </formulas>
    <formulas>
        <name>NotificationTitleGerman</name>
        <dataType>String</dataType>
        <expression>&apos;Ein Projekt wurde verändert!&apos;</expression>
    </formulas>
    <interviewLabel>Project After Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project After Update Flow</label>
    <loops>
        <name>Iterate_over_Team_Members</name>
        <label>Iterate over Team Members</label>
        <locationX>138</locationX>
        <locationY>4583</locationY>
        <collectionReference>TeamMember</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Team_Member_active_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Owner_Project_Team_Member</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Recipients_English</name>
        <label>Loop over Recipients English</label>
        <locationX>182</locationX>
        <locationY>6527</locationY>
        <collectionReference>RecipientIDsEnglish</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Recipient_Last_Modified_User_English</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Recipients_Check_German</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Recipients_German</name>
        <label>Loop over Recipients German</label>
        <locationX>182</locationX>
        <locationY>6035</locationY>
        <collectionReference>RecipientIDsGerman</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Recipient_Last_Modified_User_German</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_over_Recipients_English</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification_English</name>
        <label>Get Custom Notification English</label>
        <locationX>50</locationX>
        <locationY>7535</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification_English</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_for_Updates_on_Projects</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_German</name>
        <label>Get Custom Notification German</label>
        <locationX>50</locationX>
        <locationY>7127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification_German</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_for_Updates_on_Projects</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Team</name>
        <label>Get Project Team</label>
        <locationX>182</locationX>
        <locationY>4367</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Team_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Project_Team__c</object>
        <outputReference>TeamMember</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Team_Member__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the Project Territory for AU Potential.</description>
        <name>Get_Project_Territory_AU</name>
        <label>Get Project Territory AU</label>
        <locationX>209</locationX>
        <locationY>1787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Territory2_AU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Territory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the Project Territory for EKW Potential.</description>
        <name>Get_Project_Territory_EKW</name>
        <label>Get Project Territory EKW</label>
        <locationX>209</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Territory2_EKW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>4</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Territory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the Project Territory for LC Potential.</description>
        <name>Get_Project_Territory_LC</name>
        <label>Get Project Territory LC</label>
        <locationX>209</locationX>
        <locationY>3035</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Territory2_LC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Territory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the Project Territory for Rent Potential.</description>
        <name>Get_Project_Territory_Rent</name>
        <label>Get Project Territory Rent</label>
        <locationX>209</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Territory2_Rent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Territory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the Project Territory for SuK Potential.</description>
        <name>Get_Project_Territory_SuK</name>
        <label>Get Project Territory SuK</label>
        <locationX>209</locationX>
        <locationY>3659</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Territory2_SuK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>6</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Territory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the Project Territory for TS Potential.</description>
        <name>Get_Project_Territory_TS</name>
        <label>Get Project Territory TS</label>
        <locationX>209</locationX>
        <locationY>2411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Territory2_TS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Territory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the EKW Territory associated to the Project.</description>
        <name>Get_Territory2_AU</name>
        <label>Get Territory2 AU</label>
        <locationX>209</locationX>
        <locationY>1895</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Users_in_AU_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Core_External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Territory_AU.Territory_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the EKW Territory associated to the Project.</description>
        <name>Get_Territory2_EKW</name>
        <label>Get Territory2 EKW</label>
        <locationX>209</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Users_in_EKW_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Core_External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Territory_EKW.Territory_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the LC Territory associated to the Project.</description>
        <name>Get_Territory2_LC</name>
        <label>Get Territory2 LC</label>
        <locationX>209</locationX>
        <locationY>3143</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Users_in_LC_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Core_External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Territory_LC.Territory_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the Rent Territory associated to the Project.</description>
        <name>Get_Territory2_Rent</name>
        <label>Get Territory2 Rent</label>
        <locationX>209</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Users_in_Rent_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Core_External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Territory_Rent.Territory_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the SuK Territory associated to the Project.</description>
        <name>Get_Territory2_SuK</name>
        <label>Get Territory2 SuK</label>
        <locationX>209</locationX>
        <locationY>3767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Users_in_SuK_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Core_External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Territory_SuK.Territory_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the TS Territory associated to the Project.</description>
        <name>Get_Territory2_TS</name>
        <label>Get Territory2 TS</label>
        <locationX>209</locationX>
        <locationY>2519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Users_in_TS_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Core_External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Territory_TS.Territory_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves all Users assigned to the Territory.</description>
        <name>Get_Users_in_AU_Territory</name>
        <label>Get Users in AU Territory</label>
        <locationX>209</locationX>
        <locationY>2003</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Project_Team_Members_in_AU_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Territory2_AU.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Sales_Representative_Accommodation_Units_Project</stringValue>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inside_Sales_Customer_Consultant_Rental_Construction_Logistic_LCM</stringValue>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Sales_Representative_Accommodation_Units_Standard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserTerritory2Association</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves all Users assigned to the Territory.</description>
        <name>Get_Users_in_EKW_Territory</name>
        <label>Get Users in EKW Territory</label>
        <locationX>209</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Project_Team_Members_in_EKW_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Territory2_EKW.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Consultant Logistic and Sales</stringValue>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Sales Representative Electricity and Climate</stringValue>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inside Sales/ Customer Consultant Electricity and Climate</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserTerritory2Association</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves all Users assigned to the Territory.</description>
        <name>Get_Users_in_LC_Territory</name>
        <label>Get Users in LC Territory</label>
        <locationX>209</locationX>
        <locationY>3251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Project_Team_Members_in_LC_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Territory2_LC.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserTerritory2Association</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves all Users assigned to the Territory.</description>
        <name>Get_Users_in_Rent_Territory</name>
        <label>Get Users in Rent Territory</label>
        <locationX>209</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Project_Team_Members_in_Rent_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Territory2_Rent.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserTerritory2Association</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves all Users assigned to the Territory.</description>
        <name>Get_Users_in_SuK_Territory</name>
        <label>Get Users in SuK Territory</label>
        <locationX>209</locationX>
        <locationY>3875</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Project_Team_Members_in_SuK_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Territory2_SuK.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserTerritory2Association</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves all Users assigned to the Territory.</description>
        <name>Get_Users_in_TS_Territory</name>
        <label>Get Users in TS Territory</label>
        <locationX>209</locationX>
        <locationY>2627</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Project_Team_Members_in_TS_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Territory2_TS.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserTerritory2Association</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>369</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Potential_changed</targetReference>
        </connector>
        <object>Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AUPotential</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CountProjectTerritories</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EKWPotential</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FeedItemVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>FinalRecipientsEnglish</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinalRecipientsGerman</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HistoryItemVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project__History</objectType>
    </variables>
    <variables>
        <name>LCPotential</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecipientIDsEnglish</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecipientIDsGerman</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RentPotential</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Team__c</objectType>
    </variables>
    <variables>
        <name>TSPotential</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
