force-app/main/default/flows/ZR_Project_Before_Insert_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Address_to_Custom_Address_Fields</name>
        <label>Assign Address to Custom Address Fields</label>
        <locationX>2162</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Record.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project_Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project_Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project_Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_for_Duplicate_Check_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BIS_Project_Record_Type</name>
        <label>Assign BIS Project Record Type</label>
        <locationX>842</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BIS_Project_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_Construction_Progress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Internal_Progress_Completion</name>
        <label>Assign Internal Progress Completion</label>
        <locationX>1370</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Internal_Project_Construction_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completion</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Internal_Progress_Demolition</name>
        <label>Assign Internal Progress Demolition</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Internal_Project_Construction_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Demolition</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Internal_Progress_Discussion</name>
        <label>Assign Internal Progress Discussion</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Internal_Project_Construction_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discussion</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Internal_Progress_Planning</name>
        <label>Assign Internal Progress Planning</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Internal_Project_Construction_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Planning</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Internal_Progress_Pre_Planning</name>
        <label>Assign Internal Progress Pre Planning</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Internal_Project_Construction_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pre Planning</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Internal_Progress_Shortly_before_Start</name>
        <label>Assign Internal Progress Shortly before Start</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Internal_Project_Construction_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shortly before Start</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Progress_Completion</name>
        <label>Assign Progress Completion</label>
        <locationX>2954</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Project_Construction_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>7</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Progress_Discussion</name>
        <label>Assign Progress Discussion</label>
        <locationX>1898</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Project_Construction_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Progress_Implementation</name>
        <label>Assign Progress Implementation</label>
        <locationX>3218</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Project_Construction_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Progress_Planning</name>
        <label>Assign Progress Planning</label>
        <locationX>2426</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Project_Construction_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Progress_Pre_Planning</name>
        <label>Assign Progress Pre Planning</label>
        <locationX>2162</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Project_Construction_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Progress_Shortly_before_Start</name>
        <label>Assign Progress Shortly before Start</label>
        <locationX>2690</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Project_Construction_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Salesforce_Project_Record_Type</name>
        <label>Assign Salesforce Project Record Type</label>
        <locationX>2558</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Salesforce_Project_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Internal_Project_Construction_Progress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_for_Duplicate_Check_Field</name>
        <label>Assign Values for Duplicate Check Field</label>
        <locationX>2162</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Project_Name_for_Duplicate_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Project_Start_for_Duplicate_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project_Construction_Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Project_Volume_for_Duplicate_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Total_Volume__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_Source</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Internal_Project_Construction_Progress</name>
        <label>Internal Project / Construction Progress</label>
        <locationX>2558</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Assign_Progress_Implementation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>DiscussionInternal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Internal_Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discussion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Progress_Discussion</targetReference>
            </connector>
            <label>Discussion</label>
        </rules>
        <rules>
            <name>Pre_PlanningInternal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Internal_Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre Planning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Progress_Pre_Planning</targetReference>
            </connector>
            <label>Pre Planning</label>
        </rules>
        <rules>
            <name>PlanningInternal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Internal_Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Progress_Planning</targetReference>
            </connector>
            <label>Planning</label>
        </rules>
        <rules>
            <name>Shortly_before_StartInternal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Internal_Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shortly before Start</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Progress_Shortly_before_Start</targetReference>
            </connector>
            <label>Shortly before Start</label>
        </rules>
        <rules>
            <name>CompletionInternal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Internal_Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Progress_Completion</targetReference>
            </connector>
            <label>Completion</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks in which Progress Phase the Project is.</description>
        <name>Project_Construction_Progress</name>
        <label>Project / Construction Progress</label>
        <locationX>842</locationX>
        <locationY>827</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Discussion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Internal_Progress_Discussion</targetReference>
            </connector>
            <label>Discussion</label>
        </rules>
        <rules>
            <name>Pre_Planning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Internal_Progress_Pre_Planning</targetReference>
            </connector>
            <label>Pre Planning</label>
        </rules>
        <rules>
            <name>Planning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Internal_Progress_Planning</targetReference>
            </connector>
            <label>Planning</label>
        </rules>
        <rules>
            <name>Shortly_before_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Internal_Progress_Shortly_before_Start</targetReference>
            </connector>
            <label>Shortly before Start</label>
        </rules>
        <rules>
            <name>Implementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Internal_Progress_Demolition</targetReference>
            </connector>
            <label>Implementation</label>
        </rules>
        <rules>
            <name>Completion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Internal_Progress_Completion</targetReference>
            </connector>
            <label>Completion</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the created Project is from BIS or was manually created within SF.</description>
        <name>Project_Source</name>
        <label>Project Source?</label>
        <locationX>2162</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>BIS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Core_Source_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BIS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BIS_Project_Record_Type</targetReference>
            </connector>
            <label>BIS</label>
        </rules>
        <rules>
            <name>Salesforce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Core_Source_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Salesforce_Project_Record_Type</targetReference>
            </connector>
            <label>Salesforce</label>
        </rules>
    </decisions>
    <description>- Writes the Project Name, Start Date and Volume into the Duplicate Check fields
- Adds the Address to custom Address fields
- Maps Project / Construction Progress and Internal Project / Construction Progress
:: Assigns relevant Project Record Type</description>
    <environments>Default</environments>
    <interviewLabel>Project Before Insert Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Before Insert Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_BIS_Project_Record_Type</name>
        <label>Get BIS Project Record Type</label>
        <locationX>842</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_BIS_Project_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BIS_Project</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Salesforce_Project_Record_Type</name>
        <label>Get Salesforce Project Record Type</label>
        <locationX>2558</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Salesforce_Project_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salesforce_Project</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>2036</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Address_to_Custom_Address_Fields</targetReference>
        </connector>
        <object>Project__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
