force-app/main/default/flows/ZR_Project_Before_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_BIS_Progress_Completion</name>
        <label>Assign BIS Progress Completion</label>
        <locationX>1458</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Project_Construction_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>7</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Postal_Code_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BIS_Progress_Discussion</name>
        <label>Assign BIS Progress Discussion</label>
        <locationX>402</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Project_Construction_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Postal_Code_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BIS_Progress_Implementation</name>
        <label>Assign BIS Progress Implementation</label>
        <locationX>1722</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Project_Construction_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Postal_Code_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BIS_Progress_Planning</name>
        <label>Assign BIS Progress Planning</label>
        <locationX>930</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Project_Construction_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Postal_Code_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BIS_Progress_Pre_Planning</name>
        <label>Assign BIS Progress Pre Planning</label>
        <locationX>666</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Project_Construction_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Postal_Code_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BIS_Progress_Shortly_before_Start</name>
        <label>Assign BIS Progress Shortly before Start</label>
        <locationX>1194</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Project_Construction_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Postal_Code_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Internal_Progress_Completion</name>
        <label>Assign Internal Progress Completion</label>
        <locationX>88</locationX>
        <locationY>2495</locationY>
        <assignmentItems>
            <assignToReference>$Record.Internal_Project_Construction_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completion</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Internal_Progress_Demolition</name>
        <label>Assign Internal Progress Demolition</label>
        <locationX>1672</locationX>
        <locationY>2711</locationY>
        <assignmentItems>
            <assignToReference>$Record.Internal_Project_Construction_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Demolition</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Internal_Progress_Discussion</name>
        <label>Assign Internal Progress Discussion</label>
        <locationX>616</locationX>
        <locationY>2711</locationY>
        <assignmentItems>
            <assignToReference>$Record.Internal_Project_Construction_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discussion</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Internal_Progress_Planning</name>
        <label>Assign Internal Progress Planning</label>
        <locationX>1144</locationX>
        <locationY>2711</locationY>
        <assignmentItems>
            <assignToReference>$Record.Internal_Project_Construction_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Planning</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Internal_Progress_Pre_Planning</name>
        <label>Assign Internal Progress Pre Planning</label>
        <locationX>880</locationX>
        <locationY>2711</locationY>
        <assignmentItems>
            <assignToReference>$Record.Internal_Project_Construction_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pre Planning</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Internal_Progress_Shortly_before_Start</name>
        <label>Assign Internal Progress Shortly before Start</label>
        <locationX>1408</locationX>
        <locationY>2711</locationY>
        <assignmentItems>
            <assignToReference>$Record.Internal_Project_Construction_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shortly before Start</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_new_Address_to_custom_Address_fields</name>
        <label>Assign new Address to custom Address fields</label>
        <locationX>1458</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>$Record.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project_Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project_Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project_Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Relevant_Data_changed_for_Duplicate_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_for_Duplicate_Check</name>
        <label>Assign Values for Duplicate Check</label>
        <locationX>1458</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>$Record.Project_Name_for_Duplicate_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Project_Volume_for_Duplicate_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Total_Volume__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Project_Start_for_Duplicate_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project_Construction_Start__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_Construction_Start_and_Progress_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mark_Manual_Change</name>
        <label>Mark Manual Change</label>
        <locationX>138</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Manual_Internal_Progress_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Postal_Code_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_prior_Project_Construction_Progress</name>
        <label>Save prior Project Construction Progress</label>
        <locationX>1722</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_of_Change_Project_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_prior_Project_Construction_Start_and_Progress</name>
        <label>Save prior Project Construction Start and Progress</label>
        <locationX>1194</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_of_Change_Project_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Date_of_Change_Project_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_prior_Project_Construction_Start_Date</name>
        <label>Save prior Project Construction Start Date</label>
        <locationX>1458</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_of_Change_Project_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the helper field to true which is used in Project After Update Flow.</description>
        <name>Set_Helper_Field</name>
        <label>Set Helper Field</label>
        <locationX>1458</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>$Record.Postal_Code_Changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Address_changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Address_changed</name>
        <label>Address changed?</label>
        <locationX>1590</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Was_Relevant_Data_changed_for_Duplicate_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Address was not changed</defaultConnectorLabel>
        <rules>
            <name>Address_was_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Project_Address__Street__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Project_Address__Street__s</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Project_Address__PostalCode__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Project_Address__PostalCode__s</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Project_Address__City__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Project_Address__City__s</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_Address_to_custom_Address_fields</targetReference>
            </connector>
            <label>Address was changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_for_Internal_Progress</name>
        <label>Change for Internal Progress?</label>
        <locationX>2332</locationX>
        <locationY>2387</locationY>
        <defaultConnectorLabel>NO Change Internal Progress</defaultConnectorLabel>
        <rules>
            <name>Internal_Progress_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Internal_Project_Construction_Progress__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Internal_Project_Construction_Progress__c</elementReference>
                </rightValue>
            </conditions>
            <label>Internal Progress Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_User</name>
        <label>Change User?</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Mark_Manual_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other User</defaultConnectorLabel>
        <rules>
            <name>BIS_Integration_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.BIS_Project_Import_Config__c.BIS_Import_Username__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Postal_Code_changed</targetReference>
            </connector>
            <label>BIS Integration User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Internal_Progress_Value</name>
        <label>Internal Progress Value?</label>
        <locationX>1062</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Assign_BIS_Progress_Implementation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>DiscussionInternal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Internal_Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discussion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BIS_Progress_Discussion</targetReference>
            </connector>
            <label>Discussion</label>
        </rules>
        <rules>
            <name>Pre_PlanningInternal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Internal_Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre Planning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BIS_Progress_Pre_Planning</targetReference>
            </connector>
            <label>Pre Planning</label>
        </rules>
        <rules>
            <name>PlanningInternal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Internal_Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BIS_Progress_Planning</targetReference>
            </connector>
            <label>Planning</label>
        </rules>
        <rules>
            <name>Shortly_before_StartInternal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Internal_Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shortly before Start</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BIS_Progress_Shortly_before_Start</targetReference>
            </connector>
            <label>Shortly before Start</label>
        </rules>
        <rules>
            <name>Completion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Internal_Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BIS_Progress_Completion</targetReference>
            </connector>
            <label>Completion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Internal_Progress_changed</name>
        <label>Is Internal Progress changed?</label>
        <locationX>1590</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Is_Postal_Code_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Intern Progress NOT changed</defaultConnectorLabel>
        <rules>
            <name>Internal_Progress_changed2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Internal_Project_Construction_Progress__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Internal_Project_Construction_Progress__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project_Source2</targetReference>
            </connector>
            <label>Internal Progress changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Postal Code has been changed or not.</description>
        <name>Is_Postal_Code_changed</name>
        <label>Is Postal Code changed?</label>
        <locationX>1590</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Address_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Postal Code NOT changed</defaultConnectorLabel>
        <rules>
            <name>Postal_Code_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Address__PostalCode__s</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Project_Address__PostalCode__s</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Helper_Field</targetReference>
            </connector>
            <label>Postal Code changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Internal Progress has been updated manually in the past.</description>
        <name>Manual_Change_on_Internal_Progress</name>
        <label>Manual Change on Internal Progress?</label>
        <locationX>814</locationX>
        <locationY>2495</locationY>
        <defaultConnector>
            <targetReference>New_Progress_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Manual Update False</defaultConnectorLabel>
        <rules>
            <name>Manual_Update_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Manual_Internal_Progress_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Manual Update TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Progress_is_Completion</name>
        <label>New Progress is Completion?</label>
        <locationX>451</locationX>
        <locationY>2387</locationY>
        <defaultConnector>
            <targetReference>Manual_Change_on_Internal_Progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Completion2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Internal_Progress_Completion</targetReference>
            </connector>
            <label>Completion</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Progress_Value</name>
        <label>New Progress Value?</label>
        <locationX>1276</locationX>
        <locationY>2603</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Discussion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Internal_Progress_Discussion</targetReference>
            </connector>
            <label>Discussion</label>
        </rules>
        <rules>
            <name>Pre_Planning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Internal_Progress_Pre_Planning</targetReference>
            </connector>
            <label>Pre Planning</label>
        </rules>
        <rules>
            <name>Planning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Internal_Progress_Planning</targetReference>
            </connector>
            <label>Planning</label>
        </rules>
        <rules>
            <name>Shortly_before_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Internal_Progress_Shortly_before_Start</targetReference>
            </connector>
            <label>Shortly before Start</label>
        </rules>
        <rules>
            <name>Implementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Construction_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Internal_Progress_Demolition</targetReference>
            </connector>
            <label>Implementation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Construction_Start_and_Progress_Changed</name>
        <label>Project Construction Start and Progress Changed</label>
        <locationX>1590</locationX>
        <locationY>1871</locationY>
        <defaultConnectorLabel>No change to Project Construction Start and Progress Change</defaultConnectorLabel>
        <rules>
            <name>Project_Construction_Start_and_Progress_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Construction_Start__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Project_Construction_Start__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Construction_Progress__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Project_Construction_Progress__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_prior_Project_Construction_Start_and_Progress</targetReference>
            </connector>
            <label>Project Construction Start and Progress Change</label>
        </rules>
        <rules>
            <name>Project_Construction_Start_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Construction_Start__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Project_Construction_Start__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_prior_Project_Construction_Start_Date</targetReference>
            </connector>
            <label>Project Construction Start Changed</label>
        </rules>
        <rules>
            <name>Project_Construction_Progress_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Construction_Progress__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Project_Construction_Progress__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_prior_Project_Construction_Progress</targetReference>
            </connector>
            <label>Project Construction Progress Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Source</name>
        <label>Project Source?</label>
        <locationX>1590</locationX>
        <locationY>2279</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>BIS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Core_Source_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BIS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Progress_is_Completion</targetReference>
            </connector>
            <label>BIS</label>
        </rules>
        <rules>
            <name>Salesforce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Core_Source_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_for_Internal_Progress</targetReference>
            </connector>
            <label>Salesforce</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Source2</name>
        <label>Project Source?</label>
        <locationX>1018</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Is_Postal_Code_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>BIS2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Core_Source_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BIS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_User</targetReference>
            </connector>
            <label>BIS</label>
        </rules>
        <rules>
            <name>Salesforce2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Core_Source_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_Progress_Value</targetReference>
            </connector>
            <label>Salesforce</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Relevant_Data_changed_for_Duplicate_Check</name>
        <label>Was Relevant Data changed for Duplicate Check?</label>
        <locationX>1590</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Project_Construction_Start_and_Progress_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Relevant Data changed</defaultConnectorLabel>
        <rules>
            <name>Relevant_Data_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Project_Construction_Start__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Project_Construction_Start__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Total_Volume__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Total_Volume__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_for_Duplicate_Check</targetReference>
            </connector>
            <label>Relevant Data changed</label>
        </rules>
    </decisions>
    <description>- Assigns the current date to the Date of Change fields for Project Start and Project Process
- Writes the Project Name, Start Date and Volume into the Duplicate Check fields
- Updates the custom Address fields if the Address has been changed
- Set helper field &quot;Postal Code Changed?&quot; which is used in Project After Update Flow
- Updates Internal Project / Construction Progress based on BIS Project / Construction Progress for BIS Projects
- Sets Manual Change checkbox in case Internal Progress is changed by any other than the BIS Integration User for BIS Projects
- Updates BIS Project / Construction Progress based on Internal Project / Construction Progress for Salesforce Projects</description>
    <environments>Default</environments>
    <interviewLabel>Project Before Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Before Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1464</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Internal_Progress_changed</targetReference>
        </connector>
        <object>Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
