force-app/main/default/flows/ZR_Quote_After_Insert_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Check_if_Createdby_was_done_By_IntegrationUser</name>
        <label>Check if Createdby was done By IntegrationUser</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Create_Platform_Event_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Integration User</defaultConnectorLabel>
        <rules>
            <name>Yes_Integration_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Integration_User_Id.Id</elementReference>
                </rightValue>
            </conditions>
            <label>Yes: Integration User</label>
        </rules>
    </decisions>
    <description>- Sends Platform Event to Grace if the record has been created by anyone other than the Integration User</description>
    <environments>Default</environments>
    <interviewLabel>Quote After Insert Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote After Insert Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Platform_Event_0</name>
        <label>Create Platform Event</label>
        <locationX>308</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Account_Customer_Number__c</field>
            <value>
                <elementReference>$Record.Account__r.Core_Customer_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Person_ID__c</field>
            <value>
                <elementReference>$Record.Contact__r.PersonID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Source_System__c</field>
            <value>
                <elementReference>$Record.Core_Source_System__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exact_Source__c</field>
            <value>
                <elementReference>$Record.Exact_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_City__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Construction_Site_Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Country__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Construction_Site_Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_PostalCode__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Construction_Site_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Street__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Construction_Site_Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Reference__c</field>
            <value>
                <elementReference>$Record.Order_Reference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesforce_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_ID__c</field>
            <value>
                <elementReference>$Record.Territory_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Category__c</field>
            <value>
                <elementReference>$Record.Transaction_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Type__c</field>
            <value>
                <elementReference>$Record.Transaction_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Email__c</field>
            <value>
                <elementReference>$Record.CreatedBy.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Quote_PE__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Integration_User_Id</name>
        <label>Get Integration User Id</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Createdby_was_done_By_IntegrationUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Integration User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Integration_User_Id</targetReference>
        </connector>
        <object>Quote__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
