force-app/main/default/flows/ZR_Quote_Before_Insert_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Copies Opp Territory to Quote.</description>
        <name>Assign_Opp_Territory</name>
        <label>Assign Opp Territory</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Territory2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Territory_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Territory2.Core_External_ID__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Checks whether the user wants to use the Territory from Opp or not.</description>
        <name>Use_Territory_from_Opp</name>
        <label>Use Territory from Opp?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Do not use Opp Territory</defaultConnectorLabel>
        <rules>
            <name>Use_Opp_Territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Use_Territory_from_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opp_Territory</targetReference>
            </connector>
            <label>Use Opp Territory</label>
        </rules>
    </decisions>
    <description>:: Copies Territory Information from Opp to Quote if users wishes so</description>
    <interviewLabel>Quote. Before Insert Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote. Before Insert Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Use_Territory_from_Opp</targetReference>
        </connector>
        <object>Quote__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
