force-app/main/default/flows/ZR_User_After_Insert_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Checks whether the Profile of the user is System Administrator or not.</description>
        <name>Is_User_System_Admin</name>
        <label>Is User System Admin?</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>KAM_LAM_or_Vertriebskoordination</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Admin</defaultConnectorLabel>
        <rules>
            <name>Is_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Systemadministrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Public_Group_Id</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Is Admin</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the User has a KAM or LAM or Vertriebskoordination role assigned.</description>
        <name>KAM_LAM_or_Vertriebskoordination</name>
        <label>KAM/LAM or Vertriebskoordination?</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Sales_Excellence_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User is NOT KAM/LAM/Vertriebskoordination</defaultConnectorLabel>
        <rules>
            <name>User_is_KAM_LAM_Vertiebskoordination</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KAM_LAM_Vertriebsinnendienst</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vertriebskoordination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CG_RE_Permission_Set</targetReference>
            </connector>
            <label>User is KAM/LAM/Vertiebskoordination</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the created User has Sales Excellence Role or not.</description>
        <name>Sales_Excellence_User</name>
        <label>Sales Excellence User</label>
        <locationX>446</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>NOT Sales Excellence</defaultConnectorLabel>
        <rules>
            <name>Sales_Excellence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Excellence</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Chatter_Permission_Set</targetReference>
            </connector>
            <label>Sales Excellence</label>
        </rules>
    </decisions>
    <description>- Adds System Admins to the Public Group &quot;Systemadministratoren&quot;
- Assigns Company Group Info Permission Sets to KAM/LAM/Vertriebskoordination Users
- Assigns Create Chatter Group, Account Sales Excellence and Export Reports Permission Sets to Sales Excellence Users</description>
    <environments>Default</environments>
    <interviewLabel>User After Insert Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User After Insert Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_CG_RE_Permission_Set</name>
        <label>Add CG RE Permission Set</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_1_of_Add_CG_RE_Permission_Set</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_CG_RE_Permission_Set.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Adds the new System Administrator to the related public group.</description>
        <name>Add_User_to_Group</name>
        <label>Add User to Group</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Store_Public_Group_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Assign_Account_Sales_Excellence_PS</name>
        <label>Assign Account Sales Excellence PS</label>
        <locationX>314</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Get_Export_Reports_PS</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Account_Sales_Excellence_Permission_Set.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Assign_Chatter_PS</name>
        <label>Assign Chatter PS</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Get_Account_Sales_Excellence_Permission_Set</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Chatter_Permission_Set.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Assign_Export_Reports_PS</name>
        <label>Assign Export Reports PS</label>
        <locationX>314</locationX>
        <locationY>1703</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Export_Reports_PS.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Add_CG_RE_Permission_Set</name>
        <label>Copy 1 of Add CG RE Permission Set</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Sales_Excellence_User</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_CG_Fields_Info_Permission_Set.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Sales_Excellence_Permission_Set</name>
        <label>Get Account Sales Excellence Permission Set</label>
        <locationX>314</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Sales_Excellence_PS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZR_Account_Fields_Sales_Excellence</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CG_Fields_Info_Permission_Set</name>
        <label>Get CG Fields Info Permission Set</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_CG_RE_Permission_Set</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZR_Company_Group_Fields_Info</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CG_RE_Permission_Set</name>
        <label>Get CG RE Permission Set</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CG_Fields_Info_Permission_Set</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZR_Company_Group_RE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Chatter_Permission_Set</name>
        <label>Get Chatter Permission Set</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Chatter_PS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZR_Create_Chatter_Groups</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Export_Reports_PS</name>
        <label>Get Export Reports PS</label>
        <locationX>314</locationX>
        <locationY>1595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Export_Reports_PS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZR_Export_Reports</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Store_Public_Group_Id</name>
        <label>Store Public Group Id</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_User_to_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System Administrators</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_User_System_Admin</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
